.experience-container{
    background-color: #EBB38A87;
    .experience-carousel{
    display: grid!important;
    grid-template-columns: 45% 45%;
    width: auto!important;
    align-items:flex-start;
    padding-bottom: 1rem;
    justify-content: space-between;
    .heading-container{
        margin-left: 10rem;
    }
    .carousel-content{
        .name-status{
            width: 70%;
            margin: 3rem 10rem 2rem;
            h3{
                font-size: 2.5rem;
                font-weight: 700;
                margin-bottom: 00.5rem;
            }
            h4{
                font-size: 2rem;
                font-weight: 700;
                color: var(--brick-red);
                margin-bottom: 2rem;
            }
        }
        .global-common-btn{
            margin: 3rem 10rem;
        }
    }
    .carousel-image{
        width: 60%;
        img{
            width: 100%;
            border-radius: 20px;
            box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
        }
    }
    .custom-border{
        margin-top: 1rem;
    }
}
.slick-dots{
    bottom: 0px!important;
    li{
        button{
            &::before{
                color: #fff;
                opacity: 1;
            }
        }
    }
    .slick-active{
        button{
            &::before{
                color: var(--brick-red-1)!important;
            }
        }
    }
}
}

@media(max-width:1920px){
    .experience-carousel{
        .carousel-image{
            width: 100%;
        }
    }
}
@media(max-width:1800px){
    .experience-carousel{
        .carousel-image{
            width: 80%;
        }
    }
}

@media (max-width:900px){
.experience-container{
    .experience-carousel{
        grid-template-columns: 100%;
        min-height: 650px;
        .carousel-content{
            .heading-container{
                margin-left: auto;
            }
            .name-status{
            width: 80%;
            margin: 2rem auto;
            p{
                text-align: justify;
            }
            }
        }
        .carousel-image{
            width: 80%;
            margin: 0 auto;
            margin-top: auto;
            margin-bottom: 0;
        }
    }
}
.experience-container .experience-carousel .carousel-content .global-common-btn{
    margin: 5rem 10%;
}
.experience-container .experience-carousel {
    margin-bottom: 5rem;
}
}

.experience-container .slick-dots li button::before {
    color: rgba(255, 255, 255, 1);
    opacity: 1;
    font-size: 12px !important;
  }
  
  // .magezines .experience-container .slick-dots li .slick-active button::before {
  //   font-size: 66px;
  // }
    
  .experience-container .slick-dots li.slick-active button::before {
    font-size: 16px !important;
  }

  .view_all_exp {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
  }

  .view_all_exp .global_home_btn {
    margin-top: 0px;
  }

  @media(max-width: 768px) {
    .experience-container .experience-carousel .carousel-content .name-status {
        text-align: center !important;
    }

    .experience-container .experience-carousel .carousel-content .name-status h4 {
        height: 100% !important;
        margin-bottom: 12px;
    }

    .experience-container .experience-carousel .carousel-content .name-status p {
        text-align: center !important;
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 28px;
    }

    .experience-container .slick-dots li button::before {
        color: rgba(255, 255, 255, 1);
        opacity: 1;
        font-size: 12px !important;
      }
      
      // .magezines .experience-container .slick-dots li .slick-active button::before {
      //   font-size: 66px;
      // }
        
      .experience-container .slick-dots li.slick-active button::before {
        font-size: 16px !important;
      }

      .experience-container .global-common-btn .global_home_content {
        font-size: 14px;
        font-weight: 600;
    }
  }

  

  

  @media(max-width: 2080px) {
    .experience-container .experience-carousel {
        padding-bottom: 50px !important;
    }
  }

  @media(max-width: 1380px) {
    .experience-container .experience-carousel {
        padding-bottom: 1rem !important;
    }
  }

  @media(min-width: 1930px) {
    .experience-container .experience-carousel {
    display: grid !important;
    grid-template-columns: 30% 25% !important;
    margin-bottom: 20px;
    
    justify-content: center !important;
    /* gap: 1rem; */
    // align-items: flex-start;   
}

    // .carousel-content {
    //     width: 44%;
    // }

    // .experience-container .experience-carousel .carousel-image {
    // width: 34% !important;
    // }
  }