.heading-container {
    width: max-content;
    margin: 0 auto;
}
.heading-content{
    display: flex;
    // justify-content: space-around;
    // gap: 20px;
    gap: 1rem;
    .heading-logo{
        text-align: right;
        svg{
            width: 80px;
            height: 80px;
        }
    }
    .heading-text{
        text-align: left;
    }
}
.custom-border{
    // margin-top: 1rem;
    width: 100%;
    height: 6px;
    border-radius: 50%;
    background:linear-gradient(90deg,#EBB38A87 ,#CA4625FA,var(--brick-red),#CA4625FA,#EBB38A87);
// box-shadow: 2px 2px 45px 1px rgba(202,70,37,0.5);
}

@media (max-width: 1920px) {
    .custom-border {
        height: 3px;
    }
    .heading-content {
    gap: 0.5rem;
    }
    .heading-text h1 {
        font-size: 5rem;
    }
}
@media (max-width: 1800px) {
    .heading-content {
    gap: 1rem;
    }
    .heading-text h1 {
        font-size: 4rem;
    }
    .custom-border{
        margin-top: 2rem;
    }
}

@media (max-width: 900px) {
    .heading-text h1{
        font-size: 2.25rem;
    }
}

@media (max-width:420px) {
    .heading-content{
        gap: 10px;
        justify-content: center;
        align-items: center;
        .heading-logo{
            svg{
                width: 60px;
                height: 60px;
            }
        }
        .heading-text{
            h1{
                font-size: 2.5rem;
                white-space: nowrap;
            }
            h2{
                font-size: 2rem;
            }
    }
}
}

.head-home {
    // margin: 0 !important;
}

.videos-header .head-home {
    width: 100%;
}

.videos-header .head-home .custom-border {
    width: 35%;
}