.messsage-modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00000080;
  .modal-body{
    width: 60%;
    height: 60%;
    background: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;
    position: relative;
    border-radius: 24px;
    .close-popup{
      float: right;
      position: absolute;
      font-size: 2rem;
      top: 10px;
      right: 20px;
      color: black;
      cursor: pointer;
    }
  }
}
.SUCCESS{
  color: #009944
}
.ERROR{
  color:#cf000f;
}
.WARNING{
  color: #f0541e;
}

.msg-title {
  font-size: 24px;
}

.message {
  font-size: 16px;
}

// body {
//   background: #00000080;
// }

.modal-body-wrapper {
  overflow: scroll;

}

.modal-body-wrapper::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

@media(max-width: 768px) {
  .messsage-modal .modal-body {
    width: 90%;
  }

  .msg-title {
    font-size: 19px;
  }
}