.courses-container {
    .global-common-btn {
        padding: 1rem 2rem !important;
        margin-top: 3rem !important;
    }

    .search {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 5rem;
        width: 90%;
        margin: 0 auto 22px auto;

        h1::after {
            display: inline-block;
            content: '\25BC';
            height: 5px;
            width: 5px;
            margin-right: 12px;
            color: var(--brick-red);
            transform: rotate(-90deg);
            vertical-align: middle;
            margin-top: 2.5rem;
            font-size: 3rem;
        }

        .search-bar {
            width: 25%;
        }

        label {
            display: inline-block;
            min-width: 300px;
            width: 100%;
            padding: 0.5rem 1rem;
            border: 1px solid #aaa;
            border-radius: 50px;
            font-size: 1.75rem;
            box-sizing: border-box;

            input {
                border: none;
                box-shadow: none;
                width: 90%;

                &:focus-visible {
                    border: none;
                    outline: none;
                    box-shadow: none;
                }
            }

            svg {
                float: inline-end;
                font-size: 2rem;

                path {
                    fill: #aaa !important;
                }
            }
        }

        .filter-section {
            position: relative;
            margin-top: 10px;

            .filter-btn {
                border: 1px solid rgba(202, 70, 37, 1);
                border-radius: 8px;
                display: flex;
                padding: 10px;
                color: rgba(202, 70, 37, 1);
                font-size: 16px;
                font-weight: 500;
                cursor: pointer;

                .count-badge {
                    margin-left: 4px;
                    background-color: rgba(202, 70, 37, 0.1);
                    border-radius: 50px;
                    padding: 1px 8px 2px 8px;
                }
            }



            .filter-values {
                position: absolute;
                left: 0;
                top: 60px;
                box-shadow:
                    0px -6px 3px rgba(0, 0, 0, 0.05);
                background-color: rgba(255, 255, 255, 1);
                border-radius: 8px;
                padding: 18px;
                height: max-content;
                width: max-content;

                .filter-data {
                    color: #818184;
                    font-size: 14px;
                    font-weight: 400;
                    margin: 10px 0 20px 0;
                }

                .filter-head {
                    color: #000000;
                    font-size: 16px;
                    font-weight: 400;
                }

                .filter-footer {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .clear {
                        color: #000000;
                        font-size: 12px;
                        font-weight: 400;
                        cursor: pointer;
                    }

                    .apply {
                        color: #FFFFFF;
                        font-size: 14px;
                        font-weight: 500;
                        background-color: #CA4625;
                        padding: 8px 16px;
                        border-radius: 8px;
                        cursor: pointer;
                    }

                    .opacity-btn {
                        opacity: 0.5;
                    }
                }
            }

            .label-head {
                position: relative;
                top: -2px;
            }

            .active-label-head {
                color: #CA4625;
            }
        }

        .list-sele-filters {
            display: flex;
            color: #CA4625;
            font-size: 16px;
            font-weight: 500;
            gap: 8px;
            margin: 10px 0 0 -20px;

            div {
                background-color: rgba(202, 70, 37, 0.1);
                padding: 4px 10px;
                border-radius: 20px;
            }
        }
    }

    &>.popular-courses {
        display: none;
    }

    .courses-introduction {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10vw;
        gap: 10rem;
        background: #F6F6F6;

        &>div {
            width: 100%;
        }

        h1 {
            margin-bottom: 3rem;
        }

        img {
            width: 100%;
            border-radius: 50px;
        }

        .intro-p {
            padding-bottom: 2rem;
        }
    }

    .certifications {
        padding: 0 10rem 5rem;
        padding-top: 10rem;

        h2 {
            font-weight: 700;
            text-align: center;
        }

        .certificates {
            display: flex;
            justify-content: center;
            width: 100%;
            margin: 0 auto;
            // align-items: center;
            flex-wrap: wrap;
            margin-top: 10rem;

            .certificate {
                text-align: center;
                width: 25%;
                min-width: 250px;

                .certificate-logo {
                    width: 40%;
                    margin: 0 auto;
                    margin-bottom: 3rem;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                p {
                    width: 90%;
                    margin: 0 auto;
                }
            }
        }
    }

    .course-alumni-section {
        background: #EDB58C87;
        padding: 10rem;

        .courses-alumni-content {
            width: 80%;
            margin: 0 auto;

            h1,
            p {
                margin-bottom: 2rem;
            }

            .alumins {
                display: flex;
                justify-content: space-between;
                text-align: center;
                flex-wrap: wrap;
                width: 95%;
                margin: 4rem auto;

                h4 {
                    font-size: 2rem;
                    font-weight: 700;

                }

                p {
                    margin-bottom: 0;
                }

                .alum-image {
                    width: 200px;
                    height: 200px;
                    border-radius: 50%;
                    background-color: #fff;
                    object-fit: cover;
                }

                .alum-name {
                    margin: 1rem auto;
                }
            }
        }

        .global-common-btn {
            margin: 5rem auto 0;
        }
    }

}

.browse-courses {
    padding-bottom: 3rem;

    .course-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, 320px);
        gap: 2rem;
    }

    .breadcrumbs {
        margin-top: 5rem;
        padding: 0rem 10rem;

        p {
            font-weight: 700;
        }
    }

    .course-card {
        width: auto;
    }

    .popular-courses {
        display: grid;
        width: 90%;
        margin: 0 auto;
        grid-template-columns: 25% 70%;
        gap: 3rem;
        margin-top: 10rem;

        .course-accordian {
            height: fit-content;
        }

        .accordion__item {
            background-color: #EBB38A;
            margin-bottom: 2px;
            padding: 0.5rem;

            //padding-bottom: 0;
            &:nth-child(2) {
                .accordion__button p::after {
                    display: inline-block;
                    content: "\25BC";
                    height: 10px;
                    width: 10px;
                    margin-right: 12px;
                    margin-top: 2rem;
                    vertical-align: middle;
                    color: var(--brick-red);
                    transform: rotate(-90deg);
                }

                .accordion__button[aria-expanded="true"] p::after,
                .accordion__button[aria-selected="true"] p::after {
                    margin-top: 0;
                    transform: rotate(0deg);
                }
            }
        }

        .accordion__button p:after {
            content: '';
        }

        .accordion__panel {
            width: 100%;
            box-sizing: border-box;
            padding: 0 5rem;
            margin-left: 0;
            background-color: #F5D8C2;

            ul {
                list-style: none;
                font-size: 2rem;
                height: 100%;
                padding-top: 2rem;
                padding-bottom: 2rem;
                margin-bottom: 0;
            }
        }
    }
}

.single-course {
    .course-detail-page {
        margin-top: 20px;
    }
}

@media(max-width:1000px) {
    .courses-container {
        &>.popular-courses {
            display: block;
        }

        .certifications {
            .certificates {
                flex-wrap: wrap;
                justify-content: center;

                .certificate {
                    .certificate-logo {
                        width: 80%;
                    }

                    P {
                        width: 100%;
                    }
                }
            }
        }
    }

    .popular-courses {
        margin-top: 5rem;
        grid-template-columns: 100%;

        .course-accordian {
            width: 80%;
            margin: 0 auto;
        }

        .accordion__panel {
            width: 100%;
            box-sizing: border-box;
            padding: 0 3rem;

            ul {
                padding-left: 0;
                text-align: center;
            }
        }

        .accordion__item {
            background-color: #EBB38A;
            padding: 0.5rem;
            margin-bottom: 2px;
        }

    }

    .browse-courses {
        .course-grid {
            justify-content: center;
            width: 100%;
        }

        .popular-courses {
            margin-top: 5rem;
            grid-template-columns: 100%;

            .course-accordian {
                width: 80%;
                margin: 0 auto;
            }

            .accordion__panel {
                width: 100%;
                box-sizing: border-box;
                padding: 0 3rem;

                ul {
                    padding-left: 0;
                    text-align: center;
                }
            }

            .accordion__item {
                background-color: #EBB38A;
                padding: 0.5rem;
                margin-bottom: 2px;
            }

        }
    }


}

@media(max-width:900px) {
    .courses-container {
        .courses-introduction {
            flex-wrap: wrap;
        }
    }
}

@media(max-width:700px) {
    .courses-container {
        .course-alumni-section {
            .courses-alumni-content {
                text-align: center;

                .alumins {
                    justify-content: center;
                    flex-wrap: wrap;
                }
            }
        }
    }
}

@media(max-width:620px) {
    .courses-container {
        .search {
            margin: 0 auto -20px auto !important;
        }
    }

    .filter-values {
        position: absolute;
        left: -110px !important;
        top: 60px;

    }

    .list-sele-filters {
        margin: -10px 0 0 0 !important;
        width: 90%;
        overflow-x: auto;
        scrollbar-width: none;
        /* Firefox */
        -ms-overflow-style: none;
        /* Internet Explorer 10+ */

        div {
            white-space: nowrap !important;
        }
    }
}

@media(max-width:420px) {
    .browse-courses {
        .popular-courses {
            .course-grid {
                display: flex;
                gap: 2rem;
                flex-wrap: wrap;

                .course-card {
                    flex: 0 0;
                    min-width: 80%;
                    margin: 0 auto;
                }

                .accordion__panel {
                    padding: 0 1rem;
                }
            }
        }
    }
}