.donation-container-1 {
  width: 85%;
  margin: 0 auto;
  .donation-buttons {
    display: block;
    box-sizing: border-box;
    // width: 60%;
    margin: 0 auto;
    justify-content: space-between;
    text-align: center;
    .donate-button {
      margin: 10rem auto;
      width: 20%;
      justify-content: center;
      .global-common-btn {
        border-style: none;
        background-color: var(--brick-red);
        color: white;
        padding: 0 auto;
        font-size: 1.8rem;
        width: 60%;
        text-align: center;
        margin: 0 auto; 
        // .global-common-btn-content {

        //   margin-top: 10px;
        //   margin-bottom: 10px;
        // }
      }
    }
    .input-box {
      width: 85%;
      margin: 0 auto;
      h1 {
        font-size: 2rem;
        // text-align: center;
      }
      .button-flex {
        border: 1px;
        // margin-left: 11%;
        //margin-top: 3rem;
        margin: 3rem 25rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;

        row-gap: 4rem;
        button {
          height: 55px;
          width: 130px;
          font-size: 2rem;
          border-radius: 90px;
          font-weight: 500;
          background-color: white;
          border: 1px solid #aaa;
          color: #aaa;
          margin: 0 auto;
        }
      }
      .enter-button {
        justify-content: center;
        margin-top: 2rem;
        padding: 1em;
        & > input {
          height: 60px;
          width: 195px;
          max-width: 300px;
          font-size: 2rem;
          border-radius: 90px;
          font-weight: 500;
          background-color: white;
          border: 1px solid #aaa;
          color: #000;
          text-align: center;
          padding: 2rem 1rem;

          &::placeholder {
            color: #aaa;
          }
         
        }
      }
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    .checkboxes {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 1px;
      // width: 50%;
     // margin: 5rem auto;
     margin: 5rem 25rem;
    
    }
    input[type='radio'] {
      appearance: none;
      border: 1px solid #d3d3d3;
      width: 30px;
      height: 30px;
      content: none;
      outline: none;
      margin: 0;
    }
    input[type='radio']:checked {
      appearance: none;
      outline: none;
      padding: 0;
      content: none;
      border: none;
    }
    input[type='radio']:checked::before {
      position: absolute;
      color: #60606080 !important;
      content: '\00A0\2713\00A0' !important;
      border: 1px solid #d3d3d3;
      font-weight: bolder;
      font-size: 24px;
    }

    .citizen {
      margin-top: 3rem;
      .checkboxes {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    .checkboxes input[type='checkbox'] {
      border-style: bold;
      vertical-align: middle;
      position: relative;
      bottom: 1px;
      height: 25px;
      width: 25px;
    }

    .checkboxes label {
      display: block;
      font-size: 20px;
      // margin-left: 10%;
      span {
        margin-left: 20px;
        position: relative;
        bottom: 10px;
        left: 10px;
        
      }
    }
  }

  .offline-option {
    h1 {
      text-align: center;
      font-size: 2.5rem;
      margin-top: -5%;
    }
    .offline-grid {
      display: grid;
      grid-template-columns: 33% 33% 33%;
      margin-top: 50px;
      justify-content: center;
      // column-gap: 9rem;
      .donation-logos {
        width: 70%;
        text-align: center;
        margin: 2rem auto;
        svg {
          width: 25%;
        }
        h2 {
          font-size: 2rem;
          font-weight: bold;
          margin-bottom: 20px;
        }
        p {
          font-size: 1.5rem;
          font-weight: 400;
          width: 85%;
          margin: 0 auto;
        }
      }
    }
    .enquire-button {
      margin: 0 auto;
      width: 30%;
      justify-content: center;
      font-size: 2rem;
      

      .global-common-btn {
        border-style: none;
        background-color: var(--brick-red);
        color: white;
        padding: 2rem;
        font-size: 2rem ;
        width: 70%;
        text-align: center;
        margin: 5rem auto;
        // .global-common-btn-content {
        //   // margin-top: 10px;
        //   // margin-bottom: 10px;
        // }
      }
    }
  }

  .terms-condition {
    text-align: center;
    width: 90%;

    margin: 7rem auto;
    h1 {
      font-size: 2rem;
      margin-bottom: 20px;
    }
    p {
      font-size: 1.5rem;
      width: 70%;
      margin: 0 auto;
      font-weight: 400;
    }
  }
}

@media (max-width: 1500px) {
  .donation-container {
    .donation-buttons {
      .input-box {
        h1 {
          font-size: 2rem;
          align-items: center;
        }
        .button-flex {
          button {
            width: 150px;
            height: 50px;
            // height: auto;
            padding-top: 1rem;
            padding-bottom: 1rem;
            font-size: 2rem;
          }
        }
        .input-checkbox {
          grid-template-columns: 100%;
          margin: 0;
          margin-top: 10rem;
        }
        .enter-button {
          button {
            height: 60px;
            width: 220px;
            font-size: 2rem;
            margin-left: 20px;
          }
        }
      }
      .donate-button {
        .global-common-btn {
          font-size: 2rem;

          .global-common-btn-content {
            margin-top: 5px;
            margin-bottom: 5px;
          }
        }
      }
      .checkboxes input[type='checkbox'] {
        height: 30px;
        width: 30px;
      }
      span {
        font-size: 2rem;
      }
    }
    .offline-option {
      h1 {
        font-size: 2rem;
      }

      .offline-grid {
        width: 80%;
        margin: 2rem auto;

        .donation-logos {
          svg {
            width: 20%;
          }
          h2 {
            font-size: 1.7rem;
            font-weight: bold;
          }
          p {
            font-size: 1.5rem;
            font-weight: 400;
            width: 85%;
            margin: 0 auto;
          }
        }
      }
      .enquire-button {
        .global-common-btn {
          font-size: 2.5rem;
          .global-common-btn-content {
            margin: auto;
          }
        }
      }
    }

    .terms-condition {
      h1 {
        font-size: 2rem !important;
      }
      p {
        font-size: 1.5rem !important;
      }
    }
  }
}
@media (max-width:1200px)
{
  .donation-container-1{
    .donation-buttons{
      .donate-button{
        .global-common-btn{
          padding-right: 9rem;
        }
      }
    }
  }
}
@media (max-width: 900px) {
  .donation-container {
    .donation-buttons {
      .input-box {
        width: 70%;
        margin: 0 auto;
        h1 {
          font-size: 3rem;
          // text-align: center;
        }
        .button-flex {
          border: 1px;
          margin-top: 5rem;
          display: grid;
          grid-template-columns: 100%;
          cursor: pointer;
          // justify-content: center;
        }
        .enter-button {
          justify-content: center;
          margin-top: 5rem;
          button {
            height: 90px;
            width: 250px;
            font-size: 3rem;
            border-radius: 90px;
            font-weight: 500;
            background-color: white;
            cursor: pointer;
          }
        }
      }
      .donate-button {
        width: 40%;
        .global-common-btn {
          font-size: 2rem;

          .global-common-btn-content {
            margin-top: 5px;
            margin-bottom: 5px;
          }
        }
      }
    }

    .offline-option {
      h1 {
        font-size: 2rem;
      }

      .offline-grid {
        width: 80%;
        margin: 2rem auto;
        display: grid;
        grid-template-columns: 100%;
        .donation-logos {
          svg {
            width: 20%;
          }
          h2 {
            font-size: 1.7rem;
            font-weight: bold;
          }
          p {
            font-size: 1.5rem;
            font-weight: 400;
            width: 85%;
            margin: 0 auto;
          }
        }
      }
      .enquire-button {
        width: 60%;
        .global-common-btn {
          font-size: 2rem;
          .global-common-btn-content {
            margin-top: 5px;
            margin-bottom: 5px;
          }
        }
      }
    }

    .terms-condition {
      width: 100%;
      h1 {
        font-size: 2rem !important;
      }
      p {
        font-size: 1.5rem !important;
        width: 100%;
      }
    }
  }
 
  .donation-container-1 .offline-option .offline-grid {
 display: grid;
  grid-template-columns: 100%;

  }
}

@media (max-width: 768px) {
  .donation-container .donation-buttons .checkboxes {
    grid-template-columns: repeat(1, 1fr);
    text-align: left;
    margin: 3rem auto 0rem;
    label {
      display: flex;
      justify-content: center;
      input {
        margin-left: 0;
      }
      span {
        margin-right: 0;
      }
    }
  }
  .donation-container .donation-buttons .citizen {
    margin-top: 5rem;
    .checkboxes {
      grid-template-columns: repeat(1, 1fr);
    }
  }


.donation-container-1 .offline-option .enquire-button .global-common-btn
{
  width: 100%;
}

.donation-container-1 .donation-buttons .input-box .button-flex{
  margin:  3rem auto 0px;
}
.donation-container-1{
  .banner-heading{
    width: 100%!important;
  }
}
}
@media(max-width:600px)
{
  .donation-container-1{
    .donation-buttons{
      .checkboxes{
        display:grid;
        grid-template-columns: repeat(1,1fr)!important;
        span{
          position: static!important;
        }
      }
    }
  }
}
@media(max-width:420px)
{
  .donation-container-1 .offline-option .enquire-button 
  {
    width:100%;
    padding:2rem;
  }
}