    .activity-container {
    display: grid;
    grid-template-columns: 60% 40%;
    margin: 0rem 5rem 5rem;
    .activity-content{
        .activity-text{
            width: 70%;
            margin: 3rem auto;
        }
        // .heading-container {
        //     margin: 0;
        // }
        .global-common-btn{
            cursor: pointer;
            margin: 3rem 15%;
        }
    }
}
// .activity-card {
//     width: ;
// }
.card-content-activity {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    // margin: 0.8rem;
    // padding: 0.8rem;
    margin: 0rem;
    background-color: #EBB38AEB;
    height: 45%;
    min-height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .with-hover{
        display: none;
    }
}

.card-container:hover{ 
    .card-content-activity {
        .without-hover{
            display:none;
        }
        .with-hover{
            display: block;
        }
    box-sizing: border-box;
    height: 97%;
    // top: auto;
    padding: 6rem 4rem;
    transition: height 0.75s;
    // margin: 0 0.8rem 0.8rem;
}

h4{
    display: block;
    height: fit-content;
    overflow: visible;
    font-size: 1.75rem!important;
}
}

.card-content-activity .explore {
    display: block;
    cursor: pointer;
 
}

.card-container:hover .card-content-activity .explore {
    display: block;
    @media(max-width:900px) {
        margin-top: 70px;
    }
}

.card-container h1 {
    font-size: 2.35rem;
    margin: 0.9rem 0 0;
}
.card-container h4 {
    font-size: 1.25rem !important;
    padding: 0.8rem;
    height: 50px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card-container {
    position: relative;
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
    .card-image{
        img{
            width: 100%;
            height: 500px;
            object-fit: cover;
        }
    }
}
.activity-wrapper {
    width: 80%;
    margin: 0 auto;
}


@media (max-width: "1920px") {
    .card-container {
        width: 95%;
        .card-image{
            img{
                height: 600px;
            }
        }
    }
    .activity-wrapper {
        margin: 5rem auto;
    }
    .card-content-activity {
        height: 30%;    
    }
    .heading-container .heading-content .heading-logo{
        svg{
            height: 110px;
        }
    }
}
@media (max-width: "1800px") {
    .card-container {
        width: 95%;
    }
    .activity-wrapper {
        margin: 0 auto;
    }
    .card-content-activity {
        height: 30%;
    }
    .heading-container .heading-content .heading-logo{
        svg{
            height: 80px;
        }
    }
}

@media (max-width:1600px){
    .card-container{
        .card-image{
            img{
                height: 500px;
            }
        }
    }
}

@media (max-width: 1250px) {
    .card-container h1 {
        font-size: 2rem;
    }
}
@media (max-width:1050px){
    .activity-container{
        display: flex;
        flex-flow: column-reverse;
    }
    .activity-container .activity-content .activity-text {
        width: 80%;
        margin: 3rem auto;
    }
    .activity-wrapper {
        width: 100%;
    }
    .activity-container .activity-content .global-common-btn {
        margin: 5rem 10%;
    }
    .card-content-activity {
        margin: 1.5rem 2%;
        height: 30%;
    }
}

@media (max-width:420px){
    .activity-container{
        margin: 0;
        margin-top: 5rem;
    }
    .activity-container .activity-content .activity-text p{
        text-align: justify;
    }
}

.activity-text {
    // margin: 3rem 0rem !important;
}

.activity-container .slick-dots li button::before {
    color: rgba(0, 0, 0, 0.25);
    opacity: 1;
    font-size: 12px !important;
  }
  
  // .magezines .experience-container .slick-dots li .slick-active button::before {
  //   font-size: 66px;
  // }
    
  .activity-container .slick-dots li.slick-active button::before {
    font-size: 16px !important;
  }

  @media(max-width: 768px) {
    .activity-container .activity-content .activity-text p {
        font-size: 12px;
        font-weight: 400;
        text-align: center !important;
    }

    .activity-container .activity-content .global-common-btn {
        margin-top: 1rem;
       
    }

    .activity-container .activity-content .global-common-btn .global_home_content {
        font-size: 14px;
        font-weight: 600;
    }

    .style_mob {
        display: flex;
        justify-content: center;
    }

    .activity-container .slick-dots {
        gap: 8px;
    }

    .activity-container .slick-dots li button::before {
        color: rgba(188, 79, 49, 0.5);
        opacity: 1;
        font-size: 10px !important;
      }

      .activity-container .slick-dots li.slick-active button::before {
        font-size: 12px !important;
        color: rgba(188, 79, 49, 1);
      }

      .activity-container .slick-dots li {
        width: 15px !important;
        height: 15px !important;
        margin: 0 1px !important;
    }
  }