.course_table {
  table {
    width: 60%;
    border-collapse: collapse;
    tr {
      font-size: 1.5rem;
      th,
      td {
        padding: 1rem;
        border: 1px solid black;
      }
    }
  }
}
