.edit-main {
  .personal-info {
    font-size: 1.8rem;
  }
  text-align: center;
  .account-input {
    padding-bottom: 20px;
    label {
      margin-top: 20px;
      width: 285px;
      input {
        text-align: center;
        font-size: 2rem;
      }
    }
    select {
      margin-top: 20px;
      padding: 1rem;
      width: 285px;
      border-radius: 20px;
      font-size: 2rem;
      color: #767794;
      background-color: white;
      text-align: center;
      ::after {
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid #f00;
        position: absolute;
        top: 40%;
        right: 5px;
        content: '';
        z-index: 98;
      }
      options {
        color: black;
        font-size: 2rem;
      }
    }
  }
  .former-input {
    padding-top: 20px;
    .former-l1 {
      display: flex;
      text-align: center;
      justify-content: center;
      gap: 60px;
      padding: 20px 0;
      .former-p {
        font-size: 1.4rem;
      }
    }
    .former-radio {
      display: flex;
      gap: 20px;
      input[type='radio'] {
        appearance: none;
        border: 1px solid #d3d3d3;
        width: 30px;
        height: 30px;
        content: none;
        outline: none;
        margin: 0;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      }

      input[type='radio']:checked {
        appearance: none;
        outline: none;
        padding: 0;
        content: none;
        border: none;
      }

      input[type='radio']:checked::before {
        position: absolute;
        color: green !important;
        content: '\00A0\2713\00A0' !important;
        border: 1px solid #d3d3d3;
        font-weight: bolder;
        font-size: 21px;
      }
    }
    .year-course {
      .year-student {
        display: flex;
        justify-content: center;
        gap: 20px;
        .form-content {
          width: 20%;
          label {
            margin-bottom: 20px;
            input {
              text-align: center;
              font-size: 2rem;
              text-align: center;
            }
          }
        }
      }
    }
  }
}

.save-button {
  text-align: center;
  margin-top: 40px;
  span {
    border: 2px solid black;
    font-size: 1.8rem;
    border-radius: 20px;
    padding: 5px 40px;
    background-color: #cc4625;
    color: white;
  }
}

// .edit-main{
//   text-align: center;
//   .personal-info{
//     font-size: 1.8rem;
//   }
//   .account-input{
//     margin-bottom: 20px;
//     .form-content{
//       form{
//         label{
//           margin-top: 20px;
//           input{
//             text-align: center;
//           }
//         }

//       }

//     }
//     select{
//       margin-top: 20px;
//       padding: 1rem;
//       width: 40%;
//       text-align: center;
//       border-radius: 20px;
//       font-size: 1.8rem;
//       background-color: #fff;

//       option{
//         font-size: 1rem;
//         width: 40%;
//       }
//     }
//   }
// }
