.csr-main-div {
  .csr-main-section {
    margin: 0 15rem;
    .main-top-section {
      margin: 0 auto;
      font-size: 2.75rem;
      font-weight: bolder;
      margin-bottom: 80px;
      margin-top: 100px;
      width: max-content;
    }
    .csr-svg-section {
      display: flex;
      justify-content: space-evenly;
      text-align: center;
      .svg-one {
        margin: 0 auto;
        width: 320px;
      }
      img {
        height: 145px;
        margin-bottom: 40px;
      }
      & > div {
        width: 100%;
      }
    }
    .csr-mid-last {
      padding: 5rem 15rem;
      text-align: center;
      p {
        padding: 2rem 0rem;
      }
    }
  }
  .last-container {
    padding-top: 5rem;
    .content-container-section {
      padding-top: 5rem;
      margin: 2rem 20rem;
      display: flex;

      .image-container {
        width: 40%;
        padding: 0 2.5rem;
        img {
          width: 100%;
          border-radius: 0px 150px 0px 150px;
          
        }
      }
      .orderOne{
        order:1
      }
      .description-content {
        width: 60%;
        .header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          button {
            padding: 10px 20px;
            border: none;
            font-size: 1.5rem;
            background: #cc4625;
            color: #ffffff;
            display: block;
            max-width: 200px;
            border-radius: 26px;
            cursor: pointer;
          }
        }
        .description {
          font-size: 1.8rem;
        }
        .last-btn {
          padding-top: 3rem;
          .btn-div {
            border: 3px solid black;
            padding: 15px;
            border-radius: 30px;
            .view_btn {
              background: transparent;
            }
            button {
              font-size: 2rem;
              border: none;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .csr-main-div {
    .csr-main-section {
      margin: 0 2rem;

      .csr-mid-last {
        padding: 2rem 5rem;
      }
    }
    .last-container {
      .content-container-section {
        margin: 0;
        // flex-direction: column;

        .image-container {
          width: 100%;
        }
        .description-content {
          width: 100%;
          padding: 1rem 2rem;
          text-align: center;

          .header {
            .header-title {
              h1 {
                font-size: 2.5rem;
              }
            }
            .header-btn {
              min-width: fit-content;
            }
          }
        }
      }
    }
  }
  .csr-svg-section {
    flex-direction: column;
  }
}

@media only screen and (max-width: 900px) {
  .csr-main-div {
    .csr-main-section {
      margin: 0 2rem;

      .csr-mid-last {
        padding: 2rem 5rem;
      }
    }
    .last-container {
      .content-container-section {
        margin: 0;
        // flex-direction: column;

        .image-container {
          width: 100%;
        }
        .description-content {
          width: 100%;
          padding: 1rem 2rem;
          text-align: center;

          .header {
            .header-title {
              h1 {
                font-size: 2.5rem;
              }
            }
            .header-btn {
              min-width: fit-content;
            }
          }
        }
      }
    }
  }
  .csr-svg-section {
    flex-direction: column;
  }
}

@media only screen and (max-width: 720px) {
  .csr-main-div {
    .csr-main-section {
      margin: 0 2rem;

      .csr-mid-last {
        padding: 2rem 5rem;
      }
    }
    .last-container {
      .content-container-section {
        margin: 0;
        flex-direction: column;

        .image-container {
          width: 100%;
        }
        .description-content {
          width: 100%;
          padding: 1rem 2rem;
          text-align: center;

          .header {
            .header-title {
              h1 {
                font-size: 2.5rem;
              }
            }
            .header-btn {
              min-width: fit-content;
            }
          }
        }
      }
    }
  }
  .csr-svg-section {
    flex-direction: column;
  }
}
