//yoga and health
.yoga-total-health {
  .background {
    height: 550px;
    background-color: #389992;
  }
}
.publication-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  position: relative;
  top: -22rem;
  padding: 0 10rem;
  & > div {
    width: 100%;
    img {
      width: 70%;
      margin-right: 0;
    }
  }

  .mag-preview {
    text-align: right;
  }
}
.journal {
  color: #fff;
}
.jouranl-title {
  display: inline-block;
  .bottom-line {
    height: 3px;
    border-radius: 50%;
    margin-top: 1rem;
    background: #fff;
  }
}
.month-year {
  margin-top: 10rem;
  .jouranl-title {
    .bottom-line {
      background-color: var(--brick-red);
    }
  }
}
.publication-sub {
  margin-top: -15rem;
  text-align: center;
  margin-bottom: 10rem;
  p {
    margin-bottom: 2rem;
  }
  .global-common-btn {
    margin: 3rem auto;
  }
}
.break-icon {
  svg {
    width: 140px;
  }
  margin-bottom: 20px;
}

//books
.books-container {
  .background {
    height: 500px;
    background-color: #61829d;
    p {
      text-align: center;
      width: 60%;
      color: #fff;
      margin: 3rem auto;
    }
  }
}

//e-books{
.e-books-container {
  .background {
    background-color: #82729d;
    height: 500px;
    p {
      text-align: center;
      width: 60%;
      color: #fff;
      margin: 3rem auto;
    }
  }
}

//common grid
.books-grid {
  width: 80%;
  margin: 0 auto;
  // display: grid;
  // grid-template-columns: repeat(3,1fr);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  padding: 5rem;
  background-color: #edeef0;
  border-radius: 40px;
  position: relative;
  top: -12rem;
}

//library
.library-container {
  .background {
    background-color: #e38f73;
    height: 550px;
  }
}
.library-grid {
  width: 80%;
  margin: 0 auto;
  background-color: #edeef0;
  padding: 3rem;
  border-radius: 50px 50px 0px 0px;
  position: relative;
  top: -10rem;
}

.cardDesc {
  background-color: #fff;
  padding: 3rem;
  border-radius: 40px;
  width: 70%;
  margin: 0 auto;
  position: relative;
  top: -15rem;
}
.cardImg {
  & > div {
    width: 100%;
    height: 500px;
    background-color: #edeef0;
    box-sizing: border-box;
    border-radius: 40px;
    img {
      object-fit: cover;
    }
  }
}
.cardTxt {
  p {
    text-align: center;
    width: 80%;
    margin: 2rem auto;
  }
}
.more-cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  justify-content: center;
  margin-top: -10rem;
}
.card-1 {
  width: 100%;
  height: 350px;
  background-color: #fff;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    // background-position: center;
  }
}

//yogsattva
.yogasattva-container {
  .background {
    background-color: #e6bf98;
    height: 500px;
  }
  .banner-container {
    .banner-text {
      display: none;
    }
  }
}
.yogasattva-text {
  width: 60%;
  margin: 5rem auto;
  text-align: center;
  p {
    font-size: 1.5rem;
    margin: 15px auto;
  }
}
.yogasattva-content {
  margin-top: -15%;
  p {
    width: 70%;
    margin: 0 auto;
    font-size: 1.7rem;
    text-align: center;
    color: white;
    margin-bottom: 3rem;
  }

  .yogasattva-image {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 40% !important;
    margin: 0 auto;
    justify-content: center;
    img {
      height: 300px;
    }
  }
}
.previous-background {
  background-color: #e6bf98;
  padding: 20rem;
  padding-top: 10rem;
  h3 {
    font-size: 2rem;
    display: inline-block;
  }
  .publication-nav-dates {
    float: right;
  }
  .previous-container {
    display: block;
    gap: 20px;
    width: 100%;
    grid-template-columns: repeat(6, 1fr);
    // width: 80%;
    margin: 0 auto;
    margin-top: 2rem !important;
    overflow: auto;
    &::-webkit-scrollbar {
      height: 8px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      //box-shadow: inset 0 0 5px grey;
      background-color: #fff;
      border-radius: 10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #aaa;
      border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #aaa;
    }
    #previous-issue-scroll {
      width: max-content;
      overflow-x: scroll;
      &::-webkit-scrollbar {
        height: 10px;
      }
    }
    .preivous-box {
      background-color: white;
      //height: 300px;
      width: 200px;
      display: inline-block;
      margin: 1rem;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
.yogasattva-btn{
  float: right;
  cursor: pointer;
  padding: 1rem 4rem;
  font-size: 1.25rem;
  border-radius: 50px;
  margin-top: 1rem;
  border: none;
}
@media (max-width: 1800px) {
  .yogasattva-container {
    background-color: rgb(168, 106, 106);
    height: 400px;
  }
  .yogasattva-content {
    margin-top: -14%;
    p {
      width: 45%;
      margin: 0 auto;
      font-size: 1.3rem;
      text-align: center;
      color: white;
      margin-bottom: 3rem;
    }
    .yogasattva-image {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;
      width: 40%;
      margin: 0 auto;
      justify-content: center;
      img {
        height: 200px;
      }
    }
  }
  .previous-background {
    background-color: bisque;
    padding: 10rem !important;
    h3 {
      font-size: 2rem;
    }
    .previous-container {
      //display: grid;
      gap: 20px;
      grid-template-columns: repeat(6, 1fr);
      margin-top: 2rem;
      // width: 80%;
      margin: 0 auto;
      .preivous-box {
        background-color: white;
        //height: 250px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .library-container {
    .background {
      height: 450px;
    }
  }
  @media (max-width: 1720px) {
    .yoga-total-health {
      .background {
        height: 500px;
      }
    }
    .card-1 {
      height: 300px;
    }
    .yogasattva-container {
      .background {
        height: 350px;
      }
    }
  }

  @media (max-width: 1600px) {
    .publication-intro {
      top: -25rem;
    }
  }

  @media (max-width: 1370px) {
    .publication-intro {
      top: -28rem;
    }
  }

  @media (max-width: 1240px) {
    .previous-background {
      .previous-container {
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        // width: 80%;
        margin: 0 auto;
        .preivous-box {
          background-color: white;
          //height: 250px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  @media (max-width: 900px) {
    .library-container {
      .background {
        height: 550px;
      }
    }
    .publication-intro {
      flex-direction: column;
      padding: 0 5rem;
      .mag-preview {
        width: 80%;
        margin: 0 auto;
        img {
          width: 100%;
        }
      }
    }
    .previous-background {
      padding: 4rem !important;
    }
    .journal {
      color: #000;
    }
    .jouranl-title {
      .bottom-line {
        background: var(--brick-red);
      }
    }
    // .books-grid{
    //     grid-template-columns: repeat(2,1fr);
    //     top: -25rem;
    // }
    .library-grid {
      top: -25rem;
    }
    .cardDesc {
      width: 100%;
      box-sizing: border-box;
    }
    .cardImg {
      & > div {
        height: 400px;
      }
    }
    .more-cards {
      grid-template-columns: repeat(3, 1fr);
    }
    .yogasattva-content {
      margin-top: -25% !important;
      p {
        width: 90% !important;
      }
      .yogasattva-image {
        grid-template-columns: repeat(2, 1fr) !important;
      }
    }

    .previous-background {
      .publication-nav-dates {
        display: block;
        float: none;
        margin: 0 auto;
      }
      .previous-container {
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        // width: 80%;
        margin: 0 auto;
        .preivous-box {
          background-color: white;
          //height: 250px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  @media (max-width: 768px) {
    .more-cards {
      grid-template-columns: repeat(2, 1fr);
    }
    .cardTxt {
      p {
        text-align: center;
        width: 90%;
        margin: 2rem auto;
      }
    }
    .yogasattva-content {
      margin-top: -30% !important;
    }
    .publication-sub {
      margin-top: -20rem;
      text-align: center;
      margin-bottom: 10rem;
      p {
        margin-bottom: 2rem;
      }
      .global-common-btn {
        margin: 3rem auto;
      }
    }
  }
  @media (max-width: 420px) {
    .publication-intro {
      padding: 0 2rem;
      .mag-preview {
        width: 100%;
        margin: 0 auto;
      }
    }
    // .books-grid{
    //     grid-template-columns: repeat(1,1fr);
    //     padding: 2rem;
    // }
    .cardImg {
      & > div {
        height: 300px;
      }
    }
    .more-cards {
      grid-template-columns: repeat(1, 1fr);
    }
    .card-1 {
      height: 500px;
    }
    .yogasattva-content {
      margin-top: -70% !important;
    }
    .previous-background {
      .previous-container {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        // width: 80%;
        margin: 0 auto;
        .preivous-box {
          background-color: white;
          //height: 250px;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
