.social-initiative-container{
display: grid;
grid-template-columns: 45% 35%;
background-color: var(--ocean-blue);
justify-content: center;
gap: 5%;
padding-bottom: 10rem;
padding-top: 10rem;
.social-initiative-image{
    width: 100%;
    height: 90%;
    text-align: center;
    img{
        width: 84%;
        height: 100%;
        border-radius: 0px 200px;
        // height: 400px;
    }
}
#support-page{
    img{
        border-radius: 0px 200px 0px 200px;
        object-fit: cover;
    }
}
.social-initiative-content{
    .heading-container{
        margin-left: 0px;
    }
.heading-content{
    width: 100%;
    .heading-logo svg{
        width: 80px;
        height: 80px;
    }
}
.custom-border{
    background: linear-gradient(90deg,var(--ocean-blue),#074B4C,#074B4C,var(--ocean-blue));
    margin-top: 1rem;
}
}
.social-initiative-carousel{
    margin-left: 0px;
    margin-top: 3rem;
    margin-bottom: 30px;
    .slick-dots{
        text-align: left;
        padding-bottom: 3rem!important;
        li{
            margin-left: 0!important;
            margin-right: 6rem!important;
            button{
                &::before{
                    color: #fff;
                    opacity: 1;
                }
            }
        }
        .slick-active{
            button{
                &::before{
                    color: #074B4C!important;
                    opacity: 1;
                }
            }
        }
    }
    .slide-read-more{
        a{
            color:black;
            text-decoration: none;
        }
    }
}
.global-common-btn{
    margin-top: 0;
}
}
.comin-soon{
    position: relative;
  &:hover{
    &::after{
        top: 2px;
        left: 27%;
        position: absolute;
        padding: 1rem;
        margin-left: 1rem;
        font-size: 1.2rem;
        font-weight: 700;
        width: fit-content;
        content: 'Coming Soon';
        // background: #00000080;
        color: #000;
    }
  }
}
@media(max-width:1920px){
.social-initiative-container{
    .social-initiative-content{
        .heading-content{
            width: 100%;
            .heading-logo svg{
                height: 110px;
                margin-top: -0.075rem;
            }
        }
    }
}
}
@media(max-width:1800px){
    .social-initiative-container{
        .social-initiative-content{
            .heading-content{
                width: 100%;
                .heading-logo svg{
                    height: 90px;
                    margin-top: -1rem;
                }
            }
        }
    }
    }
@media (max-width:920px){
    .social-initiative-container{
        grid-template-columns: 100%;
        gap: 0;
        padding-bottom: 0;
        .social-initiative-image{
            width: 80%;
            margin: 0 auto;
            text-align: center;
            img{
                border-radius: 0 100px;
            }
        }
        .social-initiative-content{
            margin-top: 0rem;
            .heading-container{
                margin:0 auto;
            }
        }
        .social-initiative-carousel{
            margin: 0 auto;
            margin-top: 2rem;
            text-align: center;
            width: 80%;
            .slick-dots{
                text-align: center;
                bottom: 0px!important;
                padding-bottom: 0!important;
                li{
                    margin:0 1.5rem!important;
                }
            }
        }
    
            .global-common-btn{
                margin: 2rem auto 5rem auto;
                // margin-top: 2rem;
            }

    }
}

@media (max-width:768px){
.social-initiative-container{
    margin-top: 10rem;
    #support-page{
        img{
            border-radius: 0px 100px 0px 100px;
            object-fit: cover;
        }
    }
}
}


// for gallery 

.alumni-grid{
    width: 80%;
    margin: 5rem auto;
    p{
        font-weight: bolder;
        font-size: 1.75rem;
        margin-bottom: 2rem;
    }
    h4{
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }
    .global-common-btn{
        float: right;
        margin-top: 1rem;
    }
}
.alumni-event-grid{
    display: flex;
    width: 100%;
    box-sizing: border-box;
    gap: 0.5%;
    height: 760px;
    img{
        width: 100%;
    }
}
.grid-element-1{
 width: 25%;
 display: flex;
 flex-direction: column;
 gap: 1%;
 height: 100%;
 .event-1{
    height: 70%;
    // background: url('../../assets/images/alumniGallery0.jpg') no-repeat center / cover ;
    background: #eee;
    
    img{
        height:100% ;
        object-fit: cover;
    }
 }
 .event-2{
    height: 30%;
    background: #eee;
    // background: url('../../assets/images/alumniGallery1.png') no-repeat center / cover ;
    img{
        height: 100%;
        object-fit: cover;
    }
 }
}
.grid-element-2{
    width: 50%;
    height: 100%;
    .event-3{
        height: 100%;
        background: #eee;
        // background: url('../../assets/images/alumniGallery2.jpg') 
        img{
            height: 100%;

            object-fit: cover ;
        }
    }
}
.grid-element-3{
    width: 25%;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1%;
    .event-5{
        height: 70%;
        background: #eee;
        // background: url('../../assets/images/alumniGallery3.jpg') no-repeat center / cover ;
        img{
            height: 100%;
            object-fit: cover;
        }
     }
     .event-4{
        height: 30%;
        background: #eee;
        // background: url('../../assets/images/alumniGallery4.jpg') no-repeat center / cover ;
        img{
            height: 100%;
            object-fit: cover;
        }
     }
}
@media(max-width:1536px){
    .alumni-event-grid{
        height: 600px;
    }
}
@media(max-width:1000px){
    .alumni-event-grid{
        height: 400px;
    }
}
@media(max-width:768px){
    .alumni-event-grid{
        height: 200px;
    }
}