.common-container {
    // height: 100vh;
    width: 100vw;
    // position: relative;
    // height: 100%;
    .navigation-container {
        padding-top: 1rem;
    // position: absolute;
    z-index: 9;
    width: 100%;
}
// .img-container{
//     width: 100%;
//     img {
//         z-index: -1;
//         position: absolute;
//         width: 100%;
//     }

.banner-container {
    color: #fff;
    // position: absolute;
    z-index: 9;
    width: 50%;
    padding-top: 5%;
    margin-left: 50%;
    .about-us-legacy-banner-text {
        width: 70%;
        font-size: 1.7rem;
        // padding-bottom: 10rem;
    }
}
.banner-heading {
    font-size: 2.75rem;
    font-weight: bolder;
    margin-bottom: 0.5rem;
    width: max-content;
}
.bottom-line {
    height: 3px;
    border-radius: 200%;
    width: 100%;    
    background: white;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
}

//images
.Benefits-container {
    background: url("../../assets/images/benifits.png") no-repeat center / cover;
}
.why-tyi-container {
    background: url("../../assets/images/why_tyi.png") no-repeat center / cover;
    height: 100vh;
}
.OurCareers-container {
    background: url("../../assets/images/our_careers.png") no-repeat center / cover;
}
.Values-container {
    background: url("../../assets/images/values.png") no-repeat center / cover;
}
.Volunteer-container {
    background-color: url("../../assets/images/volunteer_with_us.png") no-repeat center / cover;
}
.faq-container{
    background: url("../../assets/images/faqs.png") no-repeat center / cover ;
}
//if other content is there other than banner
.common-container-responsive {
    //     position: relative;
    //     background: none;
    //     height: 100%;
    //     .navigation-container-responsive {
    //         position: absolute;
    //     }
        .banner-container-responsive {
            margin-left: 0;
            padding-top: 15%;
            text-align: center;
            width: 100%;
            padding-top: 4%;
            .about-us-legacy-banner-text {
                margin: 0 auto;
                width: 50%;
            }
            .banner-heading {
                margin: 0 auto;
            }
        }
    }

.about-us-container{
    height: 100vh;
    .banner-container.legacy-banner{
        display: flex;
        justify-content: center;
        gap: 2rem;
        width: 90%!important;
        margin: 0 auto!important;
        .memberImage{
            // width: 30%;
            &>div{
            width: 375px;
            height: 565px;
            background-color: #aaa;
            background-size: cover;
            background-position: center;
            border-radius: 30px;
            }
        }
        .about-us-legacy-banner-text{
            margin: 0!important;
            width: 70%!important;
            .global-common-btn{
                border-color: #fff;
            }
        }
        .name-title{
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 5px;
        }
    
    }
}

.legacy-content{
    background: url("../../assets/images/benifits.png") no-repeat center / cover!important;
}
.other-members{
    width: 100%;
    height: 20%;
    background:  var(--primary-color);
}
.m-images{
    display: flex;
    justify-content: flex-start; 
    height: 100%;
    gap: 20px;  
    margin-left: 505px;
    padding-top: 10px;
    padding-bottom: 10px;
    }
.m-image{
    width: 150px;
    height: 100%;
    background-color: #aaa;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 2px;
    border-radius: 15px;
}
// .common-container-responsive .banner-container-responsive {
//     width: 100%;
// }

#founder-para1{
    margin-bottom: 40px;
}

@media(max-width: "1800px"){
    // .legacy-content{
    //     // height: 80%;
    // }
.about-us-container{
    .banner-container.legacy-banner{
        .memberImage{
            // width: 35%;
            &>div{
            // width: 100%;
            // height: 120%;
            background-color: #aaa;
            border-radius: 30px;
            }
        }
        .about-us-legacy-banner-text{
            width: 65%;
        }
    }
}
    .other-members{
        height: 20%;
    }
}

@media(max-width:1536px){
    // .legacy-content{
    //     // height: 80%;
    // }
    // .about-us-container{
    //     .banner-container.legacy-banner{
    //         .memberImage{
    //             // &>div{
    //             // // width: 100%;
    //             // // height: 110%;
    //             // }
    //         }
    //     }
    // }
    .m-image{
        width: 150px;
    }
}
// @media(max-width:1440px){
//     .about-us-container{
//         .banner-container.legacy-banner{
//             .memberImage{
//                 &>div{
//                 // width: 100%;
//                 // height: 95%;
//                 }
//             }
//         }
//     }
// }

@media(max-width:1366px){
    // .legacy-content{
    //     // height: 85%;
    // }
    .other-members{
        height: 15%;
    }
    .m-image{
        width: 120px;
    }
}


.other-members{
    height: 20%;
}
@media(max-width:1280px){
    // .legacy-content{
    //     // height: 80%;
    // }
.about-us-container{
    .banner-container.legacy-banner{
        .memberImage{
            // width: 35%;
            &>div{
            // width: 100%;
            // height: 100%;
            background-color: #aaa;
            border-radius: 30px;
            }
        }
        .about-us-legacy-banner-text{
            p{
                font-size: 1.5rem;
            }
        }
    }
}
    .other-members{
        height: 20%;
    }

}

@media (max-width: 1024px){
    .m-images{
        margin: 0 auto;
        justify-content: center;
    }
}

@media (max-width: "1000px") {
    .common-container .banner-container .about-us-legacy-banner-text {
        font-size: 1.3rem;
    }
    // .legacy-content{
    //     // height: 85%;
    // }
.about-us-container{
    .banner-container.legacy-banner{
        .memberImage{
            // width: 50%;
            &>div{
            // width: 100%;
            // height: 60%;
            background-color: #aaa;
            border-radius: 30px;
            }
        }

        .about-us-legacy-banner-text{
            width: 50%;
        }
    }
}
    .other-members{
        height: 15%;
    }
    .m-images{
        display: flex;
        justify-content: center; 
        height: 100%;
        gap: 1rem;  
        padding-left: 0;
    }
}
@media(max-width:900px){
    .legacy-content{
        // height: 100%;
        min-height: fit-content;
    }
 .about-us-container{
    .banner-container.legacy-banner{
        flex-direction: column;
        align-items: center;
        height: 100%;
        min-height: fit-content!important;
        .memberImage{
            // width: 70%;
            &>div{
            // width: 100%;
            // height: 300px;
            background-color: #aaa;
            border-radius: 30px;
            }
        }

        .about-us-legacy-banner-text{
            width: 100%!important;
        }
    }
 }
}
@media (max-width: "768px") {
    .common-container .banner-container .about-us-legacy-banner-text {
        margin: 0 auto;
        width: 60%;
        text-align: center;
        font-size: 1.3rem;
        padding-top: 0;
    }
    .common-container .banner-container .banner-heading {
        margin: 0.5rem auto;
    }
    .common-container .banner-container {
        width: 100%;
        padding-top: 11%;
        margin-left: 0;
    }
}

@media (max-width: "570px") {
    .common-container .banner-container .about-us-legacy-banner-text {
        margin: 0 auto;
        width: 80%;
        text-align: center;
        font-size: 1rem;
        padding-top: 0;
    }
    .common-container .banner-container .banner-heading {
        font-size: 3.5rem !important;
    }
    .common-container .navigation-container .common-nav-container .mega-nav .hamburger svg {
        width: 20px !important;
    }
    .other-members{
        height: 85%;
    }
    .m-images{
        display: flex;
        justify-content: center; 
        height: 100%;
        gap: 1rem;  
        padding-left: 0;
        flex-wrap: wrap;
        padding-top: 3rem;
    }
    .m-image{
        min-width: 200px;
        height: 250px;
    }
    // .common-container .banner-container {
    //     padding-top: 13%;
    // }
}

@media (max-width: "420px") {
    .common-container .banner-container .banner-heading {
        font-size: 2.5rem !important;
    }
    // .common-container .banner-container {
    //     padding-top: 13%;
    // }
.about-us-container{
    .banner-container.legacy-banner{
        flex-direction: column;
        align-items: center;
        height: 100%;
        min-height: fit-content!important;
        .memberImage{
            // width: 100%;
            &>div{
            // width: 100%;
            // height: 300px;
            background-color: #aaa;
            border-radius: 30px;
            }
        }

        .about-us-legacy-banner-text{
            width: 100%!important;
        }
    }
}
}