.highlight-sections {
  .main-container {
    display: flex;
    padding: 3rem 5rem;
    align-items: center;
    gap: 5rem;
    background: transparent linear-gradient(90deg, #e38f73 0%, #c9705f 100%) 0%
      0% no-repeat padding-box;
    .highlight-info {
      width: 40%;
      margin: 0 auto;
      margin-right: 0;
      color: #fff;
      margin-top: 2rem;
      h1 {
        display: inline-block;
        margin: 5rem 0;
      }
    }
    .highlight-cover {
      height: 500px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .about-section {
    padding: 2rem 10rem;
    p {
      padding: 0.75rem 0;
      font-size: 1.7rem;
      text-align: justify;
    }

    .details {
      font-size: 2rem;
      font-weight: bold;
    }
    ul {
      li {
        font-size: 1.7rem;
      }
    }
    .contact-info {
      .contact {
        font-size: 2rem;
        font-weight: bold;
      }
      ul {
        list-style: none;
        li {
          padding: 0.5rem 0;
          font-size: 1.7rem;
          //  text-align: justify;
        }
      }
    }

    .online_table {
      ul {
        margin-left: 5rem;
        font-size: 1.7rem;
      }

      b {
        padding-bottom: 1rem;
      }
      table {
        width: 90%;
        border-collapse: collapse;
        tr {
          font-size: 1.7rem;
          th,
          td {
            padding: 0.5rem;
            border: 1px solid black;
            text-align: center;
          }
        }
      }
    }

    .sattvik-section {
      ul {
        margin-left: 3rem;
        li {
          font-size: 1.7rem;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .highlight-sections {
    .main-container {
      flex-direction: column;
      .highlight-info {
        width: 100%;
        text-align: center;
        color: #fff;
        margin-top: 2rem;
        h1 {
          margin: 0;
        }
      }
      .highlight-cover {
        height: 400px;
      }
    }
  }
}

@media (max-width: 500px) {
  .highlight-sections {
    .main-container {
      flex-direction: column;
      justify-content: center;
      .highlight-info {
        width: 100%;
        text-align: center;
        color: #fff;
        margin-top: 2rem;
        h1 {
          margin: 0;
        }
      }
      .highlight-cover {
        height: 300px;
      }
    }
    .about-section {
      padding: 2rem 5rem;
    }
  }
}
