//media-gallery
.media-gallery{
    background-color:#D58173 ;
    overflow: auto;
.media-content{
    margin-top: 0;
    align-items: center;
    padding: 5rem 10rem;
    .newsletter-content{ 
        top: 0;
        h2{ 
        flex-direction: column;
        .newsletter-title {
        color: #fff;
    }
    .newsletter-date{
        color:#fff;
    }
}
}
.newsletter-image{
    top: 0;
    align-items: center;
    h3{
        display: none;
    }
}
}
}
.albums{
    margin-bottom: 80px;
    .view-album{
        width: 95%;
        margin: 2rem auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3{
            font-size: 2rem;
            font-weight: 900;
            p{
                font-size: 1.5rem;
                font-weight: 400;
                color: var(--primary-color);
            }
        }
        .global-common-btn{
            margin-top: inherit;
            padding: 1rem;
            font-size: 1.5rem;
            cursor: pointer;
        }
    }
}

._t1897{
    object-fit: contain !important;
}