.main-container {
  overflow-x: hidden;
  & > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 8rem;
    background-color: #ffffff;
    flex-wrap: wrap;
    .tyi-logo_21 {
      & > svg {
        width: 200px;
        .d {
          fill: #f45752 !important;
        }
        .e {
          fill: black !important;
        }
      }
    }
    .call-cta_21 {
      & > h2 {
        font-weight: 800;
        color: black;
        font-size: 2.5rem;
        & > svg {
          height: 30px;
          width: 30px;
        }
      }
      & > p {
        text-align: end;
        color: black;
      }
    }
  }
  .section_1 {
    padding: 1%;
    position: relative;
    .backgroundImage {
      background: url('https://ecom-static-site.oss-ap-south-1.aliyuncs.com/New-landing-page/cover.png')
        no-repeat center / cover;
      height: 900px;
      .backgroundTitle {
        // display: flex;
        // justify-content: space-evenly;

        // background: #d95d53d4;
        width: 100%;
        // height: 55%;
        .form_text {
          // font-size: 4rem;
          color: black;
          margin-left: 5%;
          // margin-bottom: 12%;

          .left_heading1 {
            font-size: 6rem;
            font-weight: 800;
            // font-family: var(--futura);
            color: black;
            letter-spacing: 5px;
          }
          .left_heading_bold {
            font-size: 6rem;
            // font-family: var(--futura);
            font-weight: 800;
            color: black;
            letter-spacing: 5px;
          }
          .left_head_bold {
            font-size: 6rem;

            font-weight: 800;
            color: #f45752;
            letter-spacing: 4px;
          }
        }
        .form-phone-info {
          width: 20%;
          min-width: 300px;
          background: #fff;
          margin-top: 2%;
          text-align: center;
          height: fit-content;
          margin-left: 58%;
          & > form {
            & > h5 {
              font-weight: 800;
              text-align: center;
              background-color: #f45752;
              color: #ffffff;
              .lightWeight{
                font-weight: 400;
              }
            }
            & > label {
              width: 80%;
              
              margin: 2rem auto;
              // min-width: 300px;
              display: block;
              height: 40px;
              border: 1px solid black;
              padding: 5px 10px;
              input {
                width: 100%;
                height: 28px;
                border: none;
                &:focus,
                &:focus-visible {
                  border: none;
                  outline: none;
                }
              }
            }
            & > button {
              margin: 0 auto;
              font-size: large;
              color: #fff;
              border: none;
              font-weight: 400;
              margin-bottom: 10px;
              width: 30%;
              padding: 2%;
              cursor: pointer;
              background-color: #f45752;
            }
          }
        }
      }
    }
  }
  .overlap-container {
    display: flex;
    transform: translate(-0.5%, -10%);
    background-color: white;
    border: 1px solid transparent;
    box-shadow: 12px 8px 28px 0px grey;
    gap: 8%;
    padding: 1%;
    box-sizing: border-box;
    z-index: 2;
    width: 95%;
    margin: 0 2.5%;

    .img-container {
      & > img {
        width: 650px;
        height: 500px;
        border-radius: 20px;
      }
    }
    .content-container1 {
      font-size: 3.5em;
      text-align: center;
      font-weight: 600;
      margin-left: 1%;
      margin-top: 1%;
      line-height: 2.2;
      .selected-content1 {
        font-weight: bold;
        color: #f45752;

        .underlined-text {
          display: inline-block;
          border-bottom: 15px solid #f45752;
          margin-top: 5px;
        }
      }
    }
  }
  .container_2 {
    display: flex;
    background-color: white;
    border: 1px solid transparent;
    box-shadow: 0px 8px 10px 1px grey;
    gap: 8%;
    padding: 1%;
    box-sizing: border-box;
    width: 95%;
    margin: 0 2%;
    .content-container2 {
      font-weight: 600;
      font-size: 3.5em;
      text-align: center;
      margin-right: 1%;
      margin-top: 1%;
      line-height: 2.2;
      .span-select {
        color: #f45752;
      }
      .selected-content2 {
        font-weight: bold;
        color: #f45752;
        .underlined-text2 {
          display: inline-block;
          border-bottom: 15px solid #f45752;
          margin-top: 5px;
        }
      }
    }
    .img-container {
      & > img {
        width: 650px;
        height: 500px;
        border-radius: 20px;
      }
    }
  }
  .gradient-container {
    // background-color: aqua;
    text-align: center;
    margin-top: 2%;
    border: 1px solid transparent;
    box-sizing: border-box;
    padding: 1.5%;
    width: 98%;

    margin: 0 2.5%;
    .grad-label {
      font-size: 3em;
      font-weight: 800;
      background-image: linear-gradient(to left, rgba(255, 0, 0, 0), #f45752);
      padding: 1%;
      width: auto;
    }
    .label-list {
      text-align: center;
      width: 99%;
      margin: 1.5% auto;
      font-size: 2em;
      padding: 1.5%;
      border: 1px solid transparent;
      box-sizing: border-box;
      box-shadow: 2px 2px 20px 2px grey;
      margin-top: 0;
      .list1 {
        width: 75%;
        height: 1px;
        align-self: center;
        margin-left: 2%;
        position: relative;
        border: 1px dashed #f45752;
        top: 150px;
      }
      .list2 {
        width: 75%;
        height: 1px;
        margin-left: 2%;
        position: relative;
        border: 1px dashed #f45752;
        top: 300px;
      }
    }

    .label-list ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 0;
      list-style-type: none;
    }

    .label-list li {
      flex: 0 0 45%;
      text-align: left;
      margin-top: 3%;
    }

    .label-list img.flowerIcon {
      width: 30px;
      height: 30px;
      vertical-align: middle;
      margin-right: 5px;
    }
  }
  .gradient-container2 {
    text-align: center;
    margin-top: 2%;
    border: 1px solid transparent;
    box-sizing: border-box;
    padding: 1.5%;
    width: 98%;
    // height: 600px;
    margin: 0 2.5%;
    .partitions1{
      width: 50%;
      height: 1px;
      margin-left: 2%;
      position: relative;
      border: 1px dashed #f45752;
      top: 220px;
    }
    .partitions2{
      width: 50%;
      height: 1px;
      margin-left: 2%;
      position: relative;
      border: 1px dashed #f45752;
      top: 360px;
    }
    .partitions3{
      width: 50%;
      height: 1px;
      margin-left: 2%;
      position: relative;
      border: 1px dashed #f45752;
      top: 530px;
    }

    .grad-label2 {
      font-size: 3em;
      font-weight: 800;
      background-image: linear-gradient(to left, rgba(255, 0, 0, 0), #f45752);
      padding: 1%;
      width: auto;
      
    }
    .label-list2 {
      text-align: center;
      margin: 1.5% auto;
      font-size: 2em;
      display: flex;
      font-weight: 600;
      height: max-content;
      border: 1px solid transparent;
      box-sizing: border-box;
      box-shadow: 2px 2px 20px 2px grey;
      margin-top: 0;
      
    }
    .label-list2 ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 0;
      list-style-type: none;
    }
    .label-list2 li {
      flex: 0 0 45%;
      text-align: left;
      margin-top: 3%;
    }
    .label-list2 img.flowerIcon {
      width: 30px;
      height: 30px;
      vertical-align: middle;
      margin-right: 5px;
    }
    .groupImage {
      width: 90%;
      height: max-content;
      .group {
        background: contain;
        width: 800px;
        height: 650px;
      }
    }
  }
  .featureCourse {
    text-align: center;
    .courseHead {
      display: inline-block;
      font-size: 3em;
      font-weight: 800;
      padding: 1%;
      width: 800px;
      background-color: #f45752;
    }
    .courseHeadItems {
      margin: 1% auto;
      width: 90%;
      font-size: 2em;
      font-weight: 400;
      padding: 1%;
      box-sizing: border-box;
      box-shadow: 2px 5px 20px 2px grey;
      background-image: url('https://ecom-static-site.oss-ap-south-1.aliyuncs.com/New-landing-page/yoga-1.png');
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
    }
    .courseHeadItems ul {
      list-style: none;
      padding-left: 15%;
    }
    .courseHeadItems li {
      text-align: left;
      margin-top: 2.5%;
      padding: 0.5%;
    }
    .courseHeadItems img.flowerIcon {
      width: 40px;
      height: 40px;
      vertical-align: middle;
      margin-right: 5px;
    }
  }
  .founderContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;

    .founderImage {
      width: 900px;
      height: 900px;
      border-radius: 50%;
      overflow: hidden;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      margin-top: 3%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 10;
      }
    }
    .cusp {
      background-color: white;
      height: 205px;
      width: 55px;
      right: 45%;
      top: 25%;
      position: absolute;
      border-top-right-radius: 150px 455px;
    }
    .founderContent {
      .founderArc {
        font-size: 4em;
        background-image: linear-gradient(to left, rgba(255, 0, 0, 0), #f45752);
        text-align: center;
        padding: 3%;
        z-index: 10;
        // margin-right: 1%;

        .founderName {
          font-weight: 800;
        }
      }
      .founderText {
        font-size: 3em;
        margin-left: 4%;
      }
    }
  }
  .schedule {
    // background-color: aquamarine;
    line-height: 2;
    padding: 1%;
    .duration {
      font-size: 3.5em;
      padding-left: 5%;
      font-weight: 500;
      color: #f45752;
    }
    .durationText {
      font-size: 2.5em;
      padding-left: 5%;
      // margin-top: 1%;
    }
    .timing {
      font-size: 3.5em;
      padding-left: 5%;
      font-weight: 500;
      color: #f45752;
    }
    .timingText {
      font-size: 2.5em;
      padding-left: 5%;
    }
  }
  .otherCourses {
    .otherCoursesHead {
      text-align: center;
      font-size: 4em;
      padding: 1%;
      font-weight: 800;
    }
    .offers {
      text-align: center;
      font-size: 3em;
      font-weight: 600;
    }
  }
  .popularCourses {
    display: flex;
    justify-content: space-evenly;

    .popCourses {
      padding: 2%;
      .image123 {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        margin-top: 3%;
        border: 5px solid #f45752;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .popCo1Text {
    font-size: 1.25em;
    font-weight: 400;
    margin-top: 1rem;
    text-align: center;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1439px) {
  .main-container{
    .section_1 {
      .backgroundTitle {
          .form_text {
              .left_heading1 {
                  font-size: 4rem;
                  letter-spacing: 3px;
              }
              .left_heading_bold {
                  font-size: 4rem;
                  letter-spacing: 3px;
              }
              .left_head_bold {
                  font-size: 4rem;
                  letter-spacing: 3px;
              }
          }
          .form-phone-info {
              width: 80%;
              margin: 2% auto;
              // padding: 5% 0;
              box-sizing: border-box;
  
              & > form {
                  
                  & > label {
                      height: 30px;
                  }
                  & > button {
                      font-size: medium;
                      width: 40%;
                      padding: 2% 5%;
                  }
              }
          }
      }
  }
    .gradient-container{
      .label-list{
        .list1{
          top: 110px;
        }
        .list2{
          top:220px
        }
      }
    }
    .gradient-container2{
      .partitions1{
        width: 30%;
      }
      .partitions2{
        width: 30%;
      }
      .partitions3{
        width: 30%;
      }
    }
    .founderContainer{
      .founderImage{
        width: 450px;
        height: 450px;
      }
      .cusp{
        height: 155px;
        width: 65px;
        right: 51%;
        top: 13%;
      }
    }
   }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .main-container{
    .overlap-container{
      .img-container {
        & > img {
          width: 450px;
          height: 400px;
          border-radius: 20px;
        }
      }
    }
    .container_2{
      .img-container {
        & > img {
          width: 450px;
          height: 400px;
          border-radius: 20px;
        }
      }
    }
    .gradient-container{
      .label-list{
        .list1{
          top: 110px;
        }
        .list2{
          top:220px
        }
      }
    }
    .gradient-container2{
      .partitions1{
        width: 45%;
        top: 170px;
      }
      .partitions2{
        width: 45%;
        top: 275px;
      }
      .partitions3{
        width: 45%;
        top: 385px;
      }
    }
    .label-list2{
      .groupImage{
        .group {
          background: contain;
          width: 500px;
          height: 450px;
        }
      }
    }
    .founderContainer{
        .founderImage{
          width: 450px;
          height: 450px;
        }
        .cusp{
          height: 170px;
          width: 58px;
          right: 54%;
          top: 11%;
        }
    }
    .popularCourses{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }

   }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
 .main-container{
  .overlap-container{
    display: flex;
      flex-direction: column;
      align-items: center;
  }
  .container_2{
    display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
  }
  .gradient-container{
    .label-list{
      .list1{
        top: 90px;
        width: 85%;
      }
      .list2{
        top:190px;
        width: 85%;
      }
    }
  }
  .gradient-container2{
    .partitions1{
      width: 75%;
      top: 150px;
    }
    .partitions2{
      width: 75%;
      top: 234px;
    }
    .partitions3{
      width: 75%;
      top: 310px;
    }
    .label-list2{
      display: flex;
      flex-direction: column;
      align-items: center;
      .groupImage{
        .group {
          background: contain;
          width: 600px;
          height: 450px;
        }
      }
    }
  }
  .founderContainer{
    display: flex;
    flex-direction: column;
    .founderImage{
      width: 450px;
      height: 450px;
    }
    .cusp{
      display: none;
    }
  }
  .popularCourses{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
 }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .main-container{
    
    .section_1{
      .backgroundImage{
        .backgroundTitle{
          .form_text{
            .left_heading1{
              font-size: 5em;
            }
            .left_heading_bold{
              font-size: 5em;
            }
            .left_head_bold{
              font-size: 5em;
            }
          }
          .form-phone-info{
            margin-left: 20%;
          }
        }
      }
    }
    .overlap-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      .img-container {
        & > img {
          width: 450px;
          height: 350px;
          border-radius: 20px;
        }
      }
    }
    .container_2{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      .img-container {
        & > img {
          width: 450px;
          height: 350px;
          border-radius: 20px;
        }
      }
    }
    .gradient-container{
      .label-list{
        .list1{
          display: none;
        }
        .list2{
          display: none;
        }
      }
      .label-list ul{
        display: flex;
        flex-direction: column;
        margin-left: 25%;
      }
    }
    .gradient-container2{
      .partitions1{
        width: 80%;
        top: 140px;
      }
      .partitions2{
        width: 80%;
        top: 204px;
      }
      .partitions3{
        width: 80%;
        top: 280px;
      }
      .label-list2{
        display: flex;
        flex-direction: column;
        align-items: center;
        .groupImage{
          .group {
            background: contain;
            width: 400px;
            height: 250px;
          }
        }
      }
    }
    .featureCourse{
      .courseHead{
        font-size: 2em;
        width: fit-content;
      }
    }
    .founderContainer{
      display: flex;
      flex-direction: column;
      .founderImage{
        width: 450px;
        height: 450px;
      }
      .cusp{
        display: none;
      }
    }
    .popularCourses{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }
    .testimonials-section21 {
      padding: 1rem;
      .testimonial21 {
        flex-wrap: wrap;
        padding: 10px;
        height: 650px;
        min-height: fit-content;
        .left21 {
          width: 100%;
          text-align: center;
          img {
            display: block;
            margin: 0 auto;
          }
        }
        .right21 {
          padding: 5px;
          .heading21 {
            font-size: 1.75rem;
            font-weight: bold;
            padding-left: 10px;
          }
          span {
            display: block;
            color: #cc4d2e;
            font-size: 1.6rem;
            font-weight: bold;
            margin-bottom: 20px;
            padding-left: 10px;
          }

          .content21 {
            font-size: 1.25rem;
            padding: 0 0 20px 10px;
            text-align: justify;
          }
        }
      }
    }

  }
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .main-container{
    .section_1{
      .backgroundImage{
        .backgroundTitle{
          .form_text{
            .left_heading1{
              font-size: 4em;
            }
            .left_heading_bold{
              font-size: 4em;
            }
            .left_head_bold{
              font-size: 4em;
            }
          }
          .form-phone-info{
            margin-left: 2%;
          }
        }
      }
    }
    .overlap-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      transform: translate(-0.5%, -1%);
      .img-container {
        & > img {
          width: 250px;
          height: 200px;
          border-radius: 20px;
        }
      }
      .content-container1{
        font-size: 2em;
      }
    }
    .container_2{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      .img-container {
        & > img {
          width: 250px;
          height: 200px;
          border-radius: 20px;
        }
      }
      .content-container2{
        font-size: 2em;
      }
    }
    .gradient-container{
      .label-list{
        font-size: 2em;
        
        .list1{
         display: none;
        }
        .list2{
          display: none;
        }
      }
      .label-list ul{
        display: flex;
        flex-direction: column;
      }
    }
    .gradient-container2{
      .partitions1{
       display: none;
      }
      .partitions2{
        display: none;
      }
      .partitions3{
        display: none;
      }
      .label-list2{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2em;
        .groupImage{
          .group {
            background: contain;
            width: 250px;
            height: 150px;
          }
        }
      }
      .label-list2 ul{
        display: flex;
        flex-direction: column;
      }
    }
    .featureCourse{
      .courseHead{
        font-size: 2em;
        width: fit-content;
      }
    }
    .founderContainer{
      display: flex;
      flex-direction: column;
      .founderImage{
        width: 250px;
        height: 250px;
      }
      .cusp{
        display: none;
      }
      .founderContent{
        font-size: 0.6em;
      }
      
    }
    .schedule{
      font-size: 0.6em;
    }
    .otherCourses{
      .otherCoursesHead{
        font-size: 3em;
      }
      .offers{
        font-size: 2em;
      }
    }
    .popularCourses{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
    }
    .testimonials-section21 {
      padding: 1rem;
      .testimonial21 {
        flex-wrap: wrap;
        padding: 10px;
        height: 650px;
        min-height: fit-content;
        .left21 {
          width: 100%;
          text-align: center;
          img {
            display: block;
            margin: 0 auto;
          }
        }
        .right21 {
          padding: 5px;
          .heading21 {
            font-size: 1.75rem;
            font-weight: bold;
            padding-left: 10px;
          }
          span {
            display: block;
            color: #cc4d2e;
            font-size: 1.6rem;
            font-weight: bold;
            margin-bottom: 20px;
            padding-left: 10px;
          }

          .content21 {
            font-size: 1.25rem;
            padding: 0 0 20px 10px;
            text-align: justify;
          }
        }
      }
    }

  }
}
@media (max-width:1800px){
.main-container{
  .gradient-container{
    .label-list{
      .list1{
        top: 120px;
      }
      .list2{
        top:250px
      }
    }
  }
  .founderContainer{
    .cusp{
      height: 166px;
      width: 66px;
      right: 39%;
      top: 30%;
    }
  }

}
}


