.terms-container{
 .banner-heading{
  margin: 2rem auto 0;
  font-size: 30px;
  font-weight: bold;
  width: fit-content;
  // position: relative;
  // top: 1rem;
  // left: 7.5rem;
 }
 .bottom-line{
  height: 4px;
  border-radius: 50%;
  background: linear-gradient(90deg, rgba(235, 179, 138, 0.5294117647), rgba(202, 70, 37, 0.9803921569), var(--brick-red), rgba(202, 70, 37, 0.9803921569), rgba(235, 179, 138, 0.5294117647));
}
}
.terms-and-conditions{
  width: 90%;
  margin: 2rem auto;
  padding-bottom: 3rem;
  h2{
    font-size: 22px;
    font-weight: bolder;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
  p{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 2rem;
  }
  .t-c-notes{
    margin-top: 5rem;
  }
}
.dining-hall{
  padding-left: 3rem;
}
@media (max-width:900px){
  .terms-container {
    .banner-heading {
      font-size: 22px;
    }
  }
  .terms-and-conditions{
    
      h2{
        font-size: 18px;
      }
      p{
        font-size: 14px;
      }
    
  }
}

.ReactModalPortal .ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.5) !important;
  
}

.check_date .item-label:has(.item-input:checked) {
  background-color: #FFF8F6 !important;
  box-shadow: 0 0 0 2px #CA4625 inset !important;
}

.check_date .item-label:hover {
  background-color: #FFF8F6 !important;
}

.before_date_select {
  background-color: rgba(202, 70, 37, 0.5) !important;
  cursor: pointer;
  color: #fff !important;
}

.after_date_select {
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  background-color: rgba(202, 70, 37, 1);
  cursor: pointer;
}

.check_date .item-label {
  display: flex;
  justify-content: center !important;
}

.item_padding {
  padding-top: 5px;
}

.change-cross-svg-width svg {
  width: 100%;
  height: 100%;
  
}

.cards_new_popup_dates {
  width: 48%;
}

@media (max-width: 768px) {
  .cards_new_popup_dates {
    width: 100%;
  }

  .ReactModal__Content--after-open {
    width: 80% !important;
  }
}

@media (max-width: 1124px) {
  .cards_new_popup_dates {
    width: 100%;
  }

 
}



