.common-container {
    // height: 100vh;
    width: 100vw;
    // position: relative;
    // height: 100%;
    background: no-repeat center / cover;
    .navigation-container {
        padding-top: 1rem;
    // position: absolute;
    z-index: 9;
    width: 100%;
}
// .img-container{
//     width: 100%;
//     img {
//         z-index: -1;
//         position: absolute;
//         width: 100%;
//     }
// }
.banner-container {
    color: #fff;
    // position: absolute;
    z-index: 9;
    width: 50%;
    padding-top: 5%;
    margin-left: 50%;
    .banner-text {
        width: 70%;
        font-size: 1.7rem;
        padding-bottom: 10rem;
    }
}
.banner-heading {
    font-size: 2.75rem;
    font-weight: bolder;
    margin-bottom: 0.5rem;
    width: max-content;
}
.bottom-line {
    height: 3px;
    border-radius: 200%;
    width: 100%;    
    background: linear-gradient(90deg,transparent,#fff,#fff,transparent);
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
}

//images

// .museum-banner-container,.facilities-container, 
// .gifting-container, .faq-container, .volunteer-container, 
// .OurCareers-container, .why-tyi-container, 
// .Benefits-container, .Values-container, 
// .support-container, .donation-container, .affiliation-container{ 
//     position: relative;
// }
// .museum-banner-container img,.facilities-container img, 
// .gifting-container img, .faq-container img, .volunteer-container img, 
// .OurCareers-container img, .why-tyi-container img, 
// .Benefits-container img, .Values-container img, 
// .support-container img, .donation-container img, .affiliation-container img{
//     position: absolute;
//     z-index: -2;
//     height: 100%;
//     width: 100%;
// }

// .overlay{
//     position: absolute;
//     z-index: -1;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(0,0,0,0.5);
// }

.terms-container{
    background: rgb(78, 105, 150)
  }
  .privacy-container{
      background: rgb(238, 130, 130);
  }

//if other content is there other than banner
.common-container-responsive {
//     position: relative;
//     background: none;
//     height: 100%;
//     .navigation-container-responsive {
//         position: absolute;
//     }
    .banner-container-responsive {
        margin-left: 0;
        padding-top: 15%;
        text-align: center;
        width: 100%;
        padding-top: 5%;
        .banner-text {
            margin: 0 auto;
            width: 50%;
        }
        .banner-heading {
            margin: 0 auto;
        }
    }
}
// .common-container-responsive .banner-container-responsive {
//     width: 100%;
// }
@media (max-width: "1000px") {
    .common-container .banner-container .banner-text {
        font-size: 1.3rem;
    }
}
@media (max-width: "768px") {
    .common-container .banner-container .banner-text {
        margin: 0 auto;
        width: 60%;
        text-align: center;
        font-size: 1.3rem;
        padding-top: 0;
    }
    .common-container .banner-container .banner-heading {
        margin: 0.5rem auto;
    }
    .common-container .banner-container {
        width: 100%;
        padding-top: 11%;
        margin-left: 0;
    }
}

@media (max-width: "570px") {
    .common-container .banner-container .banner-text {
        margin: 0 auto;
        width: 80%;
        text-align: center;
        font-size: 1rem;
        padding-top: 0;
    }
    .common-container .banner-container .banner-heading {
        font-size: 1.5rem !important;
    }
    .common-container .navigation-container .common-nav-container .mega-nav .hamburger svg {
        width: 20px !important;
    }
    // .common-container .banner-container {
    //     padding-top: 13%;
    // }
}

@media (max-width: "420px") {
    .common-container .banner-container .banner-heading {
        font-size: 1.2rem !important;
    }
    // .common-container .banner-container {
    //     padding-top: 13%;
    // }
}