.main-nutri-seven-days {
  overflow-x: hidden;
  .overlap-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    box-shadow: 10px white;
    width: 80%;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    line-height: 2;
    height: 12%;
  }
  // & > main{
  .section_1_2 {
    .bg_img_21 {
      background: url('https://ecom-static-site.oss-ap-south-1.aliyuncs.com/seven-days/Rectangle-1-copy.jpg')
        no-repeat center / cover;
      height: 920px;
      & > img {
        object-fit: cover;
        width: 100%;
      }
      & > nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 15rem;
        flex-wrap: wrap;
      }
      .tyi-logo_21 {
        & > svg {
          width: 200px;
          .d {
            fill: #f25f5c !important;
          }
          .e {
            fill: white !important;
          }
        }
      }

      .phone-info {
        & > h2 {
          font-weight: bold !important;
          color: white;
          font-size: 2.5rem;
          & > svg {
            height: 30px;
            width: 30px;
          }
        }
        & > p {
          font-weight: 900;
          text-align: end;
          color: white;
        }
      }
    }

    .img_form_21 {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      // background: #d95d53d4;
      width: 100%;
      height: 85%;
      .form_text {
        font-size: 3rem;
        color: #fff;
        .left_heading1 {
          font-size: 6rem;
          font-weight: 500;
          font-family: var(--futura);
          color: white;
          letter-spacing: 5px;
        }
        .left_heading_bold {
          font-size: 6rem;
          font-family: var(--futura);
          font-weight: 700;
          color: white;
          letter-spacing: 5px;
        }
        .left_heading2 {
          font-size: 6rem;
          font-family: var(--futura);
          font-weight: bold;
          color: white;
          letter-spacing: 5px;
        }
        .left_heading3 {
          font-size: 6rem;
          font-family: var(--futura);
          font-weight: bold;
          color: white;
          font-weight: 500;
          letter-spacing: 5px;
        }
        .left_heading_text {
          font-size: 6rem;
          font-family: var(--futura);
          font-weight: 500;
          color: white;
          letter-spacing: 5px;
        }
      }
      .form-phone-info {
        width: 25%;
        min-width: 400px;
        background: #fff;
        padding: 2rem;
        border-radius: 24px;
        height: fit-content;
        & > form {
          & > h2 {
            font-weight: 700;
            text-align: center;
          }
          & > label {
            width: 60%;
            margin: 2rem auto;
            min-width: 300px;
            display: block;
            height: 40px;
            border: 1px solid black;
            border-radius: 24px;
            padding: 5px 10px;
            input {
              width: 100%;
              height: 28px;
              border: none;
              &:focus,
              &:focus-visible {
                border: none;
                outline: none;
              }
            }
          }
          & > .global-common-btn {
            margin: 0 auto;
          }
        }
      }
    }
  }
}

.overlap-heading {
  position: absolute;
  z-index: 99;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  width: 80%;
  font-size: 2.5rem !important;
  font-weight: bold;
  text-align: center;
  line-height: 2.5 !important;
  height: 8%;
}

.heading_21 {
  font-size: 3.5rem;
  width: fit-content;
  // padding: 0.25rem 1.5rem;
  padding-top: 10rem;
  margin-bottom: 2rem;
  font-weight: bold;
  // font-family: var(--hero);
  &:nth-child(2n + 1) {
    width: fit-content;
  }
}
.text_21 {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: bold;
  text-align: justify;
  width: 90% !important;
  color: #737272!important;
  & > a {
    color: blue;
    overflow-wrap: anywhere;
  }
}
.section_2 {
  display: flex;
  &:nth-child(2n + 1) {
    align-items: center;
    flex-direction: column;
  }
  & > div {
    width: 100%;
  }
  .sec2_img {
    height: 800px;
    position: relative;
    & > img {
      object-fit: cover;
      height: 100%;
      width: 40%;
    }
    .sec2_text_desktop {
      width: 50%;
      .heading21 {
        .text_21 {
          width: 50%;
          color: black;
          font-weight: 700;
        }
      }
    }
    .sec2_text_mobile {
      position: absolute;
      top: 0%;
      left: 42%;
      // transform: translate(-50%,-50%);
      width: 60%;
      height: 90%;
      // background-color: #00000090;
      padding: 2rem;
      color: black !important;
    }
  }
  // .sec2_text {
  //   // margin-left: 2rem;
  // }
}

.programs-info {
  position: relative;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2rem;
  background-color: #ececec;
  border-radius: 50px;
  width: 100%;
  padding: 3rem 26% 3rem 12rem;
  ul {
    margin-top: 2rem;
  }
  li {
    overflow-wrap: break-word;
    list-style-type: disc;
    margin-top: 0.5rem;
  }
  .programs-benefits {
    font-size: 2rem;
    margin-top: 2rem;
    width: 100%;
    padding: 1rem 0rem;
    .programs {
      font-weight: bold;
      margin-bottom: 2rem;
    }
  }
}
.learning-section {
  background-color: #ececec;
  padding: 5rem;
  .learning {
    display: flex;
    flex-direction: row !important;
    justify-content: space-evenly;
    margin-left: 10rem;
    .programs {
      color: #f25f5c;
      font-size: 4rem;
      font-weight: 700;
    }
    ul {
      font-size: 2rem;
      font-weight: 700;
      padding: 1rem 4rem;
      color: #6c6c6c;
      font-weight: bold;
    }
  }
  .registration-dates {
    & > div {
      font-size: 2rem;
      text-align: center;
      margin-top: 0.5rem;
      font-weight: 700;
    }
    .registration-heading {
      color: #f25f5c;
      font-size: 4rem;
    }
    .dates-reg {
      font-size: 4rem;
      color: #6c6969;
    }
    .dates-reg-2 {
      font-size: 4rem;
      font-weight: 600;
      color: #6c6969;
    }
    .reg-note {
      color: #f25f5c;
      font-weight: 700;
      width: 40%;
      margin: 1rem auto;
    }
  }
}
.background-img {
  .img-bg-sec {
    width: 100%;
  }
}

.landing_other22 {
  width: 80%;
  background-color: white;
  border: 2px solid white;
  font-size: 2rem;
  text-align: center;
  line-height: 3;
  height: 80px;
  font-weight: bold;
  margin-top: -10rem;
  z-index: 99999;
}

.other_div21 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
  .other_line21 {
    border: 2px solid #f78b89;
    width: 40%;
    background-color: #f78b89;
  }
  .landing_other21 {
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    margin: 1rem;
  }
}
.featured-section21 {
  padding: 2rem 8rem;
  & > p {
    font-weight: 700;
    text-decoration: underline;
    margin-top: 2rem;
  }
  & > h4 {
    font-size: 2rem;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  & > a {
    font-size: 2rem;
    color: rgb(75, 95, 207);
    display: block;
  }
}

.last_div21-2 .last_text21 {
  font-size: 2.5rem;
  color: #949494;
  font-weight: 600;
  text-align: center;
  width: 60% !important;
  padding-bottom: 13rem;
}

.popular_div21 {
  padding: 8rem 8rem;
  display: flex;
  align-items: flex-start;
  .pop_courses_div21 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 20%;
  }
  .popular_img21 {
    height: 200px;
    width: 200px;
    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
      border-radius: 50%;
      margin-top: 0rem !important;
    }
  }
  .popular_text21 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 1rem;
  }
}

@media (max-width: 1220px) {
  .main-nutri-seven-days {
    & > main {
      .popular_div21 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
      }
      .section_3_2 {
        .int_img_text21 {
          // align-items: flex-end;
          .int_text21 {
            .subtitle_21 {
              width: 70%;
            }
          }
        }
        .details_21_2 {
          .detail_heading {
            margin-top: 3rem;
          }
        }
      }
    }
  }
  .main-nutri-seven-days
    > main
    .section_1_2
    .bg_img_21
    .img_form_21
    .form_text {
    .main_heading1 {
      font-size: 4rem;
    }
    .main_heading2 {
      font-size: 6rem;
    }
  }
}

.last_div21-2 .last_text21 {
  font-size: 2.5rem;
  color: #949494;
  font-weight: 600;
  text-align: center;
  width: 60% !important;
  padding-bottom: 13rem;
}

.overlap-heading {
  position: absolute;
  z-index: 99;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  width: 80%;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  line-height: 2;
  height: 10%;
}

.bottom-img-div {
  width: 100%;
  overflow-x: hidden;
  margin-top: -9.5rem;
  .bottom-image {
    width: 100%;
  }
}

@media (max-width: 1100px) {
  .main-nutri-seven-days {
    .section_1_2 .img_form_21 .form-phone-info {
      width: 25%;
      min-width: 400px;
      background: #fff;
      margin-right: 2rem;
      padding: 2rem;
      border-radius: 24px;
      height: -moz-fit-content;
      height: fit-content;
    }
    .tyi-logo_21 > svg {
      width: 200px;
      margin-left: 10rem;
    }
    .bg_img_21 > nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2rem 5rem !important;
      flex-wrap: wrap;
    }
    .left_heading1 {
      margin-left: 2rem;
    }
    .left_heading2 {
      margin-left: 2rem;
    }
    .left_heading3 {
      margin-left: 2rem;
    }

    & > main {
      .section_2 {
        display: flex;
        &:nth-child(2n + 1) {
          align-items: center;
          flex-direction: column;
        }
        & > div {
          width: 100%;
        }
        .sec2_img {
          height: 800px;
          position: relative;
          & > img {
            object-fit: cover;
            height: 100%;
            width: 40%;
          }
          .sec2_text_desktop {
            width: 50%;
            .heading21 {
              .text_21 {
                width: 50%;
                font-family: var;
              }
            }
          }
          .sec2_text_mobile {
            position: absolute;
            top: 0%;
            left: 45%;
            // transform: translate(-50%,-50%);
            width: 50%;
            height: 90%;
            // background-color: #00000090;
            padding: 2rem;
            color: black !important;
          }
        }
      }
      .section_2 {
        display: flex;
        &:nth-child(2n + 1) {
          align-items: center;
          flex-direction: column;
        }
        & > div {
          width: 100%;
        }
        .sec2_img {
          height: 800px;
          position: relative;
          & > img {
            object-fit: cover;
            height: 100%;
            width: 40%;
          }
          .sec2_text_desktop {
            width: 50%;
            .heading21 {
              .text_21 {
                width: 50%;
              }
            }
          }
          .sec2_text_mobile {
            position: absolute;
            top: 0%;
            left: 45%;
            // transform: translate(-50%,-50%);
            width: 50%;
            height: 90%;
            // background-color: #00000090;
            padding: 2rem;
            color: black !important;
          }
        }
      }
      .section_3_2 {
        .details_21_2 {
          padding: 5rem 60% 2rem 15%;
        }
        .int_img_text21 {
          margin-right: 0;
          .int_text21 {
            // .title_21 {
            // padding: 1rem;
            // text-align: center;
            // }
            .subtitle_21 {
              width: 88%;
              margin: 4rem;
            }
          }
          // flex-wrap: wrap;
          // .int_img21 {
          //   // margin: 0 auto;
          // }
        }
      }
      .last_div21-2 .last_text21 {
        font-size: 2.5rem;
        color: #949494;
        font-weight: 600;
        text-align: center;
        width: 100% !important;
        padding-bottom: 13rem;
      }
      .overlap-heading {
        position: absolute;
        z-index: 99;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
        width: 80%;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        line-height: 2;
        height: 12%;
      }
      .testimonials-section21 {
        padding: 1rem;
        .testimonial21 {
          flex-wrap: wrap;
          padding: 10px;
          height: 650px;
          min-height: fit-content;
          .left21 {
            width: 100%;
            text-align: center;
            img {
              display: block;
              margin: 0 auto;
            }
          }
          .right21 {
            padding: 5px;
            .heading21 {
              font-size: 1.75rem;
              font-weight: bold;
              padding-left: 10px;
            }
            span {
              display: block;
              color: #cc4d2e;
              font-size: 1.6rem;
              font-weight: bold;
              margin-bottom: 20px;
              padding-left: 10px;
            }

            .content21 {
              font-size: 1.25rem !important;
              padding: 0 0 20px 10px;
              text-align: justify;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 786px) {
  .main-nutri-seven-days {
    .bg_img_21 {
      height: 1050px !important;
      .phone-info > h2 {
        font-weight: bold !important;
        color: white;
        font-size: 1.75rem !important;
      }
    }
    & > nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 2rem !important;
      background-color: #ffffff;
      flex-wrap: wrap;
    }
    & > main {
      .section_2 {
        margin: 0rem 0rem 0rem 0rem;
        flex-wrap: wrap;
        .sec2_text {
          margin-top: 3rem;
          margin-left: 0;
        }
      }
      .about_clinic:nth-child(2n + 1) {
        width: 50%;
        color: rgb(84, 136, 84);
        text-align: center;
        border-radius: 0 30px 30px 0;
        margin-top: 2rem;
        padding: 1rem 0 0 0;
      }
      .section_1_2 .bg_img_21 .img_form_21 .form-phone-info {
        width: 25%;
        min-width: 400px;
        background: #fff;
        padding: 2rem;
        border-radius: 24px;
        margin: 0 auto;
        height: fit-content;
      }
      .section_2 {
        display: flex;
        &:nth-child(2n + 1) {
          align-items: center;
          flex-direction: column;
        }
        & > div {
          width: 100%;
        }
        .sec2_img {
          height: 800px;
          position: relative;
          & > img {
            object-fit: cover;
            height: 100%;
            width: 100%;
          }
          .heading21 {
            .text_21 {
              width: 50%;
            }
          }
          .sec2_text_mobile {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90%;
            height: 90%;
            background-color: #00000090;
            padding: 2rem;
            color: white !important;
          }
        }
      }
      .learning-section {
        padding: 5rem 0;
        .registration-dates .reg-note {
          color: #f25f5c;
          font-weight: 700;
          width: 60%;
          margin: 1rem auto;
        }
      }
      .text_21 {
        margin-top: 2rem;
        width: 100% !important;
        color: #ffffff!important;
      }
      .heading_21 {
        margin: 0 auto;
      }
      .testimonials-section21 {
        padding: 1rem;
        .testimonial21 {
          flex-wrap: wrap;
          padding: 10px;
          height: 650px;
          min-height: fit-content;
          .left21 {
            width: 100%;
            text-align: center;
            img {
              display: block;
              margin: 0 auto;
            }
          }
          .right21 {
            padding: 5px;
            .heading21 {
              font-size: 1.75rem;
              font-weight: bold;
              padding-left: 10px;
            }
            span {
              display: block;
              color: #cc4d2e;
              font-size: 1.6rem;
              font-weight: bold;
              margin-bottom: 20px;
              padding-left: 10px;
            }

            .content21 {
              font-size: 1.25rem;
              padding: 0 0 20px 10px;
              text-align: justify;
            }
          }
        }
      }
      .featured-section21 {
        padding: 2rem;
        & > h4 {
          font-size: 1.5rem;
        }
        & > a {
          font-size: 1.5rem;
        }
      }
      .details-section21 {
        .learning_benefits21 {
          display: block;
          & > div {
            & > ul {
              margin-top: 2rem;
            }
          }
        }
      }
    }
  }
  .main-nutri-seven-days > main .section_1_2 .bg_img_21 .img_form_21 {
    display: block;
    .form_text {
      text-align: center;
      padding: 2rem 1rem;
    }
  }
  .section_3_2 {
    .int_img_text21 .int_img21 {
      width: 30%;
      margin-left: -30%;
    }
  }
  .main-nutri-seven-days > main .section_3_2 .details_21_2 {
    margin-top: 0;
    text-align: center;
    padding: 0;
  }
  .programs-info .img-programs {
    width: 150px;
  }
  .last_div21-2 .last_text21 {
    font-size: 2.5rem;
    color: #949494;
    font-weight: 600;
    text-align: center;
    width: 100%;
    padding-bottom: 13rem;
  }
  .overlap-heading {
    position: absolute;
    z-index: 99;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    width: 80%;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    line-height: 2;
    height: 14% !important;
  }
}

@media (max-width: 600px) {
  .main-nutri-seven-days .section_1_2 .img_form_21 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 85%;
    .form_text {
      font-size: 3rem;
      color: #fff;
      .left_heading1 {
        font-size: 4rem !important;
        font-weight: 500;
        font-family: var(--futura);
        color: white;
        letter-spacing: 5px;
      }
      .left_heading_bold {
        font-size: 4rem !important;
        font-family: var(--futura);
        font-weight: 700;
        color: white;
        letter-spacing: 5px;
      }
      .left_heading2 {
        font-size: 4rem !important;
        font-family: var(--futura);
        font-weight: bold;
        color: white;
        letter-spacing: 5px;
      }
      .left_heading3 {
        font-size: 4rem !important;
        font-family: var(--futura);
        font-weight: bold;
        color: white;
        font-weight: 500;
        letter-spacing: 5px;
      }
      .left_heading_text {
        font-size: 4rem !important;
        font-family: var(--futura);
        font-weight: 500;
        color: white;
        letter-spacing: 5px;
      }
    }
  }.bg_img_21 > nav {
    justify-content: space-around !important;
  }
  .phone-info {
    & > h2 {
      font-size: 1.5rem;
    }
  }
  .main-nutri-seven-days .section_1_2 .bg_img_21 .tyi-logo_21 > svg {
    margin-left: 2rem !important;
  }
  .sec2_img {
    height: 800px;
    position: relative !important;
    & > img {
      object-fit: cover;
      height: 100%;
      width: 100% !important;
    }
    .sec2_text_mobile {
      position: absolute !important;
      top: 50% !important;
      left: 50% !important;
      transform: translate(-50%, -50%);
      width: 90% !important;
      height: 90%;
      background-color: #00000090 !important;
      padding: 2rem;
      color: black !important;
    }
    .heading_21 {
      font-size: 3.5rem;
      width: fit-content;
      // padding: 0.25rem 1.5rem;
      padding-top: 10rem;
      margin-bottom: 2rem;
      &:nth-child(2n + 1) {
        width: fit-content;
        color: white !important;
      }
    }
    .text_21 {
      font-size: 2rem;
      margin-bottom: 2rem;
      font-weight: 600;
      text-align: justify !important;
      width: 100% !important;
      &:nth-child(2n + 1) {
        text-align: center;
        color: white !important;
      }
      &:nth-child(2n) {
        text-align: center;
        color: white !important;
      }
      & > a {
        color: blue;
        overflow-wrap: anywhere;
      }
    }
  }
  .last_div21-2 .last_text21 {
    font-size: 2.5rem;
    color: #949494;
    font-weight: 600;
    text-align: center;
    width: 100% !important;
    padding-bottom: 13rem;
  }
  .main-nutri-seven-days .section_1_2 .bg_img_21 .phone-info {
    > p {
      text-align: center;
    }
    > h2 {
      font-size: 1.5rem;
      text-align: center;
    }
  }
  .overlap-heading {
    position: absolute;
    z-index: 99;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    width: 80%;
    font-size: 2.25rem !important;
    font-weight: bold;
    text-align: center;
    line-height: 2;
    height: 14% !important;
  }
}

@media (max-width: 520px) {
  .main-nutri-seven-days {
    .bg_img_21 {
      height: 1100px !important;
    }
    .nutri-logo {
      margin-right: 5rem;
      .nutri-image {
        width: 225px;
        padding: 2rem;
      }
    }
    & > nav {
      justify-content: center;
      .nutri-logo {
        & > svg {
          width: 150px;
        }
      }
      .phone-info {
        & > h2 {
          font-size: 2rem;
          text-align: center;
        }
        p {
          text-align: center;
        }
        .about_clinic:nth-child(2n + 1) {
          width: 100%;
          color: rgb(84, 136, 84);
          text-align: center;
          border-radius: 0 30px 30px 0;
          margin-top: 2rem;
          padding: 1rem 0 0 0;
        }
      }

      .sec2_img {
        height: 800px;
        position: relative !important;
        & > img {
          object-fit: cover;
          height: 100%;
          width: 95%;
        }
        .sec2_text_mobile {
          position: absolute !important;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 90%;
          height: 90%;
          background-color: #00000090 !important;
          padding: 2rem;
          color: white !important;
        }
      }
      & > main {
        .details-section21 {
          padding: 3rem;
          .learning_benefits21 > div > ul {
            margin-bottom: 3rem;
            > li > p {
              font-size: 2rem;
            }
          }
        }
        .last_div21-2 {
          margin: 0;
          padding-bottom: 10rem;
          img {
            margin-top: -15rem;
            width: 100vw;
          }
          .last_text21 {
            width: 100%;
          }
        }
        .text_21 {
          font-size: 2rem;
          text-align: justify !important;
        }
        .section_3_2 {
          .details_21_2 {
            .detail_heading {
              font-size: 3.5rem;
            }
            .details_text {
              font-size: 2rem;
              margin-top: 2rem;
              text-align: center;
              letter-spacing: 2px;
            }
          }
          .int_img_text21 .int_text21 {
            .subtitle_21 {
              font-size: 2rem;
            }
            .title_21 {
              font-size: 3.5rem;
            }
          }

          .section_1_2 {
            .bg_img_21 {
              min-height: fit-content;
              .img_form_21 {
                .form-cta_21 {
                  width: 90%;
                  min-width: 300px;
                  margin: 0 auto;
                }
                .form_text {
                  .main_heading1 {
                    font-size: 3rem;
                  }
                  .main_heading2 {
                    font-size: 4.5rem;
                  }
                  .fruits-img {
                    width: 100%;
                    .fruits-image {
                      width: 100%;
                      margin-top: 30rem;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .section_3_2 .int_img_text21 .int_text21 .title_21 {
    font-size: 2rem;
    padding: 2rem 5%;
  }

  .main-nutri-seven-days > main .about_clinic:nth-child(2n + 1) {
    min-width: max-content;
    padding: 2rem;
    margin: 20px auto;
    border-radius: 30px !important;
  }

  .last_div21-2 .last_text21 {
    font-size: 2.5rem;
    color: #949494;
    font-weight: 600;
    text-align: center;
    width: 100% !important;
    padding-bottom: 13rem;
  }
  .last_div21-2 .last_logo21 > svg {
    width: 250px;
    margin-top: -5rem;
  }
  .about_clinic_info {
    font-size: 2rem;
    margin-top: 2rem;
    width: 100%;
    padding: 1rem 5rem;
  }
  .programs-info {
    padding: 3rem 15%;
    .img-programs {
      display: none;
    }
  }
  .learning-section .learning {
    display: grid;
    margin-left: 2rem;
  }

  .overlap-heading {
    position: absolute;
    z-index: 99;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    width: 85%!important;
    font-size: 1.6rem !important;
    font-weight: bold;
    text-align: center;
    line-height: 2;
    height: 30% !important;
  }
}

@media (max-width: 320px) {

  .overlap-heading {
    position: absolute;
    z-index: 99;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    width: 90%!important;
    font-size: 1.3rem !important;
    font-weight: bold;
    text-align: center;
    height: 20% !important;
  }
}


