.error_main_div {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  .error_div {
    height: 350px;
    width: 600px;
    border: 1px solid #60606080;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .error_msg {
      color: #47984a;
      font-size: 50px;
      font-weight: bold;
    }
    .error_msg_detail {
      font-size: 15px;
    }
  }
}
