
@import '../../../../../index.scss';
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Poppins:wght@600&display=swap');

.main-container{
  background-color: FEFEFE;
  box-sizing:border-box;
  overflow: hidden;
 }
 .header{
   position: relative;
 }

 .header-logo-nutrigut{
  display: flex;
  justify-content: center;
 }
 .head {
   position: relative;
   font-family: 'Anek';
 }
 .model-container{
   position: relative;
   background: linear-gradient(to bottom, #20B856 10%,#63C002  80%);
 }
 .content-container{
   width: 42%;
   height: 6%;
   bottom: -5%;
   background-color: #63C002;
   position: absolute;
   border-radius: 0 0 9rem 0;
   color: #63C002;
   z-index: -1;
 }
 .model-image{
   margin-top: -3%;
   width: 32%;
   margin-left: 1%;
   position: relative;
   z-index: 1;
 }
 .bg-container{
 height: 100%;
 width: 100%;
 }
 .main-image{
   width: 100%;
 }
 .pop{
   font-family: 'Poppins', sans-serif;
   font-size: 3rem;
 }
 .backg-image{
  z-index: 100;
 }
 .bg-image {
   position: relative;
   display: flex;
 }
 .head-content {
   position: absolute;
   top: 15%;
   right: 1px;
   padding: 2px;
   font-family: 'Futura';
 }
 .first-order{
   font-size: 4rem;
   color: white;
   font-family: 'Anek Regular';
 }
 .second-order{
   font-size: 7rem;
   font-weight: 800;
   color: #FCF050 ;
 }
 .third-order{
   font-size: 8.5rem;
   font-weight: 800;
   color: #FCF050 ;
   text-shadow: -4px 4px 4px #4138091e
   ;
 }
 .empty-bar{
   background-color: aliceblue;
   height: 13px;
   width: 62%;
   position: relative;
   float: right;
 }
 .workshop-details{
   position: relative;
   margin-top: 3%;
   font-size: 2.5rem;
   color: white;
   font-family: 'Anek ExtraLight';
 }
 .workshop-details-res{
  display: none;
 }
 .durations{
   width: 101%;
   margin-top: 2.5%;
   font-size: 2.5rem;
   padding: 1.5%;
   background-color: white;
   border-radius: 5rem 0 0 0;
   align-items: start;
   overflow: hidden;
 }
 .slogan{
   color: #3B764A;
   font-size: 2.8rem;
   font-weight: 800;
   font-family: 'Anek ExtraLight';
   margin-left: 3.5rem;
 }
 .flex-content1{
   font-family: 'Anek ExtraLight';
   font-weight: 600;
   font-size: 2rem;
   width: 40rem;
 }
 .flex-border{
 padding: 2px;
 border:  5px transparent;
 border-radius: 5px 38px 38px 5px;
 background-image: linear-gradient(white, white),
                   linear-gradient(to right, white 10%, #4FC132 80%);
 background-origin: border-box;
 background-clip: content-box, border-box;
 width: 19rem;
 }
 .grid-container {
   display: grid;
   grid-template-columns: 1fr 1fr; 
   grid-gap: 10px; 
   padding: 3rem;
 }
 .flex-items {
   display: grid;
   grid-template-rows: auto auto; 
   grid-gap: 10px; 
 }
 .flex-1{
   background-color: #4FC132;
   color: white;
   border-radius: 5px 35px 35px 5px;
   padding: 3%;
   margin: 5px;
   font-size: 3.5rem;
   font-family: 'Anek Condensed Regular';
 }
 .flex-head{
   display: flex;
   gap: 1%;
   margin-top: 6%;
 }
 .start-head-end{
   height: 13px;
   width: 42%;
   background-color: #20B856;
   margin-top: 2rem;
 }
 .start-head{
   font-size: 3.5rem;
   font-family: 'Anek Bold';
   text-align: center;
   margin-top: 10px;
 }
 .start-head-form{
  font-size: 3.5rem;
  font-family: 'Anek Bold';
  text-align: center;
  margin-top: 10px;
  min-width: fit-content;
}
 .form{
   color:#20B856;
 }
 
 .start-head-bar{
   height: 13px;
   width: 42%;
   background-color: black;
   margin-top: 1%;
   margin-top: 2rem;
 }
 .form-details{
   border: 2px solid #E5E4E4;
   width: 80%;
   font-size: 2.5rem;
   margin: auto;
   background: linear-gradient(5deg, #E3E4E4 -5.58%, #E6E7E6 29.61%, #FFFEFE 64.81%, #FFFEFE 100%);
   border-radius: 0px 0px 20px 20px;
   padding-top: 5rem;
 }
 .form-pad{
  padding:2rem ;
 }
 .form-field {
   position: relative;
   margin-bottom: 5px;
   padding-left: 10rem;
   display: flex;
 }
 .form-field input[type="text"],
 .form-field input[type="tel"],
 .form-field input[type="email"],
 .form-field input[type="country"],
 .form-field select {
   width: 80%;
   padding: 5px;
   border: none;
   outline: none;
   border-bottom: 1px solid black;
   box-sizing: border-box;
   background-color: transparent;
   position: relative;
   font-size: 2.5rem;
   z-index: 1;
 }
 .mode-options{
   display: flex;
   gap: 50px;
   border-top: 10px;
 }
 .mode-options input[type="checkbox"] {
   margin-right: 2rem;
   transform: scale(3.2);
   vertical-align: 5px;
 }
 .submit-btn{
   padding: 3%;
   display: flex;
   justify-content: center;
 }
 .line-after{
   width: 80%;
   margin-left: 18rem;
 }

 .gut-yoga{
  text-align: center;
 }

 .insight-content-right{
  font-size: 2.2rem;
   margin-top: 1rem;
   font-family: 'Anek Regular';
   color: #3D3D3D;
   line-height: 1.4;
   width: 400px;
   padding-right: 7rem;
 }

 .insight-content-right-last{
  font-size: 2.2rem;
   margin-top: 1rem;
   font-family: 'Anek Regular';
   color: #3D3D3D;
   line-height: 1.4;
   width: 400px;
 }

 .st-btn{
   background-color:#4FC132;
   color: white;
   font-size: 2.5rem;
   cursor: pointer;
   border-radius: 18px;
   border: none;
   text-align: center;
   padding: 1.5rem;
 }
 .img-container{
   background-color: #4FC132;
   width: 400px;
   border-radius: 0px 70px 70px 0px;
   display: flex;
   justify-content:right;
 }
 .micro-image{
   margin-right: 3rem;
   height: 140px;
   max-height: 140px;
 }
 .microbiome{
   text-align: center;
 }
 .health-container{
   text-align: center;
 }
 .head-health{
   font-size: 3rem;
   color: #4FC132;
   padding-left: 6rem;
   padding-top: 3rem;
   /* font-weight: 800; */
   font-family: 'Anek Regular';
 }
 .head-health-right{
   font-size: 3rem;
   color: #4FC132;
   padding-right: 9rem;
   padding-top: 3rem;
   font-family: 'Anek Regular';
 }
 .head-health-right-Qa{
  font-size: 3rem;
  color: #4FC132;
  padding-right: 4rem;
  padding-top: 3rem;
  font-family: 'Anek Regular';
}
 .line-break{
   width: 100%;
   margin-left: 4rem;
   margin-top: 1rem;
   border: 1px solid yellow;
 }
 .line-break-last{
  width: 90%;
  margin-right: 2rem;
  margin-top: 1rem;
  border: 1px solid yellow;
}
 .insight-content{
   font-size: 2.2rem;
   padding-left: 5rem;
   margin-top: 1rem;
   font-family: 'Anek Regular';
   color: #3D3D3D;
   line-height: 1.4;
   width: 400px;
 }
 .image-container{
   background-color: #4FC132;
   border-radius:70px ;
   margin-left: 5rem;
   margin-top: 5px;
   display: flex;
   justify-content:center;
   height: 140px;
   max-height: 140px;
 }
 .images-container{
   background-color: #4FC132;
   width: 400px;
   border-radius: 90px 0px 0px 90px;
   display: flex;
   justify-content:left;
 }
 .images-container-last{
  background-color: #4FC132;
  width: 400px;
  border-radius: 90px 0px 0px 90px;
  display: flex;
  margin-left: 74px;
}
 .micro-imagess{
   margin-left: 4rem;
   height: 140px;
   max-height: 140px;
 }
 .work-insight{
   display: flex;
   justify-content: space-between;
   margin-top: 3rem;
 }
 .work-insight-res{
  display:none ;
}
.health-container-res-cen{
  display: none;
}


 .footer{
   text-align: center;
   border: 2px solid white;
   background: linear-gradient(5deg, #76E685 -5.58%, #8EF18F 29.61%, #A0F691 64.81%, #D4FBAA 100%);
   margin-top: 2%;
   padding: 1rem;
 }
 .footer-head{
   padding: 1rem;
   font-size: 3.5rem;
   font-weight: 600;
   font-family: 'Anek Regular';
 }
 .partition{
   border: 1px solid lightgreen;
 }
 .footer-foot{
   padding: 1rem;
   font-size: 3.5rem;
   font-weight: 600;
   font-family: 'Anek Regular';
 }
 .banner-line{
   border: 1px solid #4FC132;
   margin-top: 5rem;
 }
 .banner-head{
   background-color: #4FC132;
   width: 35%;
   border-radius: 25px;
   position: relative;
   left: 32.5%;
   
   bottom: 2rem;
   font-size: 3rem;
   color: white;
   padding: 0.5rem;
   font-family: 'Anek Regular';
 }
 .reg-banner{
   text-align: center;
 }
 @media only screen and (min-width:420px) and (max-width: 576px){
  .main-container{
    background-color: FEFEFE;
    overflow:hidden;
   }
  
  .logo-nutrigut{
    width: 50%;
  }
  .model-container{
    content: url('../../../assets/images/mobile\ screen.png');
     width: 100%;
     position: relative;
  }
 
  .bg-container {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 10%; 
    z-index: 1; 
  }
  
  .first-order{
    font-size: 3rem;
  }

  .third-order{
    font-size: 5rem;
    font-weight: 800;
    color: #FCF050 ;
    text-shadow: -4px 4px 4px #4138091e
    ;
  }
  
  .empty-bar{
    background-color: aliceblue;
    height: 8px;
    width: 70%;
    position: relative;
    float:right;
    margin-top: 2%;  
  }
  
  .durations{
    width: 55%;
    float: right;
    margin-left: 1%;
  }
  .flex-border{
    border-radius: 10px;
  }
  .flex-content1{
    text-align: left;
  }
  
  .flex-items {
    max-width: 20%;
    text-align: center;
  }
  .pop{
    display: none;
  }
  .flex-1{
    
    border-radius: 5px ;
    padding: 2%;
    margin: 5px;
    font-size: 3rem;
    font-family: 'Anek Condensed Regular';
  }
  .slogan{
    font-size: 2.2rem;
    margin-left: 0;
    padding: 4px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 3rem;
  }
  .content-container{
    display: none;
  }
  
  .workshop-details{
    display: none;
  }
  .workshop-details-res{
    display: block;
    font-size: 2rem;
    margin-top: 6%;
   color: white;
   font-family: 'Anek ExtraLight';
  }
  .start-head{
    margin-top: 1%;
  }
  .form-details{
    font-size: 1.5rem;
    width: 90%;
  }
  .form-field{
    padding-left: 2rem;
  }
  .form-field input[type="text"],
 .form-field input[type="tel"],
 .form-field input[type="email"],
 .form-field input[type="country"],
 .form-field select {
   width: 80%;
   font-size: 1rem;
   
 }
 .mode-options input[type="checkbox"] {
  margin-top: 1%;
  transform: scale(1.8);
  
}
.work-insight{
  display: none;
}
.work-insight-res{
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  grid-gap: 20px; /* Adjust gap between divs */ 
}
.health-container-res{
  text-align: left;
}
.img-container-res{
  background-color: #4FC132;
  width: 220px;
  border-radius: 0px 70px 70px 0px;
  display: flex;
  justify-content:right;
}
.micro-image-res{
  margin-right: 7rem;
  height: 90px;
  max-height: 140px;
}
.head-health-res{
  font-size: 2.8rem;
  color: #4FC132;
  padding-left: 8rem;  
  padding-top: 3rem;
  text-align: start;
  font-family: 'Anek Regular';
  margin-right: 20%;
}
.line-break-res{
  width: 80%;
  margin-left: 4rem;
  margin-top: 1rem;
  border: 1px solid yellow;
}
.insight-content-res{
  font-size: 1.8rem;
  padding-left: 5rem;
  margin-top: 1rem;
  font-family: 'Anek Regular';
  color: #3D3D3D;
  line-height: 1.4;
  width: 200px;
}

.health-container-res-left{
  text-align: right;
}
.img-container-res-left{
  background-color: #4FC132;
  width: 230px;
  border-radius: 70px 0px 0px 70px;
  display: flex;
  justify-content:left;
  margin-left: 20%;
}
.micro-image-res-left{
  margin-left: 7rem;
  height: 90px;
  max-height: 140px;
}
.head-health-res-left{
  font-size: 2.8rem;
  color: #4FC132;
  padding-right: 8rem;
  padding-top: 3rem;
  text-align: start;
  font-family: 'Anek Regular';
  margin-left: 40%;
  
}
.line-break-res-left{
  width: 70%;
  margin-top: 1rem;
  border: 1px solid yellow;
  margin-left: 20%;
}
.insight-content-res-left{
  font-size: 1.8rem;
  padding-right: 1rem;
  margin-top: 1rem;
  font-family: 'Anek Regular';
  color: #3D3D3D;
  line-height: 1.4;
  width: 200px;
  margin-left: 20%;
}
.health-container-res-cen{
  text-align: center;
  display: block;
}
.img-container-res-cen{
  background-color: #4FC132;
  width: 220px;
  border-radius:  70px;
  display: flex;
  justify-content:center;
  margin-left: 30%;
}
.micro-image-res-cen{
  height: 90px;
  max-height: 140px;
}
.head-health-res-cen{
  font-size: 2.8rem;
  color: #4FC132;
  padding-top: 3rem;
  text-align: start;
  font-family: 'Anek Regular';
  margin-left: 40%;
}
.line-break-res-cen{
  width: 40%;
  margin-top: 1rem;
  border: 1px solid yellow;
  margin-left: 33%;
}
.insight-content-res-cen{
  font-size: 1.8rem;
  padding-right: 1rem;
  margin-top: 1rem;
  font-family: 'Anek Regular';
  color: #3D3D3D;
  line-height: 1.4;
  width: 200px;
  margin-left: 35%;
}
.footer-head{
  font-size: 2rem;
}
.footer-foot{
  font-size: 2rem;
}
.banner-head{
  font-size: 2rem;
  width: 60%;
  left: 20%;
}

 }
 @media screen and (max-width: 360px){

  .logo-nutrigut{
    width: 40%;
  }
  .model-container{
    content: url('../../../assets/images/mobile\ screen.png');
     width: 100%;
     position: relative;
  }
  .bg-container {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 10%; 
    z-index: 1; 
  }
  .head-content{
    left: 0%;
    top: -40%;
    
  }
  .first-order{
    font-size: 2rem;
  }
  .third-order{
    font-size: 3rem;
    font-weight: 800;
    color: #FCF050 ;
    text-shadow: -4px 4px 4px #4138091e;
  }
  .empty-bar{
    background-color: aliceblue;
    height: 6px;
    width: 70%;
    position: relative;
    float:right;
    margin-top: 2%;  
  }
  .durations{
    width: 55%;
    float: right;
    margin-left: 1%;
    
  }
  .flex-border{
    border-radius: 10px;
    width: 13rem;
    
  }
  .flex-content1{
    text-align: left;
    font-size: 1.5rem;
  }
  .flex-items {
    max-width: 20%;
    text-align: center;
  }
  .pop{
    display: none;
  }
  .flex-1{
    border-radius: 5px;
    padding: 0%;
    font-size: 1.8rem;
    font-family: 'Anek Condensed Regular';
  }
  .slogan{
    font-size: 1.5rem;
    margin-left: 0;
    padding: 4px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 0rem;
  }
  .content-container{
    display: none;
  }
  
  .workshop-details{
    display: none;
  }
  .workshop-details-res{
    display: block;
    font-size: 1.5rem;
    margin-top: 6%;
   color: white;
   font-family: 'Anek ExtraLight';
  }
  .start-head{
    margin-top: 3%;
    font-size: 2.5rem;
  }
  .start-head-form{
    margin-top: 3%;
    font-size: 2.5rem;
  }
  .form-details{
    font-size: 1rem;
    width: 90%;
  }
  .form-field{
    padding-left: 2rem;
  }
  .form-field input[type="text"],
 .form-field input[type="tel"],
 .form-field input[type="email"],
 .form-field input[type="country"],
 .form-field select {
   width: 80%;
   font-size: 1rem;
   
 }
 .mode-options input[type="checkbox"] {
  margin-top: 1%;
  transform: scale(1.4);
}
.st-btn{
  font-size: 1rem;
  padding: 1rem;
  border-radius: 10px;
}


.work-insight{
  display: none;
}
.work-insight-res{
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  grid-gap: 20px; /* Adjust gap between divs */
  margin-top: 8%;
  
}

/* grid layout  */


.health-container-res{
  text-align: left;
}
.img-container-res{
  background-color: #4FC132;
  width: 150px;
  border-radius: 0px 70px 70px 0px;
  display: flex;
  justify-content:right;
}
.micro-image-res{
  margin-right: 4rem;
  height: 70px;
  max-height: 140px;
}
.head-health-res{
  font-size: 2rem;
  color: #4FC132;
  padding-left: 4.5rem;  
  padding-top: 3rem;
  text-align: start;
  /* font-weight: 400; */
  font-family: 'Anek Regular';
  margin-right: 10%;
}
.line-break-res{
  width: 80%;
  margin-left: 3rem;
  margin-top: 1rem;
  border: 1px solid yellow;
}
.insight-content-res{
  font-size: 1.4rem;
  padding-left: 4.5rem;
  margin-top: 1rem;
  font-family: 'Anek Regular';
  color: #3D3D3D;
  line-height: 1.4;
  width: 200px;
}

.health-container-res-left{
  text-align: right;
}
.img-container-res-left{
  background-color: #4FC132;
  width: 150px;
  border-radius: 70px 0px 0px 70px;
  display: flex;
  justify-content:left;
  
}
.micro-image-res-left{
  margin-left: 2rem;
  height: 70px;
  max-height: 140px;
}
.head-health-res-left{
  font-size: 2rem;
  color: #4FC132;
  padding-right: 4rem;
  padding-top: 3rem;
  text-align: start;
  font-family: 'Anek Regular';
  margin-left: 5%;
  /* width: 100px; */
  
}
.line-break-res-left{
  width: 80%;
  /* margin-left: 4rem; */
  margin-top: 1rem;
  border: 1px solid yellow;
  margin-left: 5%;
}
.insight-content-res-left{
  font-size: 1.4rem;
  padding-right: 1rem;
  margin-top: 1rem;
  font-family: 'Anek Regular';
  color: #3D3D3D;
  line-height: 1.4;
  width: 140px;
  /* margin-left: 10%; */
}
.health-container-res-cen{
  text-align: center;
  display: block;
}
.img-container-res-cen{
  background-color: #4FC132;
  width: 150px;
  border-radius:  70px;
  display: flex;
  justify-content:center;
  margin-left: 30%;
}
.micro-image-res-cen{
  height: 70px;
  max-height: 140px;
}
.head-health-res-cen{
  font-size: 2rem;
  color: #4FC132;
  padding-top: 2rem;
  text-align: start;
  font-family: 'Anek Regular';
  margin-left: 30%;
}
.line-break-res-cen{
  width: 60%;
  margin-top: 1rem;
  border: 1px solid yellow;
  margin-left: 22%;
}
.insight-content-res-cen{
  font-size: 1.4rem;
  padding-right: 1rem;
  margin-top: 1rem;
  font-family: 'Anek Regular';
  color: #3D3D3D;
  line-height: 1.4;
  width: 160px;
  margin-left: 30%;
}
.footer-head{
  font-size: 1.5rem;
}
.footer-foot{
  font-size: 1.5rem;
}
.banner-head{
  font-size: 1.3rem;
  width: 60%;
  left: 20%;
  margin-top: 5px;

}

 }
 @media only screen and (min-width:361px) and (max-width: 419px){

  .logo-nutrigut{
    width: 60%;
  }
  .model-container{
    content: url('../../../assets/images/mobile\ screen.png');
     width: 100%;
     position: relative;
  }
  .bg-container {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 10%; 
    z-index: 1; 
  }
  .head-content{
    left: 0%;
    top: 0%;
    
  }
  .first-order{
    font-size: 2.5rem;
  }
  .third-order{
    font-size: 3.8rem;
    font-weight: 800;
    color: #FCF050 ;
    text-shadow: -4px 4px 4px #4138091e;
  }
  .empty-bar{
    background-color: aliceblue;
    height: 6px;
    width: 70%;
    position: relative;
    float:right;
    margin-top: 2%;  
  }
  .durations{
    width: 54%;
    float: right;
    margin-left: 1%;
    
  }
  .flex-border{
    border-radius: 10px;
    width: 13rem;
    
  }
  .flex-content1{
    text-align: left;
    font-size: 1.5rem;
  }
  .flex-items {
    max-width: 20%;
    text-align: center;
  }
  .pop{
    display: none;
  }
  .flex-1{
    border-radius: 5px;
    padding: 0%;
    font-size: 1.8rem;
    font-family: 'Anek Condensed Regular';
  }
  .slogan{
    font-size: 1.5rem;
    margin-left: 0;
    padding: 4px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 0rem;
  }
  .content-container{
    display: none;
  }
  
  .workshop-details{
    display: none;
  }
  .workshop-details-res{
    display: block;
    font-size: 1.8rem;
    margin-top: 6%;
   color: white;
   font-family: 'Anek ExtraLight';
  }
  .start-head{
    margin-top: 3%;
    font-size: 2.5rem;
  }
  .start-head-form{
    margin-top: 3%;
    font-size: 2.5rem;
  }
  .form-details{
    font-size: 1rem;
    width: 90%;
  }
  .form-field{
    padding-left: 2rem;
  }
  .form-field input[type="text"],
 .form-field input[type="tel"],
 .form-field input[type="email"],
 .form-field input[type="country"],
 .form-field select {
   width: 80%;
   font-size: 2rem;
   
 }
 .mode-options input[type="checkbox"] {
  margin-top: 1%;
  transform: scale(1.7);
}
.st-btn{
  font-size: 1.5rem;
  
}


.work-insight{
  display: none;
}
.work-insight-res{
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  grid-gap: 20px; /* Adjust gap between divs */
  margin-top: 8%;
  
}

/* grid layout  */


.health-container-res{
  text-align: left;
}
.img-container-res{
  background-color: #4FC132;
  width: 190px;
  border-radius: 0px 70px 70px 0px;
  display: flex;
  justify-content:right;
}
.micro-image-res{
  margin-right: 4rem;
  height: 70px;
  max-height: 140px;
}
.head-health-res{
  font-size: 2rem;
  color: #4FC132;
  padding-left: 4.5rem;  
  padding-top: 3rem;
  text-align: start;
  /* font-weight: 400; */
  font-family: 'Anek Regular';
  margin-right: 10%;
}
.line-break-res{
  width: 80%;
  margin-left: 3rem;
  margin-top: 1rem;
  border: 1px solid yellow;
}
.insight-content-res{
  font-size: 1.4rem;
  padding-left: 4.5rem;
  margin-top: 1rem;
  font-family: 'Anek Regular';
  color: #3D3D3D;
  line-height: 1.4;
  width: 200px;
}

.health-container-res-left{
  text-align: right;
}
.img-container-res-left{
  background-color: #4FC132;
  width: 200px;
  border-radius: 70px 0px 0px 70px;
  display: flex;
  justify-content:left;
  
}
.micro-image-res-left{
  margin-left: 2rem;
  height: 70px;
  max-height: 140px;
}
.head-health-res-left{
  font-size: 2rem;
  color: #4FC132;
  padding-right: 4rem;
  padding-top: 3rem;
  text-align: start;
  font-family: 'Anek Regular';
  margin-left: 5%;
  /* width: 100px; */
  
}
.line-break-res-left{
  width: 80%;
  /* margin-left: 4rem; */
  margin-top: 1rem;
  border: 1px solid yellow;
  margin-left: 5%;
}
.insight-content-res-left{
  font-size: 1.4rem;
  padding-right: 1rem;
  margin-top: 1rem;
  font-family: 'Anek Regular';
  color: #3D3D3D;
  line-height: 1.4;
  width: 160px;
  /* margin-left: 10%; */
}
.health-container-res-cen{
  text-align: center;
  display: block;
}
.img-container-res-cen{
  background-color: #4FC132;
  width: 150px;
  border-radius:  70px;
  display: flex;
  justify-content:center;
  margin-left: 30%;
}
.micro-image-res-cen{
  height: 70px;
  max-height: 140px;
}
.head-health-res-cen{
  font-size: 2rem;
  color: #4FC132;
  padding-top: 2rem;
  text-align: start;
  font-family: 'Anek Regular';
  margin-left: 30%;
}
.line-break-res-cen{
  width: 60%;
  margin-top: 1rem;
  border: 1px solid yellow;
  margin-left: 22%;
}
.insight-content-res-cen{
  font-size: 1.4rem;
  padding-right: 1rem;
  margin-top: 1rem;
  font-family: 'Anek Regular';
  color: #3D3D3D;
  line-height: 1.4;
  width: 160px;
  margin-left: 30%;
}
.footer-head{
  font-size: 1.9rem;
}
.footer-foot{
  font-size: 1.9rem;
}
.banner-head{
  font-size: 1.6rem;
  width: 60%;
  left: 20%;
  margin-top: 5px;

}

 }

