.main-blog {
  .blog-heading {
    margin-top: 20px;
  }
  h1 {
    font-weight: bold;
    font-size: 3rem;
  }
  .custom-border {
    margin-top: 0;
  }
}

.blog-series {
  .alumni-content {
    background: #96bcee;
    display: flex;
    gap: 5rem;
    padding: 5rem 10rem;
    margin-top: 18rem;
    .newsletter-content {
      top: 0rem;
      width: 70% !important;
      margin: 0 auto;
      h2 {
        display: flex;
        //flex-wrap: wrap;
        margin-top: -12rem;
        justify-content: space-between;
        .newsletter-title {
          font-size: 2.25rem;
          color: #000;
          font-weight: 700;
        }
        .newsletter-date {
          font-size: 2.5rem;
          color: #aaa;
          float: right;
        }
      }
      p {
        color: #fff;
        margin: 2rem 0;
        font-weight: 400;
      }

      .options {
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
          display: block;
          border-radius: 50px;
          color: #fff;
          border: 3px solid #fff;
          padding: 1rem 2rem;
          background: none;
          font-size: 1.5rem;
          font-weight: 700;
          cursor: pointer;
        }
        svg {
          cursor: pointer;
        }
      }
    }
  }
  .newsletter-image {
    justify-content: center;
    flex-direction: column;
    top: 0rem;
    h3 {
      text-align: right;
      margin-right: 25%;
      font-size: 1.75rem;
      font-weight: bold;
    }
    img {
      width: 80%;
      display: flex;
      border-radius: 40px;
      margin-top: -12rem;
    }
  }
}
.upcoming-blogs {
  width: fit-content;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  padding: 0rem 10rem;

  h3 {
    display: inline-block;
    font-size: 2.5rem;
    font-weight: 700;
    //margin-left: 15rem;
    margin-bottom: 2rem;
  }
}
.blog-card-container {
  display: flex;
  //justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding-bottom: 5rem;
  .seminar-card {
    // height: max-content;
    .seminar-card-image {
      width: fit-content;
      //background-color: darkgray;
      //min-height: 200px;
      img{
        width: 100%;
        height: 100%;
        object-fit: fill;
        border-radius: 20px;
      }
    }
  }
}
//Sub Blog
.blog-page-container {
  background: #96bcee;
  padding-bottom: 5rem;
  h1 {
    color: white;
    font-size: 3rem;
    margin-top: 5rem;
  }
  .custom-border {
    background: #fff;
    margin-top: 1px;
    margin-left: 0.8rem;
  }
  .blog-series {
    .newsletter-title {
      color: white;
    }
    .newsletter-date {
      color: #aaa;
    }
    .newsletter-content {
      p {
        color: #fff;
      }
    }
  }
}

.blog-container {
  font-size: 2rem!important;
  padding:5rem 10rem;
  iframe{
    width: 80%!important;
    height: 500px!important;
    margin: 0 auto;
  }
  h2{
    font-weight: 700;
  }
  td{
    font-size: 2rem!important;
  }
  .blog-grid {
    // display: grid;
    // grid-template-columns: 50% 50%;
    width: 100%;
    margin: 0rem auto;
    // gap: 3rem;
    justify-content: center;
    p,td,tr,th,small{
      margin: 1rem 0;
    }
  
    .blog-text {
      p {
        font-size: 1.8rem;
        color: black;
        font-weight: 500;
      }
    }
    .blog-image {
      img {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 25px;
      }
    }
  }
}

.pagination-container{
  .pagination{
      list-style: none;
      display: flex;
      justify-content: center;
      li{
        font-size: 2rem;
        padding: 0 1rem;
        background-color: #eee;
        margin: 0 2rem;
        cursor: pointer;
        &:hover{
          background: #96bcee80;
          color: #fff;
        }
      }
      .active{
        background-color: #96bcee;
        color: #fff;
      }
  }
}

@media (max-width: 1800px) {
  .blog-series {
    .alumni-content {
      .newsletter-content {
        h2 {
          margin-top: -10rem;
        }
        p {
          color: #fff;
          margin: 4rem 0;
          font-weight: 400;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .blog-series {
    .alumni-content {
      margin: 5rem 0;
      display: block;
      .newsletter-content {
        width: 100% !important;
        h2 {
          .newsletter-title {
            margin-top: 7rem;
            color: #fff;
            font-size: 2.5rem;
          }
          .newsletter-date {
            margin-top: 7rem;
            color: #fff;
          }
        }
        p{
          font-size: 2.25rem;
        }
      }
    }
    .newsletter-image {
      img {
        margin-top: 10rem;
      }
    }
    .newsletter-content {
      top: auto;
      left: auto;
      width: 100%;
      // h2 {
      //   .newsletter-date {
      //     color: #aaa;
      //   }
      // }
    }
    .newsletter-image {
      margin-top: 5rem;
      top: auto;
      left: auto;
      text-align: center;
      margin-bottom: 4rem;
      margin-top: -7rem;
      h3 {
        margin: 0 auto;
        //color: #fff;
        margin-bottom: 2rem;
      }
    }
  }
  .blog-container {
    padding: 5rem 2rem;
    iframe{
      height: 300px!important;
    }
  }
}

@media (max-width: 835px) {
  
  .upcoming-blogs {
    h3 {
      text-align: center;
    }
    .blog-card-container {
      justify-content: center;
    }
  }
}

// @media (max-width: 750px) {
//   .upcoming-blogs {
//     h3 {
//       margin-left: 13rem;
//     }
//   }
//   .blog-container {
//     .blog-grid {
//       grid-template-columns: 100%;
//     }
//   }
// }

@media (max-width: 500px) {
  // .alumni-content {
  //   padding: 5rem ;
  // }
  .upcoming-blogs {
    padding: 0rem 1rem;
  }
  .blog-series {
    .alumni-content {
      margin: 8rem 0;
      padding: 5rem 2rem;
    }
    .newsletter-image {
      img {
        width: 100%;
        //margin-top: -13rem;
      }
    }
    .newsletter-content {
      h2 {
        .newsletter-date {
          color: #aaa;
        }
        .newsletter-title {
          font-size: 2rem;
          margin-top: 12rem;
        }
      }
    }
  }

  // .blog-container {
  //   .blog-grid {
  //     grid-template-columns: 100%;
  //   }
  // }
}

@media (max-width: 420px) {
  .blog-series {
    .alumni-content {
      margin: 2rem 0;
    }
  }
  .newsletter-content {
    .newsletter-date {
      font-size: 1.5rem;
      color: #aaa;
    }
  }
  .upcoming-blogs {
    h3 {
      margin-left: 5rem !important;
    }
  }
  // .blog-container {
  //   .blog-grid {
  //     grid-template-columns: 100%;
  //   }
  // }
}
