.facts-container{
  padding-bottom: 3rem;
  padding-top: 0;
  .divider{
    margin-top: 3rem;
    width: 100%;
    text-align: center;
    svg{
      width: 40%;
    }
  }
}
.facts-header{
    display: grid;
    grid-template-columns: 70% 30%;
    margin-right: 10%;
    p{
        margin-top: 2rem;
    }
}
.facts-gallery{
    margin-top: 3rem;
    .facts-gallery-grid{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        gap: 0.5%;
        grid-template-areas: 
        "img1 img3 img3 img4 img6 img6"
        "img2 img3 img3 img5 img6 img6";
        img{
          width: 100%;
          // height: 100%;
          object-fit: cover;
        }
    }
    // .grid-img-3{
    //   grid-column: span 2;
    //   grid-row: span 2;
    // }
    .grid-img-1 {
      grid-area: img1;
      height: 200px;
    }
    .grid-img-2 {
      grid-area: img2;
      height: 200px;

    }
    .grid-img-3 {
      grid-area: img3;
      height: calc(400px - 0px);

    }
    .grid-img-4 {
      grid-area: img4;
      height: 200px;
    }
    .grid-img-5 {
      grid-area: img5;
      height: 200px;
    }
    .grid-img-6 {
      grid-area: img6;
      height: calc(400px - 0px);
    }
    .slider{
        padding: 3rem 0 0;
        input[type=range] {
            -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
            width: 90%; /* Specific width is required for Firefox. */
            background: transparent; /* Otherwise white in Chrome */
            display: block;
            margin: 0 auto;
          }
          
          input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;
          }
          
          input[type=range]:focus {
            outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
          }
          
          input[type=range]::-ms-track {
            width: 100%;
            cursor: pointer;
          
            /* Hides the slider so custom styles can be added */
            background: transparent; 
            border-color: transparent;
            color: transparent;
          }
        
          input[type=range]::-webkit-slider-runnable-track {
            width: 100%;
            height: 1px;
            cursor: pointer;
            box-shadow: 1px 1px 1px #aaa, 0px 0px 1px #aaa;
            background: #aaa;
            border-radius: 1.3px;
            border: 0.2px solid #aaa;
          }
          
          input[type=range]:focus::-webkit-slider-runnable-track {
            background: #aaa;
          }
          
          input[type=range]::-moz-range-track {
            width: 100%;
            height: 1px;
            cursor: pointer;
            background: #aaa;
            border-radius: 1.3px;
            border: 0.2px solid #aaa;
          }
          
          input[type=range]::-ms-track {
            width: 100%;
            height: 1px;
            cursor: pointer;
            background: transparent;
            border-color: transparent;
            border-width: 16px 0;
            color: transparent;
          }
          input[type=range]::-ms-fill-lower {
            background: #aaa;
            border: 0.2px solid #aaa;
            border-radius: 2.6px;
          }
          input[type=range]:focus::-ms-fill-lower {
            background: #aaa;
          }
          input[type=range]::-ms-fill-upper {
            background: #aaa;
            border: 0.2px solid #aaa;
            border-radius: 2.6px;
        }
        
          input[type=range]:focus::-ms-fill-upper {
            background: #aaa;
          }
        
          /* Special styling for WebKit/Blink */
        input[type=range]::-webkit-slider-thumb {
            -webkit-appearance: none;
            border: 2px solid var(--brick-red);
            height: 20px;
            width: 20px;
            border-radius: 100px;
            background: #fff;
            cursor: pointer;
            margin-top: -10px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
           
          }
          
          /* All the same stuff for Firefox */
          input[type=range]::-moz-range-thumb {
           
            border: 2px solid var(--brick-red);
            height: 20px;
            width: 20px;
            border-radius: 100px;
            background: #fff;
            cursor: pointer;
          }
          
          /* All the same stuff for IE */
          input[type=range]::-ms-thumb {
            border: 2px solid var(--brick-red);
            height: 20px;
            width: 20px;
            border-radius: 100px;
            background: #fff;
            cursor: pointer;
          }
    }
}

@media (max-width:900px){
  .facts-container{
    .divider{
      margin-top: 2rem;
      width: 100%;
      text-align: center;
      svg{
        width: 90%;
      }
    }
  }
    .facts-header{
        // grid-template-columns: 100%
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column-reverse;
    }
    .facts-header p {
    width: 80%;
    margin: 2rem auto;

    }
}