.modal-background{
  width: 100vw;
  height: 100vh;
  background: rgb(0, 0 ,0, 0.5);
  position: fixed;
  // opacity: 0.5;
}
.modal-main{
  display: block;
  width: 35rem;
  height: max-content;
  position: absolute;
  z-index: 999;
  top: 40vh;
  left: 40%;
  border-radius: 2rem;
  background-color: white;
  font-weight: bold;
  padding-bottom: 5rem;
}
.modal-header{
  font-size: 18px;
  margin-top: 3.5rem;
}

.modal-header h3{
  text-align: center;
}

.modal-message{
  margin-top: 2.5rem;
  text-align: center;
}
.modal-message p{
  font-size: 16px;
  font-weight: 400;
}

.close-popup{
  font-size: 3.5rem;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 1px;
}

@media screen and (max-width: 800px) {
 .modal-main{
  position: absolute;
  z-index: 999;
  top: 40vh;
  left: 26%;
 }
}

@media screen and (max-width: 450px) {
  .modal-main{
   position: absolute;
   width: 25rem;
   z-index: 999;
   top: 40vh;
   left: 20%;
  }
 }


