.blog-container {
  padding: 5rem 15rem 0rem;
  .blog-content {
    background-color: #f4f4f4;
    width: 85%;
    margin: 0 auto;
    border-radius: 0 200px 0 200px;
    display: grid;
    padding: 10rem 4rem 5rem 7rem;
    grid-template-columns: 20% 80%;
    .blog-header {
      p {
        margin-top: 2rem;
        width: 150%;
        //font-size: 1.5rem;
      }
      .blog_view_button {
        // margin-left: 10rem;
        margin-top: -3rem;
        a{
          color: #000;
        }
      }
    }
    .blog-carousel {
      padding: 2rem;
      .slick-list {
        position: relative;
        right: -20%;
      }
      .slick-dots {
        li {
          button {
            &::before {
              color: #ebb38a87;
              opacity: 1;
            }
          }
        }
        .slick-active {
          button {
            &::before {
              color: var(--brick-red-1);
            }
          }
        }
      }
    }
    .heading-container {
      margin-left: 0;
      .heading-content {
        align-items: flex-end;
        font-weight: bold;
        .heading-logo {
          svg {
            width: 70px;
            height: 70px;
            margin-bottom: 0.75rem;
          }
        }
      }
    }
  }
}

@media (max-width: 1800px) {
  .blog-container
    .blog-content
    .heading-container
    .heading-content
    .heading-logo
    svg {
    width: 50px;
    height: 50px;
  }
}

// @media (max-width: 1520px) {
//     .blog-container{
//         .blog-content{
//             .blog-header{
//                 .blog_view_button{
//                     margin-left: 10rem;
//                 }
//             }
//         }
//     }
// }

@media (max-width: 1200px) {
  .blog-container {
    .blog-content {
      .blog-carousel {
        .slick-list {
          right: -20%;
        }
      }
    }
  }
}
@media (max-width: 1100px) {
  .blog-container {
    .blog-content {
      .blog-carousel {
        .slick-list {
          right: -20%;
        }
      }
    }
  }
}

@media (max-width: 1010px) {
  .blog-container {
    .blog-content {
      grid-template-columns: 100%;
      .blog-carousel {
        .slick-list {
          right: 0%;
        }
      }
    }
  }
}

@media (max-width: 786px) {
  .blog-container {
    padding: 5rem;
    .blog-content {
      grid-template-columns: 100%;
      width: 100%;
      box-sizing: border-box;
      .blog-header {
        p {
          width: 100%;
          text-align: justify;
        }
      }
      .blog-carousel {
        .slick-list {
          right: 0%;
        }
      }
    }
  }
  .blog-carousel .slick-dots {
    display: flex !important;
    align-items: center;
    justify-content: inherit;
    padding: 0;
    width: 0;
    margin: 0 !important;
  }
  .newsletter-container .magezines .images {
    justify-content: center;
  }
}

@media (max-width: 420px) {
  .blog-container {
    padding: 2rem;
  }

  .blog-carousel {
    padding: 2rem 0mega-menu-container;
  }
}
