.custom_blog_home {
  .blog-container {
    padding: 5rem 60px 0rem;
    .blog-content {
      background-color: #f4f4f4;
      width: 100%;
      margin: 0;
      border-radius: 0 200px 0 200px;
      display: grid;
      padding: 10rem 4rem 5rem 7rem;
      grid-template-columns: 20% 80%;
      overflow: hidden;
      .blog-header {
        p {
          margin-top: 2rem;
          width: 150%;
          //font-size: 1.5rem;
        }
        .blog_view_button {
          // margin-left: 10rem;
          margin-top: -3rem;
          a{
            color: #000;
          }
        }
      }
      .blog-carousel {
        padding: 2rem;
        .slick-list {
          position: relative;
          right: -20%;
        }
        .slick-dots {
          li {
            button {
              &::before {
                color: #ebb38a87;
                opacity: 1;
              }
            }
          }
          .slick-active {
            button {
              &::before {
                color: var(--brick-red-1);
              }
            }
          }
        }
      }
      .heading-container {
        margin-left: 0;
        .heading-content {
          align-items: flex-end;
          font-weight: bold;
          .heading-logo {
            svg {
              width: 70px;
              height: 70px;
              margin-bottom: 0.75rem;
            }
          }
        }
      }
    }
  }
  
  @media (max-width: 1800px) {
    .blog-container
      .blog-content
      .heading-container
      .heading-content
      .heading-logo
      svg {
      width: 50px;
      height: 50px;
    }
  }
  
  // @media (max-width: 1520px) {
  //     .blog-container{
  //         .blog-content{
  //             .blog-header{
  //                 .blog_view_button{
  //                     margin-left: 10rem;
  //                 }
  //             }
  //         }
  //     }
  // }
  
  @media (max-width: 1200px) {
    .blog-container {
      .blog-content {
        .blog-carousel {
          .slick-list {
            right: -20%;
          }
        }
      }
    }
  }
  @media (max-width: 1100px) {
    .blog-container {
      .blog-content {
        .blog-carousel {
          .slick-list {
            right: -20%;
          }
        }
      }
    }
  }
  
  @media (max-width: 1010px) {
    .blog-container {
      .blog-content {
        grid-template-columns: 100%;
        .blog-carousel {
          .slick-list {
            right: 0%;
          }
        }
      }
    }
  }
  
  @media (max-width: 786px) {
    .blog-container {
      padding: 5rem;
      .blog-content {
        grid-template-columns: 100%;
        width: 100%;
        box-sizing: border-box;
        .blog-header {
          p {
            width: 100%;
            text-align: justify;
          }
        }
        .blog-carousel {
          .slick-list {
            right: 0%;
          }
        }
      }
    }
    .blog-carousel .slick-dots {
      align-items: center;
      display: flex!important;
      justify-content: inherit;
      margin: 0!important;
      overflow: hidden;
      padding: 0;
      width: 100%;
      overflow: hidden;
      margin: 0 !important;
    }
    .newsletter-container .magezines .images {
      justify-content: center;
    }
  }
  
  @media (max-width: 420px) {
    .blog-container {
      padding: 2rem;
    }
  
    .blog-carousel {
      padding: 2rem 0mega-menu-container;
    }
  }
  
  .blog-carousel .slick-dots li button::before {
    color: rgba(188, 79, 49, 0.5);
    opacity: 1;
    font-size: 12px !important;
  }
  
  // .magezines .experience-container .slick-dots li .slick-active button::before {
  //   font-size: 66px;
  // }
    
  .blog-carousel .slick-dots li.slick-active button::before {
    font-size: 16px !important;
  }
  
  @media(max-width: 768px) {
    .blog-container .blog-content .heading-container {
      width: 100%;
    }
  
    .blog-container .blog-content .blog-header p {
      text-align: center;
      font-size: 12px;
      font-weight: 400;
    }
  
    .blog-container .global-common-btn .global_home_content {
      font-size: 14px;
      font-weight: 600;
  }
  
  .blog-carousel .slick-dots li {
    margin: 0 2px !important;
  }
  
  .blog-container .blog-content .blog-carousel {
    padding: 0rem;
  }
  
  .blog-carousel .slick-dots {
    gap: 5px;
  }
  
  .style_mobile {
    display: flex;
    justify-content: center;
  }
  }
  
  @media(min-width: 1930px) {
    .blog-container .blog-content .blog-header .blog_view_button {
      margin-top: 0px;
    }
  }
}