.order_history_div {
  height: 100vh;
  .order_heading {
    font-size: 2rem;
    font-weight: 700;
    margin-left: 8rem;
    margin-bottom: 3rem;
  }
  .order_history {
    min-height: 37rem;
    width: 90%;
    border: 1px solid #edeef0;
    background-color: #edeef0;
    border-radius: 3rem;
    margin: 0 auto;

    .order_placed {
      display: grid;
      grid-template-columns: 70% 30%;
      .order_date_div {
        padding: 2.5rem 0;
        display: flex;
        // padding-left: -1.5rem;
        .order_date {
          padding-left: 5rem;
          font-size: 1.5rem;
        }
      }
    }
    .order_line {
      border: 2px solid white;
      width: 98%;
      margin: 0 auto;
    }
    .order_num {
      font-size: 1.5rem;
      padding: 2.5rem 0 3rem 12rem;
    }
  }
  .product_detail {
    display: grid;
    grid-template-columns: 70% 30%;
    .order_detail {
      display: flex;
      padding-top: 4.25rem;
      padding-left: 4.25rem;
      .order_img {
        height: 14rem;
        width: 14rem;
        // border: 1px solid #edeef0;
        border: 1px solid black;
        border-radius: 2rem;
        img {
          height: 100%;
          width: 100%;
          border-radius: 2rem;
          object-fit: fill;
        }
      }
      .order_title_div {
        display: flex;
        flex-direction: column;
        padding-left: 2rem;
        .order_title {
          font-size: 2.5rem;
          font-weight: 700;
        }
        .order_dropdown {
          padding-top: 4rem;
          .quantity_dropdown {
            background-color: #cecece;
            padding: 1.25rem;
            font-size: 1.75rem;
            border: none;
            cursor: pointer;
            border-radius: 1.5rem;
          }
        }
        .order_delete {
          padding-left: 3rem;
          svg {
            width: 3rem;
            height: 3rem;
          }
        }
      }
    }
    .track_package {
      padding-left: 5rem;
      .track_btn {
        .global-common-btn {
          width: 30rem;
          height: 4rem;
          border: 1px solid #cc4625;
          font-weight: 500;
          color: white;
          background-color: #cc4625;
          padding: 1rem;
          .global-common-btn-content {
            font-size: 1.5rem;
            text-align: center;
          }
        }
      }
      .request_btn {
        .global-common-btn {
          margin-top: 3rem;
          padding-top: 1rem;
          width: 30rem;
          height: 4rem;
          border: 1px solid black;
          font-weight: 500;
          .global-common-btn-content {
            font-size: 1.5rem;
            text-align: center;
          }
        }
      }
    }
  }
  .track_order {
    display: grid;
    grid-template-columns: 70% 30%;
    .contact_delivery {
      .contact_btn {
        padding-left: 4.25rem;
        .global-common-btn {
          width: 27rem;
          //height: 4rem;
          border: none;
          border-radius: 1.5rem;
          font-weight: 500;
          background-color: #CECECE;
          padding: 1rem;
          margin-top: 2rem;
          .global-common-btn-content {
            font-size: 1.75rem;
            text-align: center;
          }
        }
      }
    }
    .order_add{
      padding: 2rem 0; 
      font-size: 1.5rem;

    }
  }
}
