.signin-form {
    display: flex;
    height: calc(100vh);
    overflow-y: hidden;

    .signin-container {
        width: 53.75%;
        background: linear-gradient(180deg, #FFFFFF 0%, #FFECE7 100%);

        .signin-logo {
            text-align: center;
            padding-top: 1.85rem;
        }

        .form-inp {
            border: 1px solid #AEAEAE;
            border-radius: 30px;
            padding: 12px;

            .custom-phone-input input {
                background-color: transparent;
                /* Change background color */
                border: none;
                font-size: 16px;

                &:focus {
                    outline: none;
                }
            }

            .custom-input {
                background-color: transparent;
                /* Change background color */
                border: none;
                font-size: 16px;
                width: 100%;

                &:focus {
                    outline: none;
                }
            }


        }

        .err-inp {
            border: 1px solid #FF3B30;
        }

        .mg-t-20 {
            margin-top: 1.5rem;
        }

        .signin-details {
            display: flex;
            // align-items: center;
            justify-content: center;
            height: 74% !important;
            margin-top: 10vh;
            overflow-y: auto !important;

            // Include scrollbar styles here to apply only to this container
            &::-webkit-scrollbar {
                width: 4px;
            }

            &::-webkit-scrollbar-track {
                background: #f1f1f1;
            }

            &::-webkit-scrollbar-thumb {
                background: #888;
            }

            &::-webkit-scrollbar-thumb:hover {
                background: #555;
            }

            .container {
                width: 100%;
                padding: 0 12rem;

                .back-nav {
                    font-size: 16px;
                    color: #181818;
                    font-weight: 400;
                    cursor: pointer;

                    .mobile {
                        display: none;
                    }

                    .web {
                        display: inline-block;
                        position: relative;
                        top: 2px
                    }
                }

                .header {
                    font-size: 32px;
                    color: #181818;
                    font-weight: 600;
                    margin: 0.75rem 0 0.25rem 0;
                }

                .sub-header {
                    font-size: 18px;
                    color: #181818;
                    font-weight: 500;
                }

                .google-badge {
                    font-size: 14px;
                    color: #181818;
                    font-weight: 500;
                    padding: 14px;
                    background-color: #E9EEFE;
                    border-radius: 12px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 1.25rem;
                    cursor: pointer;
                    border-radius: 30px;
                }

                .inp-label {
                    font-size: 16px;
                    color: #181818;
                    font-weight: 600;
                    padding-bottom: 0.75rem;

                    span {
                        color: red;
                    }
                }

                .primary-btn {
                    font-size: 18px;
                    font-weight: 500;
                    color: #FFFFFF;
                    background-color: #CA4625;
                    width: 100%;
                    padding: 12px 0;
                    margin-top: 24px;
                    border: none;
                    border-radius: 40px;
                    cursor: pointer;
                }

                .tc-text {
                    font-size: 14px;
                    color: #000;
                    font-weight: 400;
                    text-align: center;
                    max-width: 372px;
                    padding-top: 1.25rem;

                    span {
                        text-decoration: underline;
                        cursor: pointer;
                        font-weight: 500;
                    }
                }

                .divider-container {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 2rem 0;
                }

                .divider-container::before,
                .divider-container::after {
                    content: "";
                    flex-grow: 1;
                    background: #AEAEAE;
                    height: 1px;

                }

                .divider-container span {
                    color: #AEAEAE;
                    font-size: 12px;
                    font-weight: 400;
                    margin: 0 8px;
                }

                .otp-inputs {
                    display: flex;
                    margin-top: 16px;
                    gap: 1.25rem;
                }

                .otp-input {
                    width: 2.875rem;
                    height: 2.875rem;
                    font-size: 16px;
                    text-align: center;
                    border: 1px solid #AEAEAE;
                    border-radius: 0.5rem;
                    outline: none;
                    color: #000000;
                    background-color: transparent;
                }

                .otp-err {
                    border: 1px solid #FF3B30;
                }

                .inp-group {
                    display: flex;
                    gap: 2rem;
                    justify-content: space-between;
                    width: 100%;

                    #country {
                        width: 100% !important;
                        font-size: 14px;
                    }
                }

                .resend-btn {
                    font-weight: 600;
                    font-size: 16px;
                    cursor: pointer;
                    color: #CA4625;
                    padding-top: 0.7rem
                }
            }
        }
    }

    .signin-banner {
        width: 46.25%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .img-1 {
        background-image: url('../../../../../../../public/images/signin-one.svg');
    }

    .img-2 {
        background-image: url('../../../../../../../public/images/signin-two.svg');
    }
}



@media (max-width:1280px) {

    //for small web
    .signin-form {
        #country {
            width: 10.4vw !important;
            font-size: 1rem !important;
        }

        .signin-container {
            .form-inp {
                padding: 0.75rem !important;

                .custom-phone-input input {
                    font-size: 1rem !important;
                }

                .custom-input {
                    font-size: 1rem !important;
                }
            }

            .signin-details {
                .container {
                    // .back-nav {
                    //     // font-size: 1rem !important;
                    // }

                    .header {
                        font-size: 2rem !important;
                    }

                    .sub-header {
                        font-size: 1rem !important;
                    }

                    .google-badge {
                        font-size: 0.85rem !important;
                        padding: 0.85rem !important;
                    }

                    .inp-label {
                        font-size: 1rem !important;
                    }

                    .primary-btn {
                        font-size: 1.125rem !important;
                        padding: 0.85rem 0 !important;
                    }

                    .tc-text {
                        font-size: 0.85rem !important;
                        max-width: 230px !important;
                    }

                    .divider-container span {
                        font-size: 0.75rem !important;
                    }

                    .otp-input {
                        font-size: 1rem !important;
                    }

                    .resend-btn {
                        font-size: 1rem !important;
                    }
                }
            }
        }
    }
}
@media(max-width:768px) {
    .signin-form {
        flex-direction: column-reverse;
        height: max-content;
        overflow-y: auto;

        .signin-container {
            width: 100%;
            // height: fit-content !important;
            min-height: 74vh;
            // overflow-y: auto;

            .form-inp {
                padding: 0.75rem !important;
            }

            // height: 100%;
            .signin-details {
                height: max-content !important;
                margin: 2rem 0 2em 0;
                // overflow-y: auto;

                .container {
                    width: 100%;
                    padding: 0 1.25rem;

                    .header {
                        font-size: 16px;
                    }

                    .sub-header {
                        font-size: 12px;
                    }

                    .google-badge {
                        font-size: 14px !important;
                        padding: 0.85rem !important;
                    }

                    .divider-container span {
                        font-size: 12px;
                    }

                    .inp-label {
                        font-size: 16px !important;
                    }

                    .custom-phone-input input {
                        font-size: 14px !important;
                        padding: 6px !important;
                    }

                    .custom-input {
                        font-size: 14px !important;
                        padding: 6px !important;
                    }

                    .inp-group {
                        // display: flex;
                        // gap: 1rem;
                        // justify-content: space-between;
                        flex-direction: column;


                        #country {
                            width: 100% !important;
                            font-size: 14px !important;

                        }
                    }

                    .primary-btn {
                        font-size: 18px !important;
                        font-weight: 500;
                        padding: 0.85rem 0 !important;
                    }

                    .tc-text {
                        font-size: 12px !important;
                        max-width: 100% !important;
                    }

                    .back-nav {
                        position: absolute;
                        top: 10px;
                        left: 10px;
                        color: #FFFFFF;
                        font-size: 14px;

                        .mobile {
                            display: inline-block;
                            position: relative;
                            top: 2px
                        }

                        .web {
                            display: none;
                        }
                    }

                    .otp-input {
                        width: 40px !important;
                        height: 40px !important;
                        font-size: 16px !important;
                    }

                    .resend-btn {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .signin-banner {
        width: 100% !important;
        height: 26vh !important;
    }

    .img-2 {
        background-image: url('../../../../../../../public/images/signin-two-mob.svg') !important;
    }
}


.custom_style_input_add .form-content form label input {
    padding-left: 0px;
    font-size: 16px;
    border: none;
    background: no-repeat;
    width: auto;
    text-align: left;
}

.custom_style_input_add .form-content form label {
    display: flex;
    align-items: center;
    padding: 0rem;
    border: 0px;
    border-radius: 0px;
    width: 194px;
    margin: 0 auto;
}

.country_signup {
    width: 45%;
}

.state_signup {
    width: 45%;
}

.signin-form .signin-container .signin-details .container .inp-group #country {
    width: 100%;
    font-size: 14px;
    color: #000000;
}

.signin-form .signin-container .signin-details .container .inp-group #state {
    width: 100%;
    font-size: 14px;
    color: #000000;
}

.signin-form .signin-container .signin-details .container .inp-group #city {
    width: 100%;
    font-size: 14px;
    color: #000;
}

.css-1dimb5e-singleValue {
    color: #000 !important;
    font-weight: 500;
}

.custom_style_input_pincode .form-content form label {
    display: flex;
    align-items: center;
    padding: 0rem;
    border: 0px;
    border-radius: 0px;
    width: auto;
    margin: 0 auto;
}

.city_style {
    width: 32%;
}

.pincode_style {
    width: 32%;
}

.custom_style_input_pincode .form-content form label input {
    padding-left: 0px;
    font-size: 14px;
    border: none;
    width: 100%;
    text-align: left;
    background: no-repeat;
}

.custom_style_input_pincode {
    padding: 10px 12px !important;
}

.style_verify {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.verify_text {
    color: red;
    font-size: 16px;
    cursor: pointer;
}

.signin-form .signin-container .margin-top {
    margin-top: 20px !important;
}

.signin-form .signin-container .signin-details .container .inp-group {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
}

.gender_desk {
    width: 32%;
}

.width-100 {
    width: 100%;
}

.signin-form .css-1oox8fc-control {
    border-radius: 30px !important;
}


@media(max-width: 768px) {
    .custom_style_input_add .form-content form label {
        display: flex;
        align-items: center;
        padding: 5px;
        border: 0px;
        border-radius: 0px;
        width: auto;
        margin: 0px;
    }

    .custom_style_input_add .form-content form label input {
        padding-left: 0px;
        font-size: 14px;
        border: none;
        background: no-repeat;
        width: 100%;
        text-align: left;
    }

    .country_signup {
        width: 100%;
    }

    .state_signup {
        width: 100%;
    }

    .city_style {
        width: 100%;
    }

    .pincode_style {
        width: 100%;
    }

    .signin-form .signin-container .signin-details .container .inp-group #country {
        // width: 100%;
        // font-size: 14px;
        // padding: 7px !important;
    }
    
    .signin-form .signin-container .signin-details .container .inp-group #state {
        // width: 100%;
        // font-size: 14px;
        // padding: 7px !important;
    }
    
    .signin-form .signin-container .signin-details .container .inp-group #city {
        // width: 100%;
        // font-size: 14px;
        // padding: 7px !important;
    }

    .country_signup .css-b62m3t-container .css-1oox8fc-control .css-1fdsijx-ValueContainer {
        padding: 8px !important;
    }

    .state_signup .css-b62m3t-container .css-1oox8fc-control .css-1fdsijx-ValueContainer {
        padding: 8px !important;
    }

    .city_style .css-b62m3t-container .css-1oox8fc-control .css-1fdsijx-ValueContainer {
        padding: 8px !important;
    }

    .custom_style_input_pincode {
        padding: 12px !important;
    }

    .signin-form .signin-container .custom_style_input_pincode {
        padding: 12px !important;
    }

    .gender_desk {
        width: 100%;
    }

    .signin-form .signin-container .signin-details .container .header-3 {
        font-size: 20px;
        text-align: center;
    }

    .signin-form .signin-container .signin-details .container .sub-header-3 {
        font-size: 12px !important;
        text-align: center;
    }
}

@media(min-width: 1359px) {
    .country_signup {
        width: 41%;
    }
    
    .state_signup {
        width: 41%;
    }
}

.signin-form .signin-container .signin-details .container .header {
    font-size: 28px;
    color: #181818;
    font-weight: 700;
    margin: 0.75rem 0 0.25rem 0;
}

.signin-form .signin-container .signin-details .container .header-3 {
    font-size: 26px;
    color: #181818;
    font-weight: 700;
    margin: 0.75rem 0 0.25rem 0;
}

.signin-form .signin-container .signin-details .container .sub-header-3 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}




//     width: 60%;
//     margin: 5rem auto 0;
//     text-align: center;
//     .form-content{
//         form{
//             margin-top: 20px;
//             label{
//                 @media screen and (max-width: 599px) {width: 90vw !important;}
//                 display: flex;
//                 align-items: center;
//                 border: 1px solid #bbb;
//                 padding: 1rem 2rem;
//                 width: 40%;
//                 text-align: left;
//                 border-radius: 50px;
//                 height: 40px;
//                 vertical-align: middle;
//                 margin: 2rem auto;
//             }
//             input{

//                 border: none;
//                 //margin-left: 1rem;
//                 font-size: 1.25rem;
//                 &:focus{
//                     border: none;
//                     outline: none;
//                 }
//             }
//             &:nth-child(2){
//                 border:none
//             }
//         }
//     }

//     .other-options{
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         border: none;
//         padding: 1rem 0;
//         font-size: 1.25rem;
//         color: #bbb;
//     }
//     .remember-me{
//         display: flex;
//         align-items: center;
//     }
//     .signin-btn{
//         display: flex;
//         justify-content: center;
//         gap: 10px;
//         border: none;
//         height: fit-content;
//         width: 100%;
//         text-align: center;
//         @media screen and (max-width: 599px) {margin-top:36px}

//         &>div{
//             @media screen and (max-width: 599px) {width: 90vw !important}
//             width: 250px;
//             margin: 0;  
//         }
//         a>div{
//             width: 250px;
//             margin: 0;
//         } 
//         .global-common-btn{
//             &:last-child{
//                 border: 3px solid #EA4335;
//             }
//         }
//     }
//     .social-logins{
//         width: 30%;
//         padding: 1rem 2rem;
//         border-radius: 50px;
//         margin: 1rem auto;
//         cursor: pointer;
//     }
//     .guest {
//         border: 3px solid black;
//         padding: 1.5rem;
//         font-weight: bold;

//     }
//     .google{
//         background-color: #EA4335;
//         color: white;
//     }
//     .facebook{
//         background-color: #4867AA;
//         color: #fff;
//     }
// }

// @media(max-width:900px){
//     .signin-form{
//         width: 70%;
//     }
// }
// @media(max-width:768px){
//     .signin-form{
//         width: 100%;
//         form{
//             label{
//                 width: 60%;
//             }
//         }
//         .social-logins{
//             width: 50%;
//         }
//     }
// }

// @media(max-width:480px){
//     .signin-form{
//         width: 100%;
//         form{
//             label{
//                 width: 60%;
//             }
//         }
//         .social-logins{
//             width: 90%;
//         }
//         .signin-btn{
//             border: none;
//             flex-wrap: wrap;

//             // .global-common-btn{
//             //     &:first-child{
//             //         padding: 1rem 7rem;
//             //     }
//             // }

//         }
//     }
// }