.user-profile {
  width: 100vw;
  height: 100vh;
}

.profile-grid {
  display: flex;
  padding: 5rem 20rem;
  height: 90%;
  gap: 3rem;

  .profile-nav {
    width: fit-content;
    height: 100%;

    .profile-nav-container {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 2rem 3rem;
      height: 100%;
      border: 1px solid #606060;
      border-radius: 24px;
      position: relative;

      .bottom-line {
        visibility: hidden;
        margin-bottom: 1rem;
      }

      // &:hover {
      //   border-bottom: 2px solid var(--brick-red);
      //  font-weight: 700;
      //   .bottom-line {
      //     visibility: visible;
      //   }
      // }
      .coming-soon {
        position: relative;

        &:hover {
          &::after {
            position: absolute;
            top: 6px;
            left: 110%;
            //background: #00000080;
            content: 'Coming Soon';
            color: #ca4625;
            font-size: 12px;
            font-weight: 500;
          }
        }

      }

      #profile-picture {
        width: 150px;
        height: 150px;
        background-color: #aaa;
        border-radius: 50%;
        margin-bottom: 2rem;
      }

      ul {
        list-style: none;
        padding-left: 0;

        li {
          font-size: 2rem;
          // font-weight: 700;
          margin: 0 0 2rem;
          cursor: pointer;
          width: fit-content;

          .bottom-line {
            visibility: hidden
          }

          ;

          &:hover {
            font-weight: 700;

            .bottom-line {
              visibility: visible;
            }
          }

        }
      }

      #edit-account {
        position: absolute;
        bottom: 20px;
      }
    }
  }

  .profile-data {
    width: 70%;
    height: 100%;

    .profile-overview {
      height: 100%;

      #order-list {
        display: flex;
        gap: 2rem;
        height: 100%;
      }
    }
  }
}

.testimony {
  width: 100%;
  height: 100vh;
}

.Alumini-heading {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 8px;
}

.Alumini-paragraph {
  font-size: 14px;
  color: rgb(119, 118, 118);
  margin-bottom: 5px;
}

.Alumini-text {
  border-radius: 10px;
  padding: 5px 5px;
  outline: none;
}

.Alumini-button {
  font-size: 14px;
  font-weight: 600;
  padding: 6px 20px;
  border: none;
  border-radius: 10px;
  background-color: #EA4335;
  color: white;
  cursor: pointer;
  position: relative;
  top: 25px;
  right: 85px;
}

@media (max-width:1200px) {
  .user-profile {
    height: auto;
  }

  .profile-grid {
    flex-wrap: wrap;
    padding: 5rem;

    .profile-nav {
      width: 100%;
      display: flex;
      justify-content: space-around;

      .profile-nav-container {
        flex-direction: row;
        justify-content: center;

        ul {
          display: flex;

          li {
            margin: 0 1rem;
          }
        }
      }

    }

    .profile-data {
      width: 100%;
    }
  }
}

@media(max-width:640px) {
  .profile-grid {
    .profile-nav {
      .profile-nav-container {
        flex-wrap: wrap;

        ul {
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media(max-width:500px) {
  .user-profile {
    padding: 2rem;
  }

  .profile-grid {
    .profile-nav {
      .profile-nav-container {
        justify-content: center;

        ul {
          justify-content: center;
          flex-wrap: wrap;
        }
      }
    }

    .profile-data {
      .profile-overview {
        #order-list {
          flex-wrap: wrap;
        }
      }
    }
  }
}

.course-card-de {
  padding: 12px;
  border-radius: 12px;
  background-color: #FFFFFF;
  margin-top: 12px;
  color: #181818;
  font-weight: 500;
  font-size: 14px;
}