.bullets {
  // margin-left: 2rem;
  margin-bottom: 3rem;
  li {
    margin-bottom: 1.5rem;
    font-size: 1.75rem;
    &::marker{
      font-size: 2rem;
    }
    p {
      margin-bottom: 1.5rem;
    }
  }
  ul{
    list-style: disc;
    margin-left: 3rem;
    .u_list{
      margin-bottom: 1rem;
    }
  }

}