.careers-page{
  .job-title{
      color: #fff;
  }
  .jobs-container{
      padding: 5rem;
      text-align: center;
      h1{
          display: inline-block;
          margin: 0 auto;
      }
      .jobs-card-container{
          display: grid;
          grid-template-columns: repeat(3,1fr);
          justify-content: center;
          box-sizing: border-box;
          width: 70%;
          margin: 0 auto;
          margin-top: 3rem;
      }
      .our-card-btn{
          color: #fff;
          border-color: #fff;
      }
  }
}
.job-description{
    display: flex;
    justify-content: center;
    gap: 5rem;
    width: 70%;
    margin: 0 auto;
    margin-top: 5rem;
    &>div{
        img{
            width: 360px;
            height: 330px;
            margin-top: 20px;
        }
    }
}
.job-info h1{
    display: inline-block;
}

.job-application{
    display: flex;
    gap: 5rem;
    width: 70%;
    margin: 0 auto;
    .job-requirements{
        width: 400px;
        ul{
            list-style: none;
            font-size: 1.25rem;
            padding-left: 0;
            li{
                margin: 0.75rem 0;

                span{
                    color: red;
                }
            }
        }
    }
    .job-form{
        width: 100%;
        form{
            width: 80%;
            margin: 1rem 5rem;
        }
        fieldset{
            border: none;
            margin-bottom: 15px;
            input{
                width: 100%;
                box-sizing: border-box;
                padding: 1.5rem 2rem;
                font-size: 1.25rem;
                border: 2px solid #000;
                color: #000;
                border-radius: 50px;
            }
            #apply{
                width: 200px;
                float: right;
                background-color: #fff;
            }
        }
        .uploads{
            display: flex;
            justify-content: space-between;
            width: 100%;
            &>fieldset{
                width: 49%;
                small{
                    margin-top: 10px;
                    margin-bottom: 20px;
                }
            }
            label{
                width: 100%;
                display: block;
                box-sizing: border-box;
                padding: 1rem 2rem;
                font-size: 1.25rem;
                border: 2px solid #000;
                color: #000;
                border-radius: 50px;
                text-align: center;
                input{
                    display: none;
                }
            }
            small{
                color: #121111;
                float: right;
                padding-right: 2rem;
                font-size: 0.9rem;
            }
        }
    }
    ul{
        width: 400px;
    }
}
@media(max-width:900px){
    .job-description{
        flex-direction: column;
        &>div{
            img{
                width: 70%;
                height: auto;
                margin: 0 auto;
            }
        }
        .job-img{
            text-align: center;
        }
    }
    .job-application{
        flex-direction: column;
        ul{
            width: 100%;
            box-sizing: border-box;
            li{
                box-sizing: border-box;
            }
        }
        .job-requirements{
            width: 100%;
        }
        .job-form{
            form{
                width: 100%;
                margin: 0;
                fieldset{
                    input{
                        padding: 2rem;
                    }
                }
                .uploads{
                    label{
                        padding: 2rem;
                    }
                }
            }
        }

    }
    .job-application .job-form form {
        padding: 0px !important;
    }
}

@media (max-width:500px) {
    .job-application .job-form form .uploads label {
        padding: 1rem;
    }

}

@media (max-width: 1800px) {
    .job-application .job-form form {
        padding: 1rem 2.5rem;
    }
}

@media (max-width: 1350px) {
    .job-application .job-form form {
        padding: 1rem 4.5rem;
    }
}