//benifits
.content-container {
    display: grid;
    grid-template-columns: 50% 50%;
    // gap: 5rem;
}
// .pd-career {
//     // padding: 10rem;
// }
.text-content {
    padding: 2rem 5rem 0 0;
    font-size: 1.5rem;
}
.banner-heading {
    margin: 0;
    font-size: 2.5rem;
    width: max-content;
    font-weight: bolder;
}
.bottom-line {
    height: 3px;
    border-radius: 200%;
    width: 100%;    
    background: #BC4F31;
    background: linear-gradient(90deg,#fff,#BC4F31,#BC4F31,#fff);
    // margin-top: 0.5rem;
    margin-bottom: 1rem;
}
.image-content {
    padding: 1rem;
}
.image-content img {
border-radius: 50px;
width: 95%;
margin-left: 5%;
}

.Benefits-container ~ .content-container{
    p{
        margin-bottom: 10px;
    }
}

@media (max-width: "900px") {
    .image-content {
        padding: 0
    }
    .text-content {
        font-size: 1.3rem;
    }
}
@media (max-width: "768px") {
.content-container {
    grid-template-columns: 1fr;
}
.text-content {
    padding: 5rem;
    text-align: center;
}
.banner-heading {
    margin: 0 auto;
}
.pd-career {
padding: 5rem;
}
}

//our-career
.career-cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    max-width: 1100px;
    gap: 10.69px;
    margin: 0px auto;
}
.bh-center {
    margin: 0 auto 2rem auto!important ;
}
@media(max-width:'832px'){
    .career-cards {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: "768px") {
    .career-cards {
        grid-template-columns: 1fr;
        gap: 3rem;
    }
}