.museum-heading {
    margin-top: 5rem;
    .heading-container {
        .heading-text {
            margin-left: -2rem;
        }
    }
    .custom-border {
        margin-top: 1rem;
        width: 100%;
        height: 5px;
        border-radius: 90%;
        background-color: var(--brick-red);
    }
}
.museum-container {
    overflow-x: hidden;

    .museum-card-wrapper {
        margin-top: 5rem;
        .museum-card {
            display: grid;
            grid-template-columns: 25% 50% 25%;
            gap: 2%;
            // height: 530px;
            margin-left: -5rem;
            .museum-card-image {
                background-image: url("../../assets/images/museum1_.jpg");
                position: relative;
                background-size: cover;
                width: 100%;
                // min-height: 320px;
                min-height: 450px;
                border-radius: 25px;

                &:nth-child(1) {
                    opacity: 0.5;
                    background-image: url("../../assets/images/museum1_.jpg");
                }
                &:nth-child(3) {
                    opacity: 0.5;
                    background-image: url("../../assets/images/museum1_.jpg");
                }
                .global-common-btn {
                    margin: 3rem auto;
                }
            }
        }
        .vt_text{
                width: 50%;
                margin: 0 auto;
                text-align: center;
                font-weight: 500;
                margin-top: 3rem;
        }
        .global-common-btn{
            margin: 2rem auto;
        }
    }
}

@media (max-width: 1800px) {
    .museum-container {
        .museum-card-wrapper {
            .museum-card {
                grid-template-columns: 25% 50% 25%;
                gap: 2%;
                // .museum-card-image {
                //     height: 80%;

                //     p {
                //         width: 75%;
                //         margin: 0 auto;
                //         text-align: center;
                //         margin-top: 800px;
                //     }
                // }
            }
        }
    }
}

@media (max-width: 900px) {
    .museum-heading {
        .custom-border {
            border-radius: 90% !important;
        }
    }
    .museum-container {
        .museum-card-wrapper {
            .museum-card {
                grid-template-columns: 100%;
                margin-left: 0;
                .museum-card-image {
                   &:first-child{
                       display: none;
                   }
                   &:last-child{
                       display: none;
                   }
                }
                // &:first-child{
                //     display: none;
                // }
                // &:last-child{
                //     display: none;
                // }
            }
        }
    }
}
// @media (max-width:500px){
//     .museum-container{
//         .museum-card-wrapper{
//             .museum-card{

//     .museum-card-image{
//         // height: 200px;
//         // grid-template-columns: 30% 40% 30%;
//         gap: 2%;

//     }}}}

// }
