.pop-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100vh;
  video{
    min-width: 100vw;
    max-width: 100vw;
    object-fit: fill;
    height: 100%;
  }
  #play-pause{
    position: relative;
    top: -50px;
    right: 8rem;
    float: right;
    background: #00000000;
    padding: 1rem;
    border-radius: 50%;
    border: none;
    outline: none;
  }
  #mute-unmute{
    @extend #play-pause;
    right: 12rem;
  }
}

.mobile-pop-video{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  object-fit: fill;
  display: none;
  video{
    min-width: 100vw;
    max-width: 100vw;
    object-fit: fill;
    height: 100%;
  }
  #play-pause{
    position: relative;
    top: -50px;
    right: 4rem;
    float: right;
    background: #00000000;
    padding: 1rem;
    border-radius: 50%;
    border: none;
    outline: none;
  }
  #mute-unmute{
    @extend #play-pause;
    right: 6rem;
  }
}

@media(max-width:768px){
  .mobile-pop-video{
    display: block;
    height: 650px;
  }
  .pop-video{
    display: none;
  }
}
video::-webkit-media-controls-fullscreen-button {
  display: none;
}
audio::-webkit-media-controls-timeline,
video::-webkit-media-controls-timeline {
    display: none;
}
video::-webkit-media-controls-current-time-display { display: none }
