.publication-card{
    width: 320px;
    min-width: 320px;
    margin: 0 auto;
    // height: 630px;
    border-radius: 60px;
    background-color: #fff;
    overflow: hidden;
}
.book-image{
    width: 100%;
    // height: 60%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    &>img{
        width: 100%;
        height: 100%;
        // background-color: gray;
        object-fit: fill;
    }
    &>h4{
        font-weight: bold;
        position: absolute;
        font-size: 1.7rem;
        bottom: 5%;
        right: 5%;

    }
}
.book-details{
    width: 100%;
    // height: 40%;

    // height: 150px;
    // border-radius: 0  0 60px 60px;
    padding: 2rem;
    box-sizing: border-box;
    &>p{
        font-size: 1.75rem;
        font-weight: 700;
        color: #fff;
        min-height: 60px;
    }
    .global-common-btn{
        margin-left: auto;
        margin-right: 0;
        margin-top: 0px;
        padding: 1rem 1.5rem;
        color: #fff;
        border-color: #fff;
    }
}

// @media(max-width:1600px){
//     .publication-card{
//         height: 500px;
//     }
// }

// @media(max-width:768px){
//     .publication-card{
//         width: 100%;
//         height: 400px;
//     }
// }
// @media(max-width:420px){
//     .publication-card{
//         height: 450px;
//     }
// }