
.main-container{
.title-heading{
  padding-bottom: 2rem;
  &>.heading-container{
    margin-left: 11rem;
    margin-top: 4rem;
  }}
  .content-container{
    display: flex;
    margin-left: 11rem;
    gap: 6rem;
    .text-container{
    width: 39%;
    font-size: 1.75rem;
    }
    .image-con{
     .img{
      width: 770px;
      height: 600px;
      border-radius: 50px;
      border-bottom: 50px;  
      }  
    }
  }

  .slide {
  padding: 1.5%;
  width: 86%;
  margin-left: 8.5rem;
  margin-top: 1rem;
  .slick-next{
    right:1.5rem;
  }
  .slick-prev{
    left: 0.5rem;
    z-index: 999;
  }
  .slick-prev:before{
    font-size: 25px;
   
  }
  .slick-next:before{
    font-size: 25px;
  } 
  .options {
  // padding:5px;
  .blessing {
    width: 369px;
    height: 369px;
  }
  }
  }

.donate-text {
  font-size: 1.75rem;
}
.back-caraousel{
  background-color:#F4F4F4;
  .carousel-text{
    width: 100%;
    padding: 4rem;
    margin: auto;
    width: 60%;
    .carousel-heading{
      .custom-border{
        margin-top: 0.3rem;
       }
    }
  }
}

.support{
  width: 55rem;
  padding: 20px;
  margin: auto;
  .support-head{
    .custom-border{
      margin-top: 0.3rem;
     }
  }
  .donate-text{
    padding: 2rem;
  }
}
.donate-btn{
  display: flex;
  justify-content: center;
  padding: 2rem;

.donate-button{
  width: 10rem;
  height: 3rem;
  border-radius: 5rem;
  border: 0rem solid transparent;
  background-color: #CC4625;
  color: white;
  font-size: larger;
  cursor: pointer;
}

}
.alumini-carousel-data{
 padding: 2rem;
.carousel-head{
  display: flex;
  justify-content: center;
  font-size: x-large;
  font-weight: bolder;
}
}
}

@media only screen and (max-width:576px) {
  .main-container{
    .title-heading{
      // margin: 2rem;
    }
    .content-container{
      display: block;
      
      .text-container{
       width:70%;
      }
      .image-con{
        .img{
          width: 25rem;
          height: 20rem;
        }
      }
    }
    .slide{
      width: 70%;
      .options-container{
        .options{
          width: 20px;
        }
      }
    }
    .arrows{
      .alumini-carousel-detail{
      .carousel-head{
        width: 200px;
      }
    }
    }
    .support{
      width: 90%;
    }
  }
}


@media only screen and (max-width:768px) {
  .main-container{
    .title-heading{
      // margin: 2rem;
    }
    .content-container{
      display: block;
      
      .text-container{
       width:73%;
      }
      .image-con{
        padding-top: 2rem;
        img{
          width: 55rem;
          height: 38rem;
        }
      }
    }
    .slide{
      width: 70%;
      .options-container{
        .options{
          width: 20px;
        }
      }
    }
    .back-caraousel{
     .carousel-heading{
      margin-right: 10rem;
     }
    
    .arrows{
      width: 100%;
      
      .alumini-carousel-detail{
      .carousel-text{
        margin-right: 2rem;
      }
    }
    }
    .support{
      .support-head{
        margin-right: 6rem;
      }
    }
  }
  .support{
    margin-left: 11rem;}
}
}

//
@media only screen and (max-width:992px) {
  .main-container{
    .title-heading{
      margin-left: 22rem;
    }
    .content-container{
      display: block;
      
      .text-container{
       width:88% ;
      }
      .image-con{
        padding-top: 2rem;
        img{
          width: 70rem;
          height: 50rem;
        }
      }
    }
    .slide{
      width: 80%;
      .options-container{
        .options{
          width: 20px;
        }
      }
    }
    .back-caraousel{
     .carousel-heading{
      margin-right: 10rem;
     }
    
    .arrows{
      width: 100%;
      
      .alumini-carousel-detail{
      .carousel-text{
        margin-right: 2rem;
      }
    }
    }
    .support{
      .support-head{
        margin-right: 6rem;
      }
    }
  }
  .support{
    margin-left: 18rem;}
}

}
///
@media only screen and (max-width:1200px) {
  .main-container{
    .title-heading{
      // margin-left: 35rem;
    }
    .content-container{
      display: block;
      
      .text-container{
       width:88% ;
      }
      .image-con{
        padding-top: 2rem;
        img{
          width: 95rem;
          height: 57rem;
        }
      }
    }
    .slide{
      width: 83%;
      .options-container{
        .options{
          // width: 200px;
        }
      }
    }
    .back-caraousel{
     .carousel-heading{
      margin-right: 10rem;
     }
    
    .arrows{
      width: 100%;
      
      .alumini-carousel-detail{
      .carousel-text{
        margin-right: 2rem;
      }
    }
    }
    }
  
  .support
  {
    margin-left: 30rem;}
}

}