.offering-heading {
  font-style: 3rem;
  font-weight: bolder;
  padding-left: 10rem;
  margin-top: 3rem;
}
.line
{
  color: rgb(184, 62, 62);
  width: 12.5%;
  margin-left: 10rem;
  margin-top: 0.5rem;
}
.offering-para1 {
  display: flex;
  padding: 2rem 10rem;

  .para1 {
    font-size: 1.5rem;
    flex: 2;
    width: 60%;
    padding-right: 3rem;
  }
  .para1-img{
    flex: 1;
    width: 40%;
    height: 215px;
    margin-bottom: 25px;
    margin-top: -2rem;
  }
}
.offering-para2
{
  display: flex;
  // padding: 2rem 10rem;
  .para2-img{
    flex: 1;
    width: 40%;
    height: 150px;
    margin-bottom: 25px;
    padding-right: 5rem;
    padding-left: 10rem;
  }
  .para2 {
    font-size: 1.5rem;
    flex: 2;
    width: 60%;
    padding-right: 8rem;
  }
  

}
@media(max-width:900px)
{
  .offering-para1
  {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .para1
    {
      width: 100%;
    }
    .para1-img
    {
      margin: auto;
      width: 80%;
      padding-top: 2rem;
    }
  }
  .offering-para2
  {

  }

}
