.banner-container {
  text-align: center;
  .experience-banner-heading {
    display: inline-block;
    margin: 0 auto;
    font-size: 2.5rem;
    font-weight: bolder;
    .experience-bottom-line {
      height: 4px;
      border-radius: 200%;
      width: 100%;
      background: linear-gradient(
        90deg,
        transparent,
        #ca472d,
        #ca472d,
        transparent
      );
      margin-top: 0.5rem;
      margin-bottom: 1rem;
    }
  }
}
.exp-search {
  text-align: center;
}

.cards {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, 1fr);
  margin: 3rem 10px 10px;

  .carding {
    display: flex;
    justify-content: center;
    // align-items: center;
    padding: 20px;
    border: none;
    background-color: #ffffff;
    margin: 10px 10px;
    .left {
      img {
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 10px;
      }
    }
    .right {
      padding: 20px 10px;
      .heading {
        font-size: 1.6rem;
        font-weight: bold;
        padding-left: 10px;
      }
      span {
        display: block;
        color: #cc4d2e;
        font-size: 1.6rem;
        font-weight: bold;
        margin-bottom: 20px;
        padding-left: 10px;
      }

      .content {
        font-size: 1.4rem;
        padding: 0 0 20px 10px;
        text-align: justify;
      }
    }
  }
}

@media (max-width: '900px') {
  .cards {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 10px;
  }
}

@media (max-width: '500px') {
  .cards {
    .carding {
      display: flex;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap;
      .right {
        text-align: center;
        .content {
          text-align: justify;
        }
      }
    }
  }
}
