.inner-nav-container {
  width: 90%;
  margin: 0rem auto 0 auto;
  padding-top: 3rem;
  //color:#fff;
  box-sizing: border-box;
  a {
      text-decoration: none;
      color: black;
  }
  ul {
      display: flex;
      width: 70%;
      align-items: center;
      justify-content: center;
      list-style: none;
      margin: 0 auto;
      padding: 0;
      a{
        &:last-child{
            li{
                border: none!important;
            }
        }
      }

  }
  ul li {
      font-size: 1.5rem;
      // margin: 0 0.5rem;
      
      padding: 0 0.7rem;
 
  }
  .mega-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
      width: 100%;
  }
  .nav-active {
      font-size: 1.7rem;
      font-weight: bolder;
  }
  .hamburger {
      cursor: pointer;
  }
  }
  .career-navigation-sm {
      display: none;
  }
  .user-container{
      display: flex;
      gap:10px;
  }
  #toggles{
    position: relative;
    a{
        color:#fff;
            &:last-child{
                li{
                    border: none!important;
                }
            }
    }
    ul li {
        border-color: #fff;
        border-right: 1px solid #fff;

    }
    #gallery-toggle{
        position: absolute;
        right: 0%;
        color: rgb(255, 255, 255);
        width: fit-content;
    }
  }
  
  @media (max-width: "900px") {
      .common-nav-container {
          margin: 1rem auto 0 auto;
          ul {
              width: 80%;
              li {
                  font-size: 1.3rem;
              }
          }
          // .main-logo {
          //     display: none;
          // }
      }
  }
  @media (max-width: "768px") {
          .main-logo {
              display: none;
          }
          .career-navigation-lg {
              display: none;
          }
          .career-navigation-sm {
              display: flex;
              width: 100%;
              ul {
                  width: 100%;
                  flex-wrap: wrap;
                  justify-content: right;
              }
          }
          .nav-active {
              font-size: 1.3rem;
          }
          .user-container {
              display: none;
          }
  }
  @media (max-width: "480px") {
      .common-nav-container {
          ul {
              li {
                  font-size: 1rem;
              }
          }
          .nav-active {
              font-size: 1.2rem;
          }
      }
  }