.ourfacts-container {
  padding-bottom: 3rem;
  padding-top: 0;

  .divider {
    margin-top: 3rem;
    width: 100%;
    text-align: center;

    svg {
      width: 40%;
    }
  }
}
.ourfacts-header-text{
  .heading-container{
    margin-bottom: 30px;
  }
  .decades-option{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 150px;
    height: 150px;
    cursor: pointer;
    margin: 0 auto;

    &.selected {
        border-radius: 100px;
        border: 5px solid transparent;
        opacity: 1;
    }
    &.other-0 {
        opacity: 0.75!important;
    }
    &.other-1 {
        opacity: 0.75!important;
    }
    &.other-2 {
        opacity: 0.50!important;
    }
    &.other-3 {
        opacity: 0.25!important;
    }
}

}
.ourfacts-header {

  //   display: grid;
  //   grid-template-columns: 70% 30%;
  //   margin-right: 10%;
  // p {
  //   margin-top: 2rem;
  // }


 .our-facts-text{
   margin: 10rem 0;
   display: flex;
  //  flex-wrap: wrap;
   //align-items: center;
   justify-content:space-between;
   text-align: center;

   .decade-year{
     flex: .35;
    
     span{
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       width: 200px;
       height: 200px;
      border: 8px solid rgb(202, 70, 37);
       border-radius: 50%;
       font-size: 2.5rem;
       font-weight: bolder;
       margin: 0 auto;
     }
     
     
   }
   .decade-para{
     flex: .65;
        text-align: left; 
        p{
          margin-bottom: 10px;
        }
   }
 }
}

.ourfacts-gallery {
  //background-color: coral;
  background: #D58173;
  margin-top: 3rem;
  padding: auto;

  .ourfacts-gallery-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.5%;
    grid-template-areas:
      "img1 img3 img3 img4 img6 img6"
      "img2 img3 img3 img5 img6 img6";

    img {
      width: 100%;
      // height: 100%;
      object-fit: cover;
    }
  }

  // .grid-img-3{
  //   grid-column: span 2;
  //   grid-row: span 2;
  // }
  .grid-img-1 {
    grid-area: img1;
    height: 200px;
  }

  .grid-img-2 {
    grid-area: img2;
    height: 200px;

  }

  .grid-img-3 {
    grid-area: img3;
    height: calc(400px - 0px);

  }

  .grid-img-4 {
    grid-area: img4;
    height: 200px;
  }

  .grid-img-5 {
    grid-area: img5;
    height: 200px;
  }

  .grid-img-6 {
    grid-area: img6;
    height: calc(400px - 0px);
  }

  .slider {
    padding: 3rem 0 0;

    input[type=range] {
      -webkit-appearance: none;
      /* Hides the slider so that custom slider can be made */
      width: 90%;
      /* Specific width is required for Firefox. */
      background: transparent;
      /* Otherwise white in Chrome */
      display: block;
      margin: 0 auto;
    }

    input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
    }

    input[type=range]:focus {
      outline: none;
      /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
    }

    input[type=range]::-ms-track {
      width: 100%;
      cursor: pointer;

      /* Hides the slider so custom styles can be added */
      background: transparent;
      border-color: transparent;
      color: transparent;
    }

    input[type=range]::-webkit-slider-runnable-track {
      width: 100%;
      height: 1px;
      cursor: pointer;
      box-shadow: 1px 1px 1px #aaa, 0px 0px 1px #aaa;
      background: #aaa;
      border-radius: 1.3px;
      border: 0.2px solid #aaa;
    }

    input[type=range]:focus::-webkit-slider-runnable-track {
      background: #aaa;
    }

    input[type=range]::-moz-range-track {
      width: 100%;
      height: 1px;
      cursor: pointer;
      background: #aaa;
      border-radius: 1.3px;
      border: 0.2px solid #aaa;
    }

    input[type=range]::-ms-track {
      width: 100%;
      height: 1px;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      border-width: 16px 0;
      color: transparent;
    }

    input[type=range]::-ms-fill-lower {
      background: #aaa;
      border: 0.2px solid #aaa;
      border-radius: 2.6px;
    }

    input[type=range]:focus::-ms-fill-lower {
      background: #aaa;
    }

    input[type=range]::-ms-fill-upper {
      background: #aaa;
      border: 0.2px solid #aaa;
      border-radius: 2.6px;
    }

    input[type=range]:focus::-ms-fill-upper {
      background: #aaa;
    }

    /* Special styling for WebKit/Blink */
    input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
      border: 2px solid var(--brick-red);
      height: 20px;
      width: 20px;
      border-radius: 100px;
      background: #fff;
      cursor: pointer;
      margin-top: -10px;
      /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */

    }

    /* All the same stuff for Firefox */
    input[type=range]::-moz-range-thumb {

      border: 2px solid var(--brick-red);
      height: 20px;
      width: 20px;
      border-radius: 100px;
      background: #fff;
      cursor: pointer;
    }

    /* All the same stuff for IE */
    input[type=range]::-ms-thumb {
      border: 2px solid var(--brick-red);
      height: 20px;
      width: 20px;
      border-radius: 100px;
      background: #fff;
      cursor: pointer;
    }
  }
}

@media (max-width:900px) {
  .ourfacts-container {
    .divider {
      margin-top: 2rem;
      width: 100%;
      text-align: center;

      svg {
        width: 90%;
      }
    }
  }

  .ourfacts-header {
    grid-template-columns: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    .ourfacts-header-text{
      .our-facts-text{
        flex-wrap: wrap;
        flex-direction: column;
        .decade-para{
          width: 100%;
        }
      }
    }
  }

  .ourfacts-header p {
    width: 80%;
    margin: 2rem auto;

  }
}

.ourfacts-text{
  // grid-template-columns: 50% 40%;
  padding: 2rem;
}