.Dates-dropdown{
  border: none;
  .Select-dropdown{
    &:focus-visible{
      outline: white;
    }
  }
}

@media(max-width:620px){
  .course-card{
      width: 100%;
  }
  .Select-dropdown{
      border-color: white;
      cursor: pointer;
      margin-top: 2rem;
      position: relative;
      display: flex;
      // left: rem;
  }
}