.nav-container{
    ul{
        
        li{
            font-size: 1.2rem;
            float: right;
            list-style: none;
            display: inline;
            font-weight: 500;
            // margin-top: 10px;
            cursor :pointer;
        }
    }
}