.form-content{
  form{
    label{
      display: flex;
      align-items: center;
      padding: 1rem;
      border: 1px solid #606060;
      border-radius: 20px;
      width: 40%  ;
      margin: 0 auto;
      svg{
        width: 30px!important;
        height: 30px!important;
        
      }
  
      input{
        padding-left: 20px;
        font-size: 1.8rem;
        border: none;
        width: 100%;
        
       
        
      }
      input:focus{
        outline: none;  
      }
    }
  }
  
}