.course-card{
    display: inline-block;
    width: 350px;
    position: relative;
    flex: 1;
    img{
        // object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .course-card-image{
        position: relative;
        margin-bottom: -3.5px;
        height: 200px;
        .stars{
            position: absolute;
            display: flex;
            justify-content: space-between;
            width: 30%;
            bottom: 1rem;
            left: 2rem;
        }
    }

    .course-card-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
        color: #fff;
        padding: 2rem;
        height: 20rem;
        h4{
            font-weight: 700;
            min-height: 4rem;
            width: 110%;
        }
        h3{
            font-size: 1.25rem;
            margin: 1rem auto;
        }
        a{
            color: #fff;
            text-decoration: none;   
        }
        .global-common-btn{
            border-color: white;
            cursor: pointer;
        }
    }
}

@media(max-width:620px){
    .course-card{
        width: 100%;
    }
}