.enrollment_container {
  height: 95%;
  width: 95%;
  border: 1px solid black;
  border-radius: 94px;
  margin: 2%;
  justify-content: center;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .student {
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 15px;
  }
  .header {
    grid-column: 1/7;
    margin-left: 60px;
    margin-top: 40px;
    font-size: 25px;
    cursor: pointer;
    .header_ul {
      display: flex;
      list-style: none;
      flex-wrap: wrap;
      justify-content: flex-start;
      li {
        position: relative;
        font-size: 2rem;
        padding: 0 18px;
        border-right: 2.5px solid black;
        .bottom-line {
          margin: 0;
          position: absolute;
          left: 0;
        }
        &:last-child {
          border: none;
        }
        &:first-child {
          padding-left: 0;
        }
      }
    }
  }
}