.shop {
  padding-bottom: 2rem;
  .slick-dots {
    bottom: -5px !important;
  }
  .shop-page {
    width: 90%;
    margin: 0 auto;
    .shop_pagination{
      margin: 2rem auto;
      .pagination{
          list-style: none;
          display: flex;
          justify-content: center;
          width: 100%;
          li{
            font-size: 2rem;
            padding: 0 1rem;
            background-color: #eee;
            margin: 0 2rem;
            cursor: pointer;
            &:hover{
              background: #96bcee80;
              color: #fff;
            }
          }
          .active{
            background-color: #96bcee;
            color: #fff;
          }
      }
    }
  }
  .category-search {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 2rem 0;
    padding: 0 1rem;
    .shop_categories {
      font-size: 1.5rem;
      width: 250px;
      font-weight: 700;
      // margin-left: 2rem;
      border: none;
      // background: none;
      background-color: #eee;
      padding: 0 1rem;
      border-radius: 50px;
      // padding-right: 10px;

      &:focus{
        border: none;
      }
      &:focus-visible{
        border: none;
      }
      option{
        background-color: var(--primary-color);
      }
    }
    .shop_search {
      h1::after {
        display: inline-block;
        content: '\25BC';
        height: 10px;
        width: 5px;
        margin-right: 12px;
        color: var(--brick-red);
        transform: rotate(-90deg);
        vertical-align: middle;
        margin-top: 2.5rem;
        font-size: 3rem;
      }
      .search-bar {
        width: 25%;
      }
      label {
        display: inline-block;
        min-width: 250px;
        width: 280px;
        padding: 0.25rem 1rem;
        border: 1px solid #60606080;
        border-radius: 50px;
        font-size: 1.75rem;
        box-sizing: border-box;
        input {
          border: none;
          box-shadow: none;
          width: 90%;
          font-size: 1.5rem;
          padding-left: 1rem;
          color: #121212;
          &:focus-visible {
            border: none;
            outline: none;
            box-shadow: none;
          }
          &::placeholder {
            font-size: 1.5rem;
            color: #60606080;
          }
        }
        svg {
          float: inline-end;
          width: 20px;
          path {
            fill: #aaa !important;
          }
        }
      }
    }
  }
  .products-section {
    background: #eeeeee;
    padding: 5rem;
    border-radius: 36px;
   
    
  }
  .banner-section{
    .slick-slider .slick-list{
      border-radius: 36px !important;
    }
    .slick-slider img{
      width: 100%;
      border-radius: 36px!important;
    }
  }
  .banner {
    width: 90%!important;
    margin: 0 auto;
    height: 250px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    .banner-img {
      width: fit-content;
      height: 100%;
      background-color: #aaaaaa80;
      color: #aaa;
      border-radius: 24px !important;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 4rem;
      font-weight: 700;
    }
  }
  .products-tray {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    .card{
      cursor: pointer;
    }
  }
}

